<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />

</head>
<style>
	.long_text {
		word-break: break-all;
		white-space: normal;
		width: 180px;
		max-width: 180px;
		overflow: hidden;
	}
</style>
<body class="is-preload">

<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">마이페이지</p>
			<p id="subText">쪽지함</p>
		</header>
	</div>

	<div class="inner">

		<!-- Content -->
		<div class="content">

			<!-- 게시글 리스트 띄우는 테이블 -->
			<table class="list" style="text-align: center;">
				<tr style="background-color: #fff;">
					<td colspan="6">
						<div style="float: left;">
							<div id="messageAll" class="button cate now_cate message ctBtncolor" style="margin-right: 10px;">전체보기</div>
							<div id="messageSend" class="button cate not_cate message ctBtncolor" style="margin-right: 10px;">보낸쪽지함</div>
							<div id="messageReceive" class="button cate not_cate message ctBtncolor" style="margin-right: 10px;">받은쪽지함</div>
							<div id="u_t_matching" class="button cate not_cate message ctBtncolor" style="margin-right: 10px;">매칭쪽지함</div>
						</div>
						<div style="float: right;">
							쪽지 개수 : [[${pageMaker.total}]]
							<a style="margin-left: 10px;" class="write button small btnColor" th:href="${'/board/write'+pageMaker.cri.listLink}">쪽지 보내기</a>
						</div>
					</td>
				</tr>
				<tr class="special-row" style="background-color: #fff;">
					<td class="long_text" style="width: 8%;">번호</td>
					<td class="long_text" style="width: 8%;"></td>
					<td class="long_text" style="width: 15%;">보낸사람</td>
					<td class="long_text" style="width: 15%;">받는사람</td>
					<td class="long_text">내용</td>
					<td class="long_text" style="width: 22%;">날짜</td>
				</tr>
				<tr th:if="${list != null and list.size()>0}" th:each="message : ${list}">
					<td class="long_text">[[${message.messageNum}]]</td>
					<td class="long_text">
						<sup class="new" th:if="${newly_Message[messageStat.index] == 'O'}">New</sup>
					</td>
					<td class="long_text">[[${message.sendId}]]</td>
					<td class="long_text">[[${message.receiveId}]]</td>
					<td class="long_text">
						[[${message.messageContent}]]
					</td>
					<td class="long_text">
						[[${message.sendDate}]]
					</td>
				</tr>
				<th:block th:if="${list == null or list.size() == 0}">
					<tr>
						<td colspan="6" style="text-align: center; font-size: 20px;">쪽지가 없습니다.</td>
					</tr>
				</th:block>
			</table>
			<br>	<!-- 페이징 처리하는 테이블 -->
			<table class="pagination none_color_table">
				<tr align="center" valign="middle">
					<td>
						<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>
						<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
							<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>
							<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>
						</th:block>
						<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>
					</td>
				</tr>
			</table>
			<form id="searchForm" th:action="@{/trainermypage/trainer_messagelist}">
				<div class="search_area flex">
					<select name="type" style="width: 30%; margin-right:10px;">
						<option value="" th:selected="${pageMaker.cri.type == null}">검색</option>
						<option value="C" th:selected="${pageMaker.cri.type == 'C'}">내용</option>
						<option value="S" th:selected="${pageMaker.cri.type == 'S'}">보낸사람</option>
						<option value="R" th:selected="${pageMaker.cri.type == 'R'}">받은사람</option>
						<option value="SR" th:selected="${pageMaker.cri.type == 'SR'}">보낸사람 또는 받은사람</option>
					</select>
					<input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" style="margin-right:10px;">
					<a href="#" class="button btnColor">검색</a>
				</div>
				<input type="hidden" value="1" name="pagenum">
				<input type="hidden" value="10" name="amount">
			</form>
		</div>

		<form name="pageForm" id="pageForm" th:action="@{/trainermypage/trainer_messagelist}">
			<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
			<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
			<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
			<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
			<input type="hidden" name="message" th:value="${param.message}">
		</form>

		<form name="messageForm" id="messageForm" th:action="@{/trainermypage/trainer_messagelist}"></form>


		<!-- Sidebar -->
		<div class="sidebar">
			<section>
				<div class="boardRanking">
					<div class="boardRanking_ranking">
						<table style="width: 90%;">
							<tr><td><a href="/trainermypage/trainer_modify">내 정보 수정</a></td></tr>
<!--							<tr><td><a href="/usermypage/user_diary">나의 다이어리</a></td></tr>-->
							<tr><td><a href="/trainermypage/trainer_challenge">나의 챌린지</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_mysubscribeuser">구독 유저</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_subbookmark">북마크</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_boardlist">내 게시물</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_messagelist" style="color: #5a8100; font-size: 20px;">쪽지함</a></td></tr>
							<tr><td><a th:href="@{/trainermypage/trainer_myprofile (trainerId=${loginUser})}">트레이너 프로필</a></td></tr>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>

</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>


<script th:inline="javascript">
	const searchForm = $("#searchForm");
	const pageForm = $("#pageForm");

	const cate = document.querySelectorAll('.cate');
	let nowCate = document.querySelector('.now_cate');

	cate.forEach(function(btn) {
		btn.addEventListener('click', function() {
			if (btn.classList.contains('now_cate')) {
			 return;
			}

			btn.classList.remove('not_cate');
			btn.classList.add('now_cate');

			nowCate.classList.remove('now_cate');
			nowCate.classList.add('not_cate');

			nowCate = btn;
		});
	});

	$(".changePage").on("click",function(e){
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		if(pageForm.find("input[name='message']").val() == "" || pageForm.find("input[name='message']").val() == null){
			pageForm.find("input[name='message']").val("messageAll");
		}
		let pagenum = $(this).attr("href");
		pageForm.find("input[name='pagenum']").val(pagenum);
		pageForm.submit();
	});

	$(".get").on("click",function(e){
		e.preventDefault();
		let boardnum = $(this).attr("href");
		let url=/*[[@{/board/get}]]*/'';
		pageForm.append("<input type='hidden' name='boardnum' value='"+boardnum+"'>")
		pageForm.attr("action",url);
		pageForm.attr("method","get");
		pageForm.submit();
	})

	$("#searchForm a").on("click",sendit);
	function sendit(){
		if(!searchForm.find("option:selected").val()){
			alert("검색 기준을 선택하세요!");
			return false;
		}
		if(!document.getElementById("keyword").value){
			alert("키워드를 입력하세요!");
			return false;
		}
		searchForm.submit();
	}

	const messageForm = $("#messageForm");
	$(".message").on("click",function(e){
		e.preventDefault();
		let category = $(this).attr("id");
		if(category == "u_t_matching"){
			let url=/*[[@{/trainermypage/u_t_matching}]]*/'';
			messageForm.attr("action",url);
		}

		messageForm.append("<input type='hidden' name='message' value='"+category+"'>");
		messageForm.attr("method","get");
		messageForm.submit();
	});
</script>
</body>
</html>