<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />

</head>
<style>
	.header_box {
		width: 100%;
		background: linear-gradient(to right, rgba(143, 167, 70, 0.2), rgba(143, 167, 70, 0.3)), url(/images/trainer.jpeg);
		background-size: cover;
		background-position:  0 71%;
	}

/* 프로필 */

.thumbnail_box .thumbnail_img{
	width: 25%;
    height: 310px;
    float: left;
    border-radius: 5px;
}
.thumbnail_img .profile_cont{
	height: 260px;
}
.thumbnail_img .thumbnail_img_bottom{
    text-align: center;
    padding: 11px;
	height: 50px;
}

.thumbnail_box .thumbnail_div{
    width: 75%;
    height: 310px;
    float: left;
    margin-bottom: 30px;
	font-size : 11px;

}

	img.thumbnail{
		display:block;
		clear:both;
		width:100px;
	}
	table.careerTable tr th{
		width: 15%;
		vertical-align: top;
    	padding-top: 11px;
	}

	.trainer_profile_btn_box{
		width: 100%;
		margin-bottom: 20px;
		padding-left: 704px;
		display: flex;
	}


</style>
<body class="is-preload">


<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile},${session.todaydate})}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">마이페이지</p>
			<p id="subText">트레이너 프로필</p>
		</header>
	</div>

	<div class="inner">


		<!-- Content -->
		<div class="content">
			<div class="trainer_profile_btn_box">
				<a style="margin-right: 10px;" href="javascript:document.profileForm.submit()" class="button btnColor small" >수정완료</a>
				<a th:href="@{/trainermypage/trainer_myprofile}" class="button btnColor small">취소</a>
			</div>
			<!-- 게시글 리스트 띄우는 테이블 -->
			<form id="profileForm" name="profileForm" method="post" th:action="@{/trainermypage/trainer_myprofile_modify}" enctype="multipart/form-data">
			<div class="thumbnail_box">
				<div class="thumbnail_img">

					<div class="profile_cont">
					<th:block th:if="${profile != null}">
						<div class="imgBox">
							<th:block th:with="sar=${profile.orgName.split('[.]')}">
								<th:block th:with="ext=${sar[sar.length-1]}">
									<th:block th:if="${ext == 'jpg' or ext == 'jpeg' or ext == 'png' or ext == 'gif' or ext == 'webp'}">
										<img style="width:100%;" th:src="@{/trainermypage/thumbnail (sysName=${profile.sysName})}" class="thumbnail">
									</th:block>
									<th:block th:unless="${ext == 'jpg' or ext == 'jpeg' or ext == 'png' or ext == 'gif' or ext == 'webp'}">
										<img style="width:100%;" th:src="@{/trainermypage/thumbnail (sysName='profile_img.png')}" class="thumbnail">
									</th:block>
								</th:block>
							</th:block>

						</div>
						<div style="display:none">
							<input type="file" name="profile" id="profile" style="display:none">
							<span id="profilename" th:text="${profile.orgName}"></span>
						</div>
						<div class="thumbnail_img_bottom" style="float:right; margin-right: 100px;">
							<a th:href="'javascript:profileupload(\'profile\',\''+${profile.sysName}+'\')'" class="button btnColor">사진변경</a>
							<input type="hidden" name="profileOrgname" th:value="${profile.orgName}">
						</div>
					</th:block>
					<th:block th:unless="${profile != null}">
						<div class="imgBox">
							<img style="width:100%;" th:src="@{/trainermypage/thumbnail (sysName='profile_img.png')}" class="thumbnail">
						</div>
						<div style="float:left;">
							<input type="file" name="profile" id="profile_no" style="display:none">
							<span id="profilename_no" style="display:none">선택된 파일 없음</span>
						</div>
						<div class="thumbnail_img_bottom">
							<a th:href="'javascript:profileupload(\'profile\',\'\')'" class="button btnColor">사진변경</a>
						</div>
					</th:block>

					</div>
				</div>
					<div class="thumbnail_div">
						<table style="margin: auto 0; text-align: center;" class="none_color_table">
							<tr>
								<td style="width: 20%;">닉네임(아이디) : </td>
								<td>
									<div class="inputBox">
										<input  name="trainerNickname" type="text" id="trainerNickname" class="inputText" placeholder="닉네임" th:value="${trainer.trainerNickname}" >
									</div>
								</td>
								<td>
									<div class="inputBox">
										<input readonly name="trainerId" type="text" id="trainerId" class="inputText" placeholder="아이디" th:value="${trainer.trainerId}" >
									</div>
								</td>

							</tr>
							<tr>
								<td>파트</td>
								<td colspan="2">
									<div class="inputBox">
										<input name="trainerPart" type="text" id="trainerPart" class="inputText" placeholder="파트" th:value="${trainer.trainerPart}" >
									</div>
								</td>
							</tr>
							<tr>
								<td>경력</td>
								<td colspan="2">
									<div class="inputBox">
										<input name="trainerCareer" type="text" id="trainerCareer" class="inputText" placeholder="파트" th:value="${trainer.trainerCareer}" >
									</div>
								</td>

							</tr>
							<tr>
								<td>구독자수</td>
								<td colspan="2">
									<div class="inputBox">
										<input readonly name="subscribe" type="text" id="subscribe" class="inputText" placeholder="구독자수" th:value="${subPageMaker.total}" >
									</div>
								</td>
							</tr>
						</table>
					</div>
				</div>


				<table>
					<tr>
						<td style="font-weight: bold;">나의 소개	</td>
					</tr>
					<tr>
						<td>
							<div>
								<textarea name="trainerIntro" class="inputText" id="trainerIntro" style="height:100px; resize:none">[[${trainer.trainerIntro}]]</textarea>
							</div>
						</td>
					</tr>
				</table>

			<table class="careerTable none_color_table">
				<tr>
					<td colspan="2" style="font-weight: bold; background-color: #F7FAF5;">트레이너 자격증 및 경력사항</td>
				</tr>
				<tr th:class="${'r'+fileStat.index}" th:if="${files != null and files.size() > 0}" th:each="file : ${files}">
					<th>파일 첨부[[${fileStat.index+1}]]</th>
					<td th:class="${'file'+fileStat.index+'_cont'}">
						<div style="float:left;">
							<input type="file" name="files" th:id="${'file'+fileStat.index}" style="display:none">
							<span th:id="${'file'+fileStat.index+'name'}" th:text="${file.orgName}"></span>
						</div>
						<div style="float:right; margin-right: 100px;">
							<!-- <a href="javascript:upload('file5','DateTIMEUUID.png')"> -->
							<a th:href="'javascript:upload(\'file'+${fileStat.index}+'\',\''+${file.sysName}+'\')'">파일 선택</a>
							<a th:href="'javascript:cancelFile(\'file'+${fileStat.index}+'\',\''+${file.sysName}+'\')'">첨부 삭제</a>
						</div>
						<input type="hidden" name="orgname" th:value="${file.orgName}">
						<th:block th:with="sar=${file.orgName.split('[.]')}">
							<th:block th:with="ext=${sar[sar.length-1]}">
								<img th:if="${ext == 'jpg' or ext == 'jpeg' or ext == 'png' or ext == 'gif' or ext == 'webp'}" th:src="@{/trainermypage/thumbnail (sysName=${file.sysName})}" class="thumbnail">
							</th:block>
						</th:block>
					</td>
				</tr>
				<tr th:class="${'r'+files.size()}">
					<th>파일 첨부[[${files.size()+1}]]</th>
					<td th:class="${'file'+files.size()+'_cont'}">
						<div style="float:left;">
							<input type="file" name="files" th:id="${'file'+files.size()}" style="display:none">
							<span th:id="${'file'+files.size()+'name'}">선택된 파일 없음</span>
						</div>
						<div style="float:right; margin-right: 100px;">
							<!-- <a href="javascript:upload('file9','')"> -->
							<a th:href="'javascript:upload(\'file'+${files.size()}+'\',\'\')'">파일 선택</a>
							<!-- <a href="javascript:cancelFile('file9','')"> -->
							<a th:href="'javascript:cancelFile(\'file'+${files.size()}+'\',\'\')'">첨부 삭제</a>
						</div>
					</td>
				</tr>
				<input type="hidden" value="" name="updateCnt" id="updateCnt">
			</table>
			</form>
		</div>

		<form name="pageForm" id="pageForm" th:action="@{/trainermypage/trainer_myprofile}">
			<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
			<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
			<input type="hidden" name="trainerId" th:value="${trainer.trainerId}">
		</form>

		<!-- Sidebar -->
		<div class="sidebar">
			<section>
				<div class="boardRanking">
					<div class="boardRanking_ranking">
						<table style="width: 90%;">
							<tr><td><a href="/trainermypage/trainer_modify">내 정보</a></td></tr>
<!--							<tr><td><a href="/usermypage/user_diary">나의 다이어리</a></td></tr>-->
							<tr><td><a href="/trainermypage/trainer_challenge">나의 챌린지</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_mysubscribeuser">구독 유저</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_subbookmark">북마크</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_boardlist">내 게시물</a></td></tr>
							<tr><td><a href="/trainermypage/trainer_messagelist">쪽지함</a></td></tr>
							<tr><td><a th:href="@{/trainermypage/trainer_myprofile (trainerId=${loginUser})}" style="color: #5a8100; font-size: 20px;">트레이너 프로필</a></td></tr>
						</table>
					</div>
				</div>
			</section>
		</div>

	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>

<script th:inline="javascript">
let i = /*[[${files.size()}]]*/'';
let orgSize = i;

let updateCheck = false;
let uploadCheck = false;
const updateCnt = $("#updateCnt");

let num = 0;

const orgname = document.getElementsByName("orgname");
const org_thumbnail = {};
for(let j=0;j<orgname.length;j++){
    org_thumbnail[orgname[j].value] = document.querySelector(".file"+j+"_cont .thumbnail")
}
let sysname = "";
console.log(orgname);
console.log(org_thumbnail);
function cancelFile(name,systemname){
    updateCnt.val(updateCnt.val()+"\\"+systemname)
    let num = name.split("e")[1];
    if(num == i){
        return;
    }
    if(i != 0){
        //tr지우기
        let temp = Number(name.split("e")[1]);
        //해당 행 지우기
        $(".r"+temp).remove();
        //지워진 다음 행 부터 숫자 바꿔주기
        for(let j=temp+1;j<=i;j++){
            const el = $("#profileForm .careerTable tbody").find(".r"+j);
            el.attr("class","r"+(j-1)+" at");

            el.children('th').text("파일 첨부"+j);

            el.children('td').attr("class","file"+(j-1)+"_cont");

            const fileTag = el.find("input[type='file']");
            fileTag.attr("name","files");
            fileTag.attr("id","file"+(j-1));

            el.find("span").attr("id","file"+(j-1)+"name");

            el.find("a")[0].href = "javascript:upload('file"+(j-1)+"')"
            //el.find("a")[1].href = "javascript:cancelFile('file"+(j-1)+"','"+el.find("span").text()+"')"
            el.find("a")[1].href = decodeURI(el.find("a")[1].href.replace("'file"+j+"'","'file"+(j-1)+"'"));

        }
        i--;
    }
}

function upload(name,systemname){
    let temp = $("#"+name+"name").text();
    num = Number(name.split("e")[1]);
    if(temp == '선택된 파일 없음'){
        $("#"+name).click();
    }
    else{
        updateCnt.val(updateCnt.val()+"\\"+systemname)
        sysname = systemname;
        $("#"+name).click();
    }
}
const careerTable = document.querySelector(".careerTable");
$(".careerTable [type='file']").change(function(e){
    const file = e.target.files[0];
    const fileTag = e.target;

    if(file == undefined){
        if(!$("."+fileTag.id+"_cont [name='orgname']").val()){
            //비어있던 곳에 파일이 업로드 되었다가 취소한 경우
            cancelFile(fileTag.id);
        }
        else{
            let n = orgname[num].value;
            let ext = n.split(".").pop();
            updateCnt.val(updateCnt.val().replaceAll("\\"+sysname,""));
            console.log(num);
            $("#file"+num+"name").text(n);
            if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){
                $("."+fileTag.id+"_cont .thumbnail").remove();
                document.querySelector("."+fileTag.id+"_cont").appendChild(org_thumbnail[n]);
            }
            else{
                if(document.querySelector("."+fileTag.id+"_cont .thumbnail")){
                    $("."+fileTag.id+"_cont .thumbnail").remove();
                }
            }
            sysname = "";
        }
    }
    else{
        uploadCheck = true;
        //파일이 없었다가 업로드 한 경우
        //#file0name
        $("#"+fileTag.id+"name").text(file.name);
        //업로드 된 파일의 확장자명
        let ext = file.name.split(".").pop();
        if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){
            $("."+fileTag.id+"_cont .thumbnail").remove();
            const reader = new FileReader();

            reader.onload = function(ie){
                const img = document.createElement("img");
                img.setAttribute("src",ie.target.result)
                img.setAttribute("class","thumbnail");
                document.querySelector("."+fileTag.id+"_cont").appendChild(img);
            }
            reader.readAsDataURL(file);
        }
        else{
            const temp = $("."+fileTag.id+"_cont .thumbnail");
            if(temp != null){
                temp.remove();
            }
        }
        //가장 마지막 파일 선택 버튼을 눌렀을 때
        if(num == i){
            const cloneElement = $(".r"+i).clone(true);
            i++;
            cloneElement.appendTo("#profileForm .careerTable tbody")
            const lastElement = $("#profileForm .careerTable tbody").children().last();

            lastElement.attr("class","r"+i+" at");
            lastElement.children("th").text("파일 첨부"+(i+1));
            lastElement.children("td").attr("class","file"+i+"_cont");

            lastElement.find("input[type='file']").attr("name","files");
            lastElement.find("input[type='file']").attr("id","file"+i);
            lastElement.find("input[type='file']").val("");

            lastElement.find("span").attr("id","file"+i+"name");
            lastElement.find("span").text("선택된 파일 없음");

            lastElement.find("a")[0].href = "javascript:upload('file"+i+"','')";
            lastElement.find("a")[1].href = "javascript:cancelFile('file"+i+"','선택된 파일 없음')"
        }

    }
})



const pageForm = $("#pageForm");

$(".changePage").on("click",function(e){
    //e(이벤트)의 기본 작동 막기
    e.preventDefault();
    let pagenum = $(this).attr("href");
    pageForm.find("input[name='pagenum']").val(pagenum);
    pageForm.submit();
});





function cancelProfile(name,systemname){
    updateCnt.val(updateCnt.val()+"\\"+systemname)
	return;
}

function profileupload(name,systemname){
   let temp_no = $("#"+name+"name_no").text();
    if(temp_no == '선택된 파일 없음'){
        $("#"+name+"_no").click();
    }
    else{
        updateCnt.val(updateCnt.val()+"\\"+systemname)
        sysname = systemname;
        $("#"+name).click();
    }
}
const profile_cont = document.querySelector(".profile_cont");
$(".profile_cont [type='file']").change(function(e){

    const file = e.target.files[0];
    const fileTag = e.target;
    if(file == undefined){
        if(!$(".profile_cont [name='profileOrgname']").val()){
            //비어있던 곳에 파일이 업로드 되었다가 취소한 경우
            cancelProfile(fileTag.id);

        }
        else{
            let n = profileOrgname.value;
            let ext = n.split(".").pop();
            updateCnt.val(updateCnt.val().replaceAll("\\"+sysname,""));
            $("#"+name+"name").text(n);

            if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){
                $(".profile_cont .thumbnail").remove();
                document.querySelector(".imgBox").appendChild(org_thumbnail[n]);

            }
            else{
                if(document.querySelector(".profile_cont .thumbnail")){
                    $(".profile_cont .thumbnail").remove();

                }
            }
            sysname = "";
        }
    }
    else{
        uploadCheck = true;
        //파일이 없었다가 업로드 한 경우
        //#file0name
        $("#"+fileTag.id+"name_no").text(file.name);
        //업로드 된 파일의 확장자명
        let ext = file.name.split(".").pop();
        if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){

            const reader = new FileReader();
            reader.onload = function(ie){
                const img =  document.querySelector(".profile_cont .thumbnail");
                img.setAttribute("src",ie.target.result)
            }
            reader.readAsDataURL(file);
        }
        else{
            const temp = $(".profile_cont .thumbnail");
            if(temp != null){
                temp.remove();

            }
        }

    }
})



</script>
</body>
</html>