<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Untitled</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />

	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<style>

	.uInputArea {
    display: table;
    width: 100%;
    height: 30px;
    padding: 10px 0;
    border-bottom: 1px solid black;
	}
	.uInputArea .uInput label {
    font-size: 15px;
    line-height: 30px;
    color: black;
    float: left;
    font-weight: bold;
	}
	.uInputArea .uInput .inputBox {
    overflow: hidden;
    position: relative;
	}
	.uInputArea .uInput:after {
    content: "";
    display: block;
    clear: both;
	}

	.uInputArea .col:last-child {
    padding-right: 5px;
	}
	.uInputArea .col:first-child {
		width: 100%;
		padding-left: 5px;
	}
	.uInputArea .col {
		display: table-cell;
		vertical-align: top;
	}
	.uInputArea .uInput .inputBox .inputText {
    font-size: 15px;
    line-height: 30px;
    color: black;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 25px 0 10px;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    background: none;
	}
		.uInputArea .col:last-child {
		padding-right: 5px;
	}

	.uInputArea .col {
		display: table-cell;
		vertical-align: top;
	}
	.uInputArea .uInput .inputBox .btnDel {
    display: none;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25px;
    height: 30px;
	}
	.uErrorText {
    font-size: 13px;
    line-height: 20px;
    color: #dc941b;
    margin-top: 5px;
    padding: 0 5px;
	}
	.uInputArea .uBtnArea {
    white-space: nowrap;
    font-size: 0;
	}
	.uInputArea .uBtnArea .uBtn {
    display: inline-block;
    width: auto;
    font-size: 13px;
    height: 30px;
    margin-left: 5px;
    color: #666 !important;;
    border: 0;
    box-shadow: inset 0 0 0 0;
	}

</style>
<body class="is-preload">

<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">
	<div class="inner">

		<header class="major">
			<h2>정보</h2>
			<p>전체</p>
		</header>

		<!-- Content -->
		<div class="content">
			<form id="boardForm" name="boardForm" method="post" th:action="@{/}">
				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputId">아이디</label>
								<div class="inputBox">
									<input name="trainerId" type="text" id="inputId" class="inputText" placeholder="6~20자 영문, 숫자" th:value="${user.trainerId}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputNickName">닉네임</label>
								<div class="inputBox">
									<input name="trainerNickname" type="text" id="inputNickName" class="inputText" placeholder="닉네임" th:value="${user.trainerNickname}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputPw">비밀번호</label>
								<div class="inputBox">
									<input name="trainerPw" type="password" id="inputPw" class="inputText" placeholder="8~12자 영문, 숫자, 특수문자" value="" readonly>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="uBtnArea">
								<button type="button" class="uBtn">보기</button>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputPwConfirm">비밀번호 확인</label>
								<div class="inputBox">
									<input name="trainerPwRe" type="password" id="inputPwConfirm" class="inputText" placeholder="8~12자 영문, 숫자, 특수문자" value="" readonly>
								</div>
							</div>
						</div>
						<div class="col">
							<div class="uBtnArea">
								<button type="button" class="uBtn">보기</button>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display:block"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputName">이름</label>
								<div class="inputBox">
									<input name="trainerName" type="text" id="inputName" class="inputText" placeholder="이름" th:value="${user.trainerName}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputgender">성별</label>
								<div class="inputBox">
									<input name="trainerGender" type="text" id="inputgender" class="inputText" placeholder="성별" th:value="${user.trainerGender}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>



				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputBirth">생년월일</label>
								<div class="inputBox">
									<input name="trainerBirth" type="text" id="inputBirth" class="inputText" placeholder="생년월일" th:value="${user.trainerBirth}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputTel">전화번호</label>
								<div class="inputBox">
									<input name="trainerTel" type="text" id="inputTel" class="inputText" placeholder="이메일" th:value="${user.trainerTel}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputEmail">이메일</label>
								<div class="inputBox">
									<input name="trainerMail" type="text" id="inputEmail" class="inputText" placeholder="이메일" th:value="${user.trainerMail}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputWeight">몸무게</label>
								<div class="inputBox">
									<input name="trainerWeight" type="text" id="inputWeight" class="inputText" placeholder="몸무게" th:value="${user.trainerWeight}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputHeight">키</label>
								<div class="inputBox">
									<input name="trainerHeight" type="text" id="inputHeight" class="inputText" placeholder="키" th:value="${user.trainerHeight}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputJoinDate">가입일자</label>
								<div class="inputBox">
									<input name="trainerJoindate" type="text" id="inputJoinDate" class="inputText" placeholder="가입일자" th:value="${user.trainerJoindate}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputTransferdate">전환일자</label>
								<div class="inputBox">
									<input name="transferdate" type="text" id="inputTransferdate" class="inputText" placeholder="전환일자" th:value="${user.transferdate}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

				<div class="uBlock">
					<div class="uInputArea">
						<div class="col">
							<div class="uInput">
								<label for="inputReportedcnt">신고당한횟수</label>
								<div class="inputBox">
									<input name="trainerReportedcnt" type="text" id="inputReportedcnt" class="inputText" placeholder="신고당한횟수" th:value="${user.trainerReportedcnt}" readonly>
								</div>
							</div>
						</div>
					</div>
					<div class="uErrorText" style="display: block;"></div>
				</div>

					<tr class="zipcode_area">
						<th>우편번호</th>
						<td><input readonly name="trainerZipcode" type="text" th:value="${user.trainerZipcode}"
								   id="sample6_postcode" placeholder="우편번호" onclick="sample6_execDaumPostcode()"><input
								type="button" onclick="sample6_execDaumPostcode()" value="우편번호">
						</td>
					</tr>
					<tr class="addr_area">
						<th>주소</th>
						<td><input readonly name="trainerAddr" type="text"
								   id="sample6_address" placeholder="주소" th:value="${user.trainerAddr}"></td>
					</tr>
					<tr>
						<th>상세주소</th>
						<td><input readonly name="trainerAddrdetail" type="text"
								   id="sample6_detailAddress" placeholder="상세주소" th:value="${user.trainerAddrdetail}"></td>
					</tr>
					<tr>
						<th>참고항목</th>
						<td><input readonly name="trainerAddretc" type="text"
								   id="sample6_extraAddress" placeholder="참고항목" th:value="${user.trainerAddretc}"></td>
					</tr>

					<div class="uBlock">
						<div class="uInputArea">
							<div class="col">
								<div class="uInput">
									<label for="inputTrainerPart">파트</label>
									<div class="inputBox">
										<input readonly name="trainerPart" type="text" id="inputTrainerPart" class="inputText" placeholder="성별" th:value="trainerPart" >
									</div>
								</div>
							</div>
						</div>
						<div class="uErrorText" style="display: block;"></div>
					</div>


					<div class="uBlock">
						<div class="uInputArea">
							<div class="col">
								<div class="uInput">
									<label for="inputTrainerCareer">경력</label>
									<div class="inputBox">
										<input readonly name="trainerCareer" type="text" id="inputTrainerCareer" class="inputText" placeholder="경력" th:value="trainerCareer" >
									</div>
								</div>
							</div>
						</div>
						<div class="uErrorText" style="display: block;"></div>
					</div>

				</form>


				<a href="#"> <1페이지></a>
				<a href="#"> <2페이지></a>
				<input class="submit" type="button" value="수정" onclick="sendit();">
				<!--<a href="/trainermypage/trainer_myinfo_modify" class="button primary small" >수정</a>-->
			</form>

		</div>


		<!-- Sidebar -->
		<th:block th:replace="~{layout/trainermypage_sidebar::sidebar(${session.loginUser})}"></th:block>

	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js">



</script>

</body>
</html>