<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
</head>
<body class="is-preload">

<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">제품 게시판</p>
			<p id="subText">제품 게시판</p>
		</header>
	</div>

	<div class="inner">

		<!-- Content -->
		<div class="content">
			<div class="button" style="margin-bottom: 30px;">글 작성</div>
			<table>
				<tr>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>
			</table>

		</div>


		<!-- Sidebar -->
		<div class="sidebar">

			<section>
				<h3><a href="#" style="color: #5a8100;">전체</a></h3>
				<h3><a href="#">뉴스</a></h3>
				<h3><a href="#">식단</a></h3>
				<h3><a href="#">운동</a></h3>
				<h3><a href="#">꿀팁</a></h3>
			</section>

		</div>

	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
		<ul class="menu">
			<li><a href="#">Terms<span> of Use</span></a></li>
			<li><a href="#">Privacy<span> Policy</span></a></li>
			<li><a href="#">Legal<span> Information</span></a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>

</body>
</html>