#main {
    padding: 0;
}

.wrapper {
    padding: 0;
    margin-bottom: 100px;
}

#header {
    background-color: #8FA746;
}

.header_box{
    width: 100%;
    background:
        linear-gradient(to right, rgba(143, 167, 70, 0.7), rgba(143, 167, 70, 0.3)),
        url('/images/admintop2.png');
    background-size: cover;
    background-position: center;
}

.test12 {
    width: 1080px;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 4em;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


header.test12 p {
    margin: 0; /* 기본 마진 제거 */
}

#mainText {
    margin: 0px;
    font-size:18px;
    font-weight: 400;
    margin-bottom: 25px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#subText {
    margin: 0px;
    font-size:45px;
    font-weight: 400;
    margin-left: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#footer {
    background-color: #606C3A;
}

#header nav > ul > li a {
    color: white;
}

#header h1 a {
    color: white;
}

#header .main ul li > a {
    color: white;
}

.boardRanking table tr td {
    text-align: left;
    background: #FFFFFF;
    font-weight: bold;
}

table{
    border-collapse: separate;
}

table tr {
    /*font-weight: bold;*/
}

.none_color_table tbody tr:nth-child(2n + 1) {
    background-color: #fff;
}

.nowPage {
    background-color: #8FA746 !important;
    border-radius: 100%;
    color: #fff;
    font-size: 16px;
    padding: 5px 10px !important;
}

.changePage {
    font-size: 16px;
    padding: 5px 10px;
}

tr.special-row{
    margin-top: 20px;
    font-weight: bold;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.search_area > form {
    display: flex;
    justify-content: space-between;
}

.long_text {
    width: 180px;
    max-width: 180px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*작성, 글쓰기 버튼 컬러 수정*/
.btnColor{
    background: #FFFFFF;
    border: 1px solid #5a8100;
    border-radius: 4px;
    color: #5a8100 !important;
    box-shadow: 4px 4px 2px 0px rgb(203,211,177);
}

.btnColor{
    background: #FFFFFF;
    border: 1px solid #5a8100;
    border-radius: 4px;
    color: #5a8100 !important;
    box-shadow: 4px 4px 2px 0px rgb(203,211,177);
}

.btnColor:hover{
    background: #5a8100;
    border: 1px solid #5a8100;
    border-radius: 4px;
    color: #F7FAF5 !important;
    box-shadow: 0 0 2px #5a8100;
}

/*카테고리 버튼 css*/
.ctBtncolor {
    border-radius: 38px;
    padding: 0 13px;
    height: 42px;
    line-height: 42px;
    box-shadow: 0px 0px 5px rgb(203,211,177);
    font-weight:100 !important;
}

.ctBtncolor:hover {
    padding: 0 15px;
    background: #ebede1;
    color: #5a8100 !important;
    box-shadow: none;
    transition: 0.5s ease-out;
    font-weight:100 !important;
}

.ctBtncolor.now_cate {
    background: #ebede1;
    padding: 0 15px;
    box-shadow: 0 0 2px 1px #5a8100;
    font-weight:100 !important;
}

.td_padding td {
    padding: 0.75em 0.75em;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.cursorPointer{
    cursor: pointer;
}
