.modal_box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6) ;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;


    z-index: 3300;
}

.modal_box.active{
    display: flex;
}

.modal_contents{
    background-color: #fff;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}
.modal_contents h1{
    text-align: center;
}

.img_area{
    display: flex;
    justify-content: center;
}
.profile img{
    width: 150px;
    height: 150px;

}

.desc{
    text-align: center;
}
.name{
    font-size: 20px;
}

.modal_contents button{
    background-color: #fff;
    color: #ccc;
    font-size: 20px;
    border: none;


}
.upper_area {
  display: flex;
  justify-content: space-between;
}

.upper_area a {
   display: inline-block;
}
.upper_area img{
    cursor: pointer;
    width: 60px;
}
#userMessageModal{
height: 435px;
}
.content textarea{
    width: 260px;
    height: 150px;
    margin-bottom: 15px;
}
.send{
    display: flex;
    justify-content: flex-end;
}
.send button{
    width: 100px;
    height: 50px;
    font-size: 15px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
     outline: none;
     color: white !important;
     background-color: #04AA6D;
    border: none;
     border-radius: 15px;
    box-shadow: 0 9px #999;

}
.send button:hover {background-color: #3e8e41}

.send button:active {
 background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.upper_area .back img{
width: 40px;
}
.message_user a{
    text-align:center;
    font-weight: bold;
     width: 260px;
}


