select{
    margin-right: 20px;
}
#side_box .side_rank_top.rankBox{
    width: 206px;
}
#side_box .rankBox input.rankBtn {
    border-radius: 38px !important;
    border: 1px solid;
    box-shadow: 4px 4px 2px 0px #5a8100 !important;
}

#side_box .rankBox input.rankBtn:hover {
    color: #444 !important;
    background-color: #ebede1; !important;
}

#side_box .rankBox{
    margin-bottom: 30px !important;
}
.rankBox table tr td {
    /*text-align: center;*/
    background: #FFFFFF;
    overflow: hidden;
    text-overflow: ellipsis
}

.rankBox table tr td {
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 160px;
}
.rankBox:first-child td a{
    cursor: default !important;
}

