.report_Admin_modal_box{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6) ;
    display: none;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.report_Admin_modal_box.active{
    display: flex;
}

.report_Admin_modal_contents{
    background-color: #fff;
    width: 900px;
    padding: 20px;
    border-radius: 5px;
    position: relative;
}

.report_Admin_modal_contents h1{
    text-align: center;
}

.reportAdminClose{
    cursor: pointer;
}

.title {
    margin-top: 30px;
    margin-bottom: 0px;
    font-size: 20px;
}

.title:after {
    border-bottom: none;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    margin-bottom: 10px;
}

li > label {
    line-height: 1.8;
}

.title-container {
    display: flex;
    align-items: center; /* 수직 정렬 */
}

.title-container .reportAdminClose {
    margin-right: 300px;
    margin-left: 14px;
}

#report-content-box{
    margin-top: 20px;
}

#reportAdminTable {
    margin-bottom: 20px;
}

.report-button-container {
    float: right;
}

.cancelReportAdminButton {
    margin-right: 15px;
}