<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />

	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}">
</head>
<style>
	a {
		border-bottom: none;
	}

	.long_text {
		width: 180px;
		max-width: 180px;
  		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}

	.pageTr {
		background-color: white !important;
		border: none;
	}

	.now_cate {
		background-color: #ebede1 !important;
	}

	.header_box{
		width: 100%;
		background:
			linear-gradient(to right, rgba(143, 167, 70, 0.7), rgba(143, 167, 70, 0.3)),
			url('/images/admintop3.png');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}

	.test12 {
		width: 1080px;
		height: 250px;
		margin: 0 auto;
		margin-bottom: 4em;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
</style>
<body class="is-preload">

<!--	<script th:if="${session.loginUser != null}" th:unless="${#strings.contains(session.loginUser, 'admin')}">-->
<!--		alert("관리자만 접근 가능합니다!!!");-->
<!--		location.replace("/");-->
<!--	</script>-->

	<!-- Header -->
	<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile})}"></th:block>

	<!-- Modal -->
	<th:block th:replace="~{layout/profileModal::profileModal}"></th:block>

	<!-- Main -->
	<section id="main" class="wrapper sidebar left">

		<div class="header_box">
			<header class="test12">
				<p id="mainText">마이페이지</p>
				<p id="subText">관리자 게시물</p>
			</header>
		</div>

		<div class="inner">


			<!-- Content -->
			<div class="content">
				<div id="allBtn" class="button board_cate now_cate ctBtncolor" style="margin-right: 10px;">전체</div>
				<div id="newsBtn" class="button board_cate not_cate ctBtncolor" style="margin-right: 10px;">뉴스</div>
				<div id="exerBtn" class="button board_cate not_cate ctBtncolor" style="margin-right: 10px;">운동 정보</div>
				<div id="recipeBtn" class="button board_cate not_cate ctBtncolor" style="margin-right: 10px;">식단 레시피</div>
				<div id="tipBtn" class="button board_cate not_cate ctBtncolor">꿀팁</div>

				<table style="text-align: center; margin-top: 20px;">
					<thead>
						<tr style="font-weight: bold;">
							<td class="long_text">게시글 번호</td>
							<td class="long_text">제목</td>
							<td class="long_text">작성자</td>
							<td class="long_text">조회수</td>
							<td class="long_text">좋아요</td>
							<td class="long_text">등록일자</td>
						</tr>
					</thead>
					<tbody id="data-table">
						<tr th:if="${boardList != null and boardList.size() > 0}" th:each="adminBoard : ${boardList}" id="result_execlist">
							<td class="long_text">
								[[${adminBoard.boardNum}]]
							</td>
							<td class="long_text">
								[[${adminBoard.boardTitle}]]
							</td>
							<td class="long_text">
								<a href="#" class="open">[[${adminBoard.userId}]]</a>
							</td>
							<td class="long_text">
								[[${adminBoard.viewCnt}]]
							</td>
							<td class="long_text">
								[[${adminBoard.likeCnt}]]
							</td>
							<td class="long_text">
								[[${adminBoard.regdate}]]
								<th:block th:if="${adminBoard.regdate != adminBoard.updateDate}">
									(수정됨)
								</th:block>
							</td>
						</tr>
						<tr th:if="${boardList == null or boardList.size() == 0}">
							<td colspan="6">
								등록된 게시글이 없습니다!
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<!-- 페이징 처리하는 테이블 -->
				<table class="pagination">
					<tr align="center" valign="middle" class="pageTr">
						<td>
							<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>
							<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
								<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>
								<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>
							</th:block>
							<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>
						</td>
					</tr>
				</table>
			</div>

			<!-- Sidebar -->
			<div class="sidebar">
				<section>
					<div class="boardRanking">
						<div class="boardRanking_ranking">
							<table style="width: 90%;">
								<tr><td><a href="/adminmypage/adminmypage_list">전체</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_report">신고 접수</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_trainer">트레이너 신청 내역</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_board" style="color: #5a8100; font-size: 20px;">관리자 게시물</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_usersearch">유저 검색</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_message">문의함</a></td></tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>

<script th:src="@{/assets/js/profile.js}"></script>
<script>
	const board_cate = document.querySelectorAll('.board_cate');
	let nowCate = document.querySelector('.now_cate');

	board_cate.forEach(function(btn) {
		btn.addEventListener('click', function() {
			if (btn.classList.contains('now_cate')) {
			 return;
			}

			btn.classList.remove('not_cate');
			btn.classList.add('now_cate');

			nowCate.classList.remove('now_cate');
			nowCate.classList.add('not_cate');

			nowCate = btn;
		});
	});

	$(document).ready(function() {
        let currentCategory = 'all';
        loadPage('/adminmypage/allBoard', 1);

        $('#allBtn').click(function() {
            currentCategory = 'all';
            loadPage('/adminmypage/allBoard', 1);
        });

        $('#newsBtn').click(function() {
            currentCategory = 'news';
            loadPage('/adminmypage/newsBoard', 1);
        });

        $('#exerBtn').click(function() {
            currentCategory = 'exer';
            loadPage('/adminmypage/ExerBoard', 1);
        });

        $('#recipeBtn').click(function() {
            currentCategory = 'recipe';
            loadPage('/adminmypage/recipeBoard', 1);
        });

        $('#tipBtn').click(function() {
            currentCategory = 'tip';
            loadPage('/adminmypage/tipBoard', 1);
        });

        // 페이지 데이터를 불러오는 함수
        function loadPage(url, pageNum) {
            $.ajax({
                url: url,
                data: { pageNum: pageNum, category: currentCategory },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 게시글 목록 업데이트
                    displayData(data);
                    // 페이징 버튼 업데이트
                    displayPaging(data.pageDTO);
                },
                error: function (error) {
                    console.error('데이터를 가져오는 중 오류 발생: ' + error);
                }
            });
        }

        function displayPaging(pageDTO) {
            var startPage = pageDTO.startPage;
            var endPage = pageDTO.endPage;
            var prev = pageDTO.prev;
            var next = pageDTO.next;

            var str = '';

            if (prev) {
                str += '<a class="changePage" href="' + (startPage - 1) + '"><code>&lt;</code></a>';
            }

            for (var i = startPage; i <= endPage; i++) {
                if (i === pageDTO.cri.pagenum) {
                    str += '<span class="nowPage">' + i + '</span> ';
                } else {
                    str += '<a class="changePage" href="' + i + '">' + i + '</a>';
                }
            }

            if (next) {
                str += '<a class="changePage" href="' + (endPage + 1) + '"><code>&gt;</code></a>';
            }

            var page = $('.pagination');
            page.html('<tr align="center" valign="middle" class="pageTr"><td>' + str + '</td></tr>');

            // 페이지 버튼 클릭 이벤트를 연결
            $(".changePage").on("click", function (e) {
                e.preventDefault(); // 기본 동작 중지

                var pageNum = $(this).attr('href');
                loadPage('/adminmypage/' + currentCategory + 'Board', pageNum);
            });
        }

        function displayData(data) {
            var tableBody = $('#data-table');
            tableBody.empty();

            if (data.boardList != null && data.boardList.length > 0) {
                data.boardList.forEach(function (boardData) {
                    var row = $('<tr id="result_execlist">');
                    row.append('<td class="long_text">' + boardData.boardNum + '</td>');
                    row.append('<td class="long_text">' + boardData.boardTitle + '</td>');
                    row.append('<td class="long_text">' + boardData.userId + '</td>');
                    row.append('<td class="long_text">' + boardData.viewCnt + '</td>');
                    row.append('<td class="long_text">' + boardData.likeCnt + '</td>');

					var regdateText = boardData.regdate;
					if (boardData.regdate != boardData.updateDate) {
						regdateText += "(수정됨)";
					}

					row.append('<td class="long_text"><a href="#">' + regdateText + '</a></td>');
                    tableBody.append(row);
                });
            }
            else {
                tableBody.append('<tr><td colspan="6">등록된 게시글이 없습니다!</td></tr>');
            }
			$(".open").on("click", function (e) {
                e.preventDefault();
				var userId = $(this).text();

				sendUserIdToModal(userId);
                modalBox.classList.add("active");
            });
        }
    });
</script>
</body>
</html>