<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko">
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/main.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

			<!-- Header -->
			<header id="header">
				<h1><a href="/">Slate <span>by Pixelarity</span></a></h1>
				<nav id="nav">
					<ul>
						<li><a href="/">Home</a></li>
						<li><a href="/test/info">정보</a></li>
						<li><a href="#">칼로리</a></li>
						<li><a href="#">커뮤니티</a></li>
						<li><a href="#">트레이너 매칭</a></li>
						<li><a href="#">챌린지</a></li>
						<li><a href="#">제품</a></li>
						<li><a href="#" class="button">Sign Up</a></li>
					</ul>
				</nav>
			</header>

			<!-- Main -->
			<section id="main" class="wrapper sidebar left">
				<div class="inner">

					<header class="major">
						<h2>커뮤니티</h2>
						<p>커뮤니티</p>
					</header>

					<!-- Content -->
					<div class="content">
						<div class="button" style="margin-bottom: 30px;">글 작성</div>
						<input type="text" name="demo-name" id="demo-name" value="" placeholder="검색" />
						<table>
							<tr>
								<th>제목</th>
								<th>작성자</th>
								<th>작성일</th>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
							<tr>
								<td>aaaa</td>
								<td>bbbb</td>
								<td>cccc</td>
							</tr>
						</table>
						<ul class="pagination">
							<li><span class="button disabled">Prev</span></li>
							<li><a href="#" class="page active">1</a></li>
							<li><a href="#" class="page">2</a></li>
							<li><a href="#" class="page">3</a></li>
							<li><span>&hellip;</span></li>
							<li><a href="#" class="page">8</a></li>
							<li><a href="#" class="page">9</a></li>
							<li><a href="#" class="page">10</a></li>
							<li><a href="#" class="button">Next</a></li>
						</ul>
					</div>


					<!-- Sidebar -->
					<div class="sidebar">

						<section>
							<h3><a href="#" style="color: #5a8100;">전체</a></h3>
							<h3><a href="#">자유게시판</a></h3>
							<h3><a href="#">식단</a></h3>
							<h3><a href="#">운동</a></h3>
							<h3><a href="#">갤러리</a></h3>
							<h3><a href="#">고민 Q&A</a></h3>
						</section>

						<div class="ranking_box">
							<div class="button">다이어터 랭킹</div>
							<ul>
								<li><span>1</span>김사과</li>
								<li><span>2</span>반하나</li>
								<li><span>3</span>이체리</li>
								<li><span>4</span>차두리</li>
								<li><span>5</span>오연서</li>
							</ul>
						</div>
						<div class="ranking_box">
							<div class="button">트레이너 랭킹</div>
							<ul>
								<li>1 김사과</li>
								<li>2 반하나</li>
								<li>3 이체리</li>
								<li>4 차두리</li>
								<li>5 오연서</li>
							</ul>
						</div>

					</div>

				</div>
			</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
					<ul class="menu">
						<li><a href="#">Terms<span> of Use</span></a></li>
						<li><a href="#">Privacy<span> Policy</span></a></li>
						<li><a href="#">Legal<span> Information</span></a></li>
					</ul>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>