<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />

	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}" />
</head>
<style>
	.top_img_box{
		width: 100%;
		height: 310px;
		margin-bottom: 50px;
		background-color: red;
	}

	.top_img_box > img {
		width: 100%;
		height: 100%;
	}

	#main {
		padding: 0;
	}

	.wrapper {
		padding: 0;
		margin-bottom: 100px;
	}

	#header {
		background-color: #8FA746;
	}

	#footer {
		background-color: #606C3A;
	}

	#header nav > ul > li a {
		color: white;
	}

	#header h1 a {
		color: white;
	}

	#header .main ul li > a {
		color: white;

	}

	a {
		border-bottom: none;
	}

	.search{
		display: flex;
	}

	.search-border{
		border: 1px solid rgb(200, 200, 200);
		border-radius: 15px;
		margin-bottom: 50px;
	}

	#search_input{
		height: 60px;
		border-radius: 10px 0 0 10px;
		border : 1px solid rgb(200, 200, 200);
		padding-left: 150px;
	}

	#search-button{
		width: 100px;
		height: 60px;
		border-radius: 0 10px 10px 0;
		background-color: gainsboro;
	}

	.search_content{
		padding: 40px;
		margin: 0px;
		background-color: gainsboro;
	}
	.search_content p{
		font-size: 18px;
		font-weight: bold;
		height: 20px;
	}

	#search_result {
		display: none;
	}

	#no_result {
		display: none;
	}

	#no_keyword {
		display: none;
	}

	.long_text{
		width: 180px;
		max-width: 180px;
  		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}

	#ut_option {
		width: 8%;
		margin-top: 10px;
		margin-left: 10px;
		position: absolute;
	}

	.listTable {
		display: none;
	}

	.now_cate {
		background-color: #ebede1 !important;
	}

	.button {
		border-radius: 10px;
	}

	.button:hover {
		background-color: #8FA746 !important;
	}

	.nowPage {
		background-color: #444 !important; /* 뒤의 !important는 기존 스타일을 덮어쓰기 위해 사용합니다. */
		color: #fff;
		font-size: 16px;
		padding: 5px 10px;
	}

	.changePage {
		font-size: 16px;
		padding: 5px 10px;
	}

	.pageTr {
		background-color: white !important;
		border: none;
	}

	#result_execlist:hover{
		transform: scaleX(1.05);
		background-color: #5a8100;
	}

	#result_execlist:hover td{
		color:white !important;
	}

	#result_execlist:hover a{
		color:white !important;
	}
</style>
<body class="is-preload">

<!--	<script th:if="${session.loginUser != null}" th:unless="${#strings.contains(session.loginUser, 'admin')}">-->
<!--		alert("관리자만 접근 가능합니다!!!");-->
<!--		location.replace("/");-->
<!--	</script>-->

	<!-- Header -->
	<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

	<!-- Modal -->
	<th:block th:replace="~{layout/profileModal::profileModal}"></th:block>

	<!-- Main -->
	<section id="main" class="wrapper sidebar left">

		<div class="header_box">
			<header class="test12">
				<p id="mainText">마이페이지</p>
				<p id="subText">유저 검색</p>
			</header>
		</div>

		<div class="inner">



			<!-- Content -->
			<div class="content">
				<div id="searchBtn" class="button cate now_cate" style="margin-right: 10px;">검색</div>
				<div id="userSearchBtn" class="button cate not_cate" style="margin-right: 10px;">유저</div>
				<div id="trainerSearchBtn" class="button cate not_cate">트레이너</div>

				<div class="searchContainer" id="searchContainer">
					<div class="search" style="margin-top: 30px;">
						<select name="" id="ut_option">
							<option value="user">유저</option>
							<option value="trainer">트레이너</option>
						</select>
						<input type="text" id="search_input" placeholder="유저 아이디를 입력하세요">
						<input type="button" id="search-button" value="검색" onclick="search()">
					</div>
					<div style="margin-top: 30px;" class="button primary fit" id="no_keyword">검색 결과가 없습니다!!!</div>
					<table style="text-align: center; margin-top: 50px;" id="search_result">
						<thead>

						</thead>
						<tbody id="data-table">

						</tbody>
					</table>
				</div>
				<div class="listTable" id="listTable">
					<table style="text-align: center; margin-top: 30px;">
						<thead>
							<tr style="font-weight: bold;">
								<td class="long_text">닉네임</td>
								<td class="long_text">아이디</td>
								<td class="long_text">성별</td>
								<td class="long_text">전화번호</td>
								<td class="long_text">신고당한 횟수</td>
							</tr>
						</thead>
						<tbody id="data-table2">

						</tbody>
					</table>
					<br>
					<!-- 페이징 처리하는 테이블 -->
					<table class="pagination">
						<tr align="center" valign="middle" class="pageTr">
							<td>
<!--								<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>-->
<!--								<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">-->
<!--									<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>-->
<!--									<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>-->
<!--								</th:block>-->
<!--								<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>-->
							</td>
						</tr>
					</table>
				</div>
			</div>

			<!-- Sidebar -->
			<div class="sidebar">
				<section>
					<div class="boardRanking">
						<div class="boardRanking_ranking">
							<table style="width: 90%;">
								<tr><td><a href="/adminmypage/adminmypage_list">전체</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_report">신고 접수</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_trainer">트레이너 신청 내역</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_board">관리자 게시물</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_usersearch" style="color: #5a8100; font-size: 20px;">유저 검색</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_message">문의함</a></td></tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>
<script>
	const cate = document.querySelectorAll('.cate');
	let nowCate = document.querySelector('.now_cate');

	cate.forEach(function(btn) {
		btn.addEventListener('click', function() {
			if (btn.classList.contains('now_cate')) {
			 return;
			}

			btn.classList.remove('not_cate');
			btn.classList.add('now_cate');

			nowCate.classList.remove('now_cate');
			nowCate.classList.add('not_cate');

			nowCate = btn;
		});
	});

    function search() {
        const search_input = document.getElementById("search_input");
        const search_keyword = search_input.value;

        const ut_option = document.getElementById("ut_option").value;

        console.log(search_keyword);
        console.log(ut_option);

        if (search_keyword) {
            $.ajax({
                url: '/adminmypage/adminmypage_usersearch',
                method: 'POST',
                data: {
                	keyword: search_keyword,
				 	option: ut_option
				},
                success: function(data) {
					displayData(data);
                },
                error: function(error) {
                	console.error('데이터를 가져오는 중 오류 발생: ' + error);
                }
            });
        }
    }

	function displayData(data) {
		const search_input = document.getElementById("search_input");
 		const search_result = document.getElementById("search_result");
		const no_keyword = document.getElementById("no_keyword");

		var tableBody = $('#data-table');

		try {
			data = JSON.parse(data);
			if (data.hasOwnProperty("trainerDTO")) {
				search_result.style.display = "block";
				no_keyword.style.display = "none";

				tableBody.empty();

				var tableHead = $('<thead>');
				var tableBody = $('<tbody>');

				var tableHeadRow = $('<tr style="font-weight: bold; font-size: 14px; background-color: white">');
				tableHeadRow.append('<td class="long_text">닉네임</td>');
				tableHeadRow.append('<td class="long_text">아이디</td>');
				tableHeadRow.append('<td class="long_text">성별</td>');
				tableHeadRow.append('<td class="long_text">트레이너 전환 날짜</td>');
				tableHeadRow.append('<td class="long_text">신고 당한 횟수</td>');
				tableHead.append(tableHeadRow);

				var row = $('<tr id="result_execlist">');
				row.append('<td class="long_text"><a href="#">' + data.trainerDTO.trainerNickname + '</a></td>');
				row.append('<td class="long_text"><a href="#" class="open">' + data.trainerDTO.trainerId + '</a></td>');
				row.append('<td class="long_text"><a href="#">' + data.trainerDTO.trainerGender + '</a></td>');
				row.append('<td class="long_text"><a href="#">' + data.trainerDTO.transferdate + '</a></td>');
				row.append('<td class="long_text"><a href="#">' + data.trainerDTO.trainerReportedcnt + '</a></td>');
				tableBody.append(row);

				$('#data-table').append(tableHead);
    			$('#data-table').append(tableBody);
			}
			else if (data.hasOwnProperty("userDTO")) {
				search_result.style.display = "block";
				no_keyword.style.display = "none";

				tableBody.empty();

				var tableHead = $('<thead>');
				var tableBody = $('<tbody>');

				var tableHeadRow = $('<tr style="font-weight: bold; font-size: 14px; background-color: white">');
				tableHeadRow.append('<td class="long_text">닉네임</td>');
				tableHeadRow.append('<td class="long_text">아이디</td>');
				tableHeadRow.append('<td class="long_text">성별</td>');
				tableHeadRow.append('<td class="long_text">가입일자</td>');
				tableHeadRow.append('<td class="long_text">신고 당한 횟수</td>');
				tableHead.append(tableHeadRow);

				var row = $('<tr id="result_execlist">');
				row.append('<td class="long_text"><a href="#">' + data.userDTO.userNickname + '</a></td>');
				row.append('<td class="long_text"><a href="#" class="open">' + data.userDTO.userId + '</a></td>');
				row.append('<td class="long_text"><a href="#">' + data.userDTO.userGender + '</a></td>');
				row.append('<td class="long_text"><a href="#">' + data.userDTO.userJoindate + '</a></td>');
				row.append('<td class="long_text"><a href="#">' + data.userDTO.userReportedcnt + '</a></td>');
				tableBody.append(row);

				$('#data-table').append(tableHead);
    			$('#data-table').append(tableBody);
			}
			else if (data.hasOwnProperty("noData")) {
				no_keyword.style.display = "block";
				search_result.style.display = "none";
				search_input.value = "";
			 	search_input.focus();
			}
			$(".open").on("click", function (e) {
				e.preventDefault();
				var userId = $(this).text();

				modalBox.classList.add("active");
				sendUserIdToModal(userId);
			});
		} catch (error) {
			console.error("올바른 데이터 형식이 아닙니다:", error);
		}
	}

	const searchButton = document.getElementById("searchBtn");
	const userSearchBtn  = document.getElementById("userSearchBtn");
	const trainerSearchBtn = document.getElementById("trainerSearchBtn");
	const dataTable = document.getElementById("data-table2");

	const searchContainer = document.getElementById("searchContainer");
	const listTable = document.getElementById("listTable");


	$(document).ready(function() {
		let currentCategory = 'searchUser';

		searchButton.addEventListener("click", function() {
			searchContainer.style.display = "block";
			listTable.style.display = "none";
		});

		userSearchBtn.addEventListener("click", function() {
			listTable.style.display = "block";
			searchContainer.style.display = "none";

			currentCategory = 'searchUser';
			loadPage('/adminmypage/searchUser', 1);
		});

		trainerSearchBtn.addEventListener("click", function() {
			listTable.style.display = "block";
			searchContainer.style.display = "none";

			currentCategory = 'searchTrainer';
			loadPage('/adminmypage/searchTrainer', 1);
		});


		function loadPage(url, pageNum) {
			$.ajax({
				url: url,
				data: { pageNum: pageNum, category: currentCategory },
				type: 'GET',
				dataType: 'json',
				success: function (data) {
					if (data.userList) {
						displayUserData(data.userList);
					} else {
						displayTrainerData(data.trainerList);
					}
					displayPaging(data.pageDTO);
				},
				error: function (error) {
					console.error('데이터를 가져오는 중 오류 발생: ' + error);
				}
			});
		}

		function displayPaging(pageDTO) {
			var startPage = pageDTO.startPage;
			var endPage = pageDTO.endPage;
			var prev = pageDTO.prev;
			var next = pageDTO.next;

			var str = '';

			if (prev) {
				str += '<a class="changePage" href="' + (startPage - 1) + '"><code>&lt;</code></a>';
			}

			for (var i = startPage; i <= endPage; i++) {
				if (i === pageDTO.cri.pagenum) {
					str += '<span class="nowPage">' + i + '</span> ';
				} else {
					str += '<a class="changePage" href="' + i + '">' + i + '</a>';
				}
			}

			if (next) {
				str += '<a class="changePage" href="' + (endPage + 1) + '"><code>&gt;</code></a>';
			}

			var page = $('.pagination');
			page.html('<tr align="center" valign="middle" class="pageTr"><td>' + str + '</td></tr>');

			// 페이지 버튼 클릭 이벤트를 연결
			$(".changePage").on("click", function (e) {
				e.preventDefault(); // 기본 동작 중지

				var pageNum = $(this).attr('href');
				loadPage('/adminmypage/' + currentCategory, pageNum);
			});
		}

		function displayUserData(userList) {
			var tableBody = $('#data-table2');
			tableBody.empty();

			if (userList != null && userList.length > 0) {
				userList.forEach(function (userData) {
					var row = $('<tr id="result_execlist">');
					row.append('<td class="long_text"><a href="#">' + userData.userNickname + '</a></td>');
					row.append('<td class="long_text"><a href="#" class="open">' + userData.userId + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + userData.userGender + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + userData.userTel + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + userData.userReportedcnt + '</a></td></tr>');
					tableBody.append(row);
				});
			}
			else {
				tableBody.append('<tr><td colspan="5">현재 회원이 아무도 없습니다...</td></tr>');
			}
			$(".open").on("click", function (e) {
				e.preventDefault();
				var userId = $(this).text();

				modalBox.classList.add("active");
				sendUserIdToModal(userId);
			});
		}

		function displayTrainerData(trainerList) {
			var tableBody = $('#data-table2');
			tableBody.empty();

			if (trainerList != null && trainerList.length > 0) {
				trainerList.forEach(function (trainerData) {
					var row = $('<tr id="result_execlist">');
					row.append('<td class="long_text"><a href="#">' + trainerData.trainerNickname + '</a></td>');
					row.append('<td class="long_text"><a href="#" class="open">' + trainerData.trainerId + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + trainerData.trainerGender + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + trainerData.trainerTel + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + trainerData.trainerReportedcnt + '</a></td>');
					tableBody.append(row);
				});
			}
			else {
				tableBody.append('<tr><td colspan="5">현재 트레이너가 아무도 없습니다...</td></tr>');
			}
			$(".open").on("click", function (e) {
				e.preventDefault();
				var userId = $(this).text();

				modalBox.classList.add("active");
				sendUserIdToModal(userId);
			});
		}
	});
</script>
</body>
</html>