<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Untitled</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
</head>
<style>
	.top_img_box{
		width: 100%;
		height: 310px;
		margin-bottom: 50px;
		background-color: red;
	}

	.top_img_box > img {
		width: 100%;
		height: 100%;
	}

	#main {
		padding: 0;
	}

	.wrapper {
		padding: 0;
		margin-bottom: 100px;
	}

	#header {
		background-color: #5a8100;
	}

	#header nav > ul > li a {
		color: white;
	}

	#header h1 a {
		color: white;
	}

	#header .main ul li > a {
		color: white;

	}

	#footer {
		background-color: #304400;
	}

	a {
		border-bottom: none;
	}

	.long_text {
		width: 180px;
		max-width: 180px;
  		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}
</style>
<body class="is-preload">

	<!-- Header -->
	<th:block th:replace="~{layout/header::header(${session.loginUser})}"></th:block>

	<!-- Main -->
	<section id="main" class="wrapper sidebar left">
		<div class="top_img_box">
			<img src="/images/pic01.jpg" alt="">
		</div>

		<div class="inner">

			<header class="major">
				<h2>신고 접수</h2>
				<p>관리자 마이페이지</p>
			</header>



			<!-- Content -->
			<div class="content">
				<div id="allReport" class="button" style="margin-right: 10px;">전체</div>
				<div id="byUserReport" class="button" style="margin-right: 10px;">유저</div>
				<div id="byTrainerReport" class="button">트레이너</div>

				<table style="text-align: center; margin-top: 20px;">
					<thead>
						<tr style="font-weight: bold;">
							<td>신고 번호</td>
							<td>신고 유저</td>
							<td>게시글 번호</td>
							<td>카테고리</td>
							<td>신고 일자</td>
						</tr>
					</thead>
					<tbody id="data-table">
						<tr th:if="${reportList != null and reportList.size() > 0}" th:each="reportBoard : ${reportList}">
							<td class="long_text">
								<a href="#">
									[[${reportBoard.reportNum}]]
								</a>
							</td>
							<td class="long_text">
								<a href="#">
									[[${reportBoard.userId}]]
								</a>
							</td>
							<td class="long_text">
								<a href="#">
									[[${reportBoard.reportBoardnum}]]
								</a>
							</td>
							<td class="long_text">
								<a href="#">
									[[${reportBoard.boardCategory}]]
								</a>
							</td>
							<td class="long_text">
								<a href="#">
									[[${reportBoard.reportDate}]]
								</a>
							</td>
						</tr>
					</tbody>
					<tr th:if="${reportList == null or reportList.size() == 0}">
						<td colspan="5">
							접수된 신고가 없습니다!
						</td>
					</tr>
				</table>
			</div>

			<!-- Sidebar -->
			<div class="sidebar">

				<section>
					<h3><a href="/adminmypage/adminmypage_list">전체</a></h3>
					<h3><a href="/adminmypage/adminmypage_report" style="color: #5a8100;">신고 접수</a></h3>
					<h3><a href="/adminmypage/adminmypage_trainer">트레이너 신청 내역</a></h3>
					<h3><a href="/adminmypage/adminmypage_board">관리자 게시물</a></h3>
					<h3><a href="/adminmypage/adminmypage_usersearch">유저 검색</a></h3>
					<h3><a href="/adminmypage/adminmypage_message">문의함</a></h3>
				</section>

			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

	<!-- Scripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
	<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
	<script th:src="@{/assets/js/browser.min.js}"></script>
	<script th:src="@{/assets/js/breakpoints.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<script th:src="@{/assets/js/util_sub.js}"></script>
	<script th:src="@{/assets/js/main_sub.js}"></script>

	<script th:src="@{/assets/js/sidebar.js}"></script>

	<script>
		$(document).ready(function() {
            $('#allReport').click(function() {
                $.ajax({
                    url: '/adminmypage/allReport',
                    type: 'GET',
                    dataType: 'json',
                    success: function(data) {
                        displayData(data);
                    },
                    error: function(error) {
                        console.error('데이터를 가져오는 중 오류 발생: ' + error);
                    }
                });
            });
        });

		$(document).ready(function() {
			$('#byUserReport').click(function() {
					$.ajax({
					url: '/adminmypage/reportByUser',
					type: 'GET',
					dataType: 'json',
					success: function(data) {
						displayData(data);
					},
					error: function(error) {
						console.error('데이터를 가져오는 중 오류 발생: ' + error);
					}
				});
			});
		})

		$(document).ready(function() {
			$('#byTrainerReport').click(function() {
				$.ajax({
					url: '/adminmypage/reportByTrainer',
					type: 'GET',
					dataType: 'json',
					success: function(data) {
						displayData(data);
					},
					error: function(error) {
						console.error('데이터를 가져오는 중 오류 발생: ' + error);
					}
				});
			});
		})

		function displayData(data) {
			let tableBody = $('#data-table');
			tableBody.empty();

			if (data != null && data.length > 0) {
				data.forEach(function (reportBoard) {
					let row = $('<tr>');
					row.append('<td class="long_text"><a href="#">' + reportBoard.reportNum + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + reportBoard.userId + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + reportBoard.reportBoardnum + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + reportBoard.boardCategory + '</a></td>');
					row.append('<td class="long_text"><a href="#">' + reportBoard.reportDate + '</a></td>');
					tableBody.append(row);
				});
			}
			else {
				tableBody.append('<tr><td colspan="5">접수된 신고가 없습니다!</td></tr>');
			}
		}
	</script>
</body>
</html>