<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />

	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}">
	<link rel="stylesheet" th:href="@{/assets/css/reportModal.css}">
	<link rel="stylesheet" th:href="@{/assets/css/reportAdminModal.css}">
	<link rel="stylesheet" th:href="@{/assets/css/messageToAdminModal.css}">
	<link rel="icon" href="/images/fithub-favicon.png" type="image/png">
</head>
<style>
	a {
		border-bottom: none;
	}

	.long_text {
		width: 180px;
		max-width: 180px;
  		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}

	.pageTr {
		background-color: white !important;
		border: none;
	}

	.now_cate {
		background-color: #ebede1 !important;
	}

	.header_box{
		width: 100%;
		background:
			linear-gradient(to right, rgba(143, 167, 70, 0.7), rgba(143, 167, 70, 0.3)),
			url('/images/admintop3.png');
		background-size: cover;
		background-position: top;
		background-repeat: no-repeat;
	}

	.test12 {
		width: 1080px;
		height: 250px;
		margin: 0 auto;
		margin-bottom: 4em;
		color: #fff;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
</style>
<body class="is-preload">

<!--	<script th:if="${session.loginUser != null}" th:unless="${#strings.contains(session.loginUser, 'admin')}">-->
<!--		alert("관리자만 접근 가능합니다!!!");-->
<!--		location.replace("/");-->
<!--	</script>-->

	<!-- Header -->
	<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile},${session.todaydate})}"></th:block>

	<!-- Modal -->
	<th:block th:replace="~{layout/profileModal::profileModal}"></th:block>
	<th:block th:replace="~{layout/reportModal::reportModal()}"></th:block>
	<th:block th:replace="~{layout/reportAdminModal::reportAdminModal()}"></th:block>
	<th:block th:replace="~{layout/messageToAdmin::messageToAdminModal()}"></th:block>

	<!-- Main -->
	<section id="main" class="wrapper sidebar left">

		<div class="header_box">
			<header class="test12">
				<p id="mainText">마이페이지</p>
				<p id="subText">신고 접수</p>
			</header>
		</div>

		<div class="inner">


			<!-- Content -->
			<div class="content">
				<div id="allReport" class="button cate now_cate ctBtncolor" style="margin-right: 10px;">전체</div>
				<div id="byUserReport" class="button cate not_cate ctBtncolor" style="margin-right: 10px;">유저</div>
				<div id="byTrainerReport" class="button cate not_cate ctBtncolor" style="margin-right: 10px;">트레이너</div>
				<div id="doneReport" class="button cate not_cate ctBtncolor">처리완료</div>

				<table style="text-align: center; margin-top: 20px;">
					<thead>
						<tr style="font-weight: bold;" class="table_test">
							<td class="long_text">신고 번호</td>
							<td class="long_text">신고 유저</td>
							<td class="long_text">게시글 번호</td>
							<td class="long_text">카테고리</td>
							<td class="long_text">신고 일자</td>
							<td class="long_text">처리</td>
						</tr>
					</thead>
					<tbody id="data-table">
						<tr th:if="${reportList != null and reportList.size() > 0}" th:each="reportBoard : ${reportList}" id="result_execlist">
							<td class="long_text">
								[[${reportBoard.reportNum}]]
							</td>
							<td class="long_text">
								<a href="#" class="open">[[${reportBoard.userId}]]</a>
							</td>
							<td class="long_text">
								[[${reportBoard.reportBoardnum}]]
							</td>
							<td class="long_text">
								[[${reportBoard.boardCategoryName}]]
							</td>
							<td class="long_text">
								[[${reportBoard.reportDate}]]
							</td>
							<td class="long_text">
								<a href="#" class="reportAdminOpen button btnColor">처리하기</a>
							</td>
						</tr>
						<tr th:if="${reportList == null or reportList.size() == 0}">
							<td colspan="6">
								접수된 신고가 없습니다!
							</td>
						</tr>
					</tbody>
				</table>
				<br>
				<!-- 페이징 처리하는 테이블 -->
				<table class="pagination">
					<tr align="center" valign="middle" class="pageTr">
						<td>
							<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>
							<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
								<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>
								<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>
							</th:block>
							<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>
						</td>
					</tr>
				</table>
			</div>

			<!-- Sidebar -->
			<div class="sidebar">
				<section>
					<div class="boardRanking">
						<div class="boardRanking_ranking">
							<table style="width: 90%;">
								<tr><td><a href="/adminmypage/adminmypage_list">전체</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_report" style="color: #5a8100; font-size: 20px;">신고 접수</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_trainer">트레이너 신청 내역</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_board">관리자 게시물</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_usersearch">유저 검색</a></td></tr>
								<tr><td><a href="/adminmypage/adminmypage_message">문의함</a></td></tr>
							</table>
						</div>
					</div>
				</section>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebarTap.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>
<script th:src="@{/assets/js/reportModal.js}"></script>
<script th:src="@{/assets/js/reportAdminModal.js}"></script>
<script th:src="@{/assets/js/messageToAdminModal.js}"></script>
<script>
	const cate = document.querySelectorAll('.cate');
	let nowCate = document.querySelector('.now_cate');

	cate.forEach(function(btn) {
		btn.addEventListener('click', function() {
			if (btn.classList.contains('now_cate')) {
		 		return;
			}

			btn.classList.remove('not_cate');
			btn.classList.add('now_cate');

			nowCate.classList.remove('now_cate');
			nowCate.classList.add('not_cate');

			nowCate = btn;
		});
	});

	$(document).ready(function() {
        let currentCategory = 'all';
        loadPage('/adminmypage/allReport', 1);

        $('#allReport').click(function() {
            currentCategory = 'all';
            loadPage('/adminmypage/allReport', 1);
        });

        $('#byUserReport').click(function() {
            currentCategory = 'byUser';
            loadPage('/adminmypage/byUserReport', 1);
        });

        $('#byTrainerReport').click(function() {
            currentCategory = 'byTrainer';
            loadPage('/adminmypage/byTrainerReport', 1);
        });

        $('#doneReport').click(function() {
            currentCategory = 'done';
            loadPage('/adminmypage/doneReport', 1);
        });

        // 페이지 데이터를 불러오는 함수
        function loadPage(url, pageNum) {
            $.ajax({
                url: url,
                data: { pageNum: pageNum, category: currentCategory },
                type: 'GET',
                dataType: 'json',
                success: function (data) {
                    // 게시글 목록 업데이트
                    displayData(data);
                    // 페이징 버튼 업데이트
                    displayPaging(data.pageDTO);
                },
                error: function (error) {
                    console.error('데이터를 가져오는 중 오류 발생: ' + error);
                }
            });
        }

        function displayPaging(pageDTO) {
            var startPage = pageDTO.startPage;
            var endPage = pageDTO.endPage;
            var prev = pageDTO.prev;
            var next = pageDTO.next;

            var str = '';

            if (prev) {
                str += '<a class="changePage" href="' + (startPage - 1) + '"><code>&lt;</code></a>';
            }

            for (var i = startPage; i <= endPage; i++) {
                if (i === pageDTO.cri.pagenum) {
                    str += '<span class="nowPage">' + i + '</span> ';
                } else {
                    str += '<a class="changePage" href="' + i + '">' + i + '</a>';
                }
            }

            if (next) {
                str += '<a class="changePage" href="' + (endPage + 1) + '"><code>&gt;</code></a>';
            }

            var page = $('.pagination');
            page.html('<tr align="center" valign="middle" class="pageTr"><td>' + str + '</td></tr>');

            // 페이지 버튼 클릭 이벤트를 연결
            $(".changePage").on("click", function (e) {
                e.preventDefault(); // 기본 동작 중지

                var pageNum = $(this).attr('href');
                loadPage('/adminmypage/' + currentCategory + 'Report', pageNum);
            });
        }

		function displayData(data) {
			var tableBody = $('#data-table');
			tableBody.empty();

			if (data.reportList != null && data.reportList.length > 0) {
				data.reportList.forEach(function (reportData) {
					if (reportData.reportYn === 'n') {
						var row = $('<tr id="result_execlist">');
						row.append('<td class="long_text"><span class="reportNum">' + reportData.reportNum + '</span></td>');
						row.append('<td class="long_text"><a href="#" class="open">' + reportData.userId + '</a></td>');
						row.append('<td class="long_text">' + reportData.reportBoardnum + '</td>');
						row.append('<td class="long_text">' + reportData.boardCategoryName + '</td>');
						row.append('<td class="long_text">' + reportData.reportDate + '</td>');
						row.append('<td class="long_text"><a href="#" class="reportAdminOpen button btnColor">처리하기</a></td>');
						tableBody.append(row);
					}
					else if (reportData.reportYn === 'y') {
						var row = $('<tr id="result_execlist">');
						row.append('<td class="long_text"><span class="reportNum">' + reportData.reportNum + '</span></td>');
						row.append('<td class="long_text"><a href="#" class="open">' + reportData.userId + '</a></td>');
						row.append('<td class="long_text">' + reportData.reportBoardnum + '</td>');
						row.append('<td class="long_text">' + reportData.boardCategoryName + '</td>');
						row.append('<td class="long_text">' + reportData.reportDate + '</td>');
						row.append('<td class="long_text"><a href="#" class="reportAdminOpen button disabled btnColor">처리하기</a></td>');
						tableBody.append(row);
					}
				});
			}
			else {
				tableBody.append('<tr><td colspan="6">접수된 신고가 없습니다!</td></tr>');
			}

            $(".open").on("click", function (e) {
                e.preventDefault();
				var userId = $(this).text();

				sendUserIdToModal(userId);
                modalBox.classList.add("active");
            });

            $('.reportAdminOpen').on('click', reportAdminModal);
		}
	});
</script>
</body>
</html>