<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<style>
	.top_img_box{
		width: 100%;
		height: 310px;
		margin-bottom: 50px;
		background-color: red;
	}

	.top_img_box > img {
		width: 100%;
		height: 100%;
	}

	#main {
		padding: 0;
	}

	.wrapper {
		padding: 0;
		margin-bottom: 100px;
	}

	#header {
		background-color: #5a8100;
	}

	#header nav > ul > li a {
		color: white;
	}

	#header h1 a {
		color: white;
	}

	#header .main ul li > a {
		color: white;
	}

	#footer {
		background-color: #304400;
	}

	.adminmypadge_content_box {
		width: 100%;
	}

	.adminmypadge_content_box:last-child{
		height: 350px;
	}

	.actions {
		float: right;
	}

	.adminmypage_box {
		width: 100%;
	}

	.content {
		width: 30%;
	}

	ol, ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.admin_board_list {
		width: 240px;
		height: 120px;
		background-color: transparent;
    	color: #444 !important;
    	box-shadow: inset 0 0 0 1px #444;
		margin-top: 20px;
		text-align: center;
		padding: 10px;
		overflow: hidden;
		white-space: normal;
		text-overflow: ellipsis;
		cursor: pointer;
	}

	.admin_board_list > div {
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: normal;
	}

	tr{
		background-color: white;
	}

	.category_button {
		margin-right: 10px;
	}

	a {
		border-bottom: none;
	}

	.admin_board_list_box {
		display: flex;
		justify-content: space-between;
	}

	.long_text {
		width: 180px;
		max-width: 180px;
  		white-space: nowrap;
  		overflow: hidden;
		text-overflow: ellipsis;
	}

	.more_view {
		float: right;
	}

</style>
<body class="is-preload">

<!--	<th:block th:if="${session.loginUser == null}">-->
<!--		<script>-->
<!--			alert("로그인 후 접근 가능합니다!!!");-->
<!--			location.replace("/");-->
<!--		</script>-->
<!--	</th:block>-->
<!--	<script th:if="${session.loginUser != null}" th:unless="${#strings.contains(session.loginUser, 'admin')}">-->
<!--		alert("관리자만 접근 가능합니다!!!");-->
<!--        location.replace("/");-->
<!--	</script>-->

	<!-- Header -->
	<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user})}"></th:block>

	<!-- Modal -->
	<th:block th:replace="~{layout/profileModal::profileModal()}"></th:block>

	<!-- Main -->
	<section id="main" class="wrapper sidebar left">
		<div class="top_img_box">
			<img src="/images/pic01.jpg" alt="">
		</div>

		<div class="inner">

			<header class="major">
				<h2>관리자</h2>
				<p>마이페이지</p>
			</header>



			<!-- Content -->
			<div class="content">
				<div class="adminmypage_box">
					<h2>신고 접수</h2>
					<div class="adminmypadge_content_box">
						<table style="text-align: center;">
							<tr>
								<td class="long_text">
									<a href="#">
										report.report_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.board_category
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.report_date
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										report.report_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.board_category
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.report_date
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										report.report_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.board_category
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.report_date
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										report.report_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.board_category
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.report_date
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										report.report_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.board_category
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										report.report_date
									</a>
								</td>
							</tr>
						</table>
					<a href="/adminmypage/adminmypage_report" class="button more_view">더보기</a>
					</div>
				</div>

				<div class="adminmypage_box">
					<h2>트레이너 신청 내역</h2>
					<div class="adminmypadge_content_box">
						<table style="text-align: center;">
							<tr>
								<td class="long_text">
									<a href="#">
										signup.signup_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_part
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_career
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										signup.signup_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_part
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_career
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										signup.signup_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_part
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_career
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										signup.signup_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_part
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_career
									</a>
								</td>
							</tr>
							<tr>
								<td class="long_text">
									<a href="#">
										signup.signup_num
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.user_id
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_part
									</a>
								</td>
								<td class="long_text">
									<a href="#">
										signup.trainer_career
									</a>
								</td>
							</tr>
						</table>
					<a href="/adminmypage/adminmypage_trainer" class="button more_view">더보기</a>
					</div>
				</div>

				<div class="adminmypage_box">
					<h2>관리자 게시물</h2>
					<div class="adminmypadge_content_box">
						<div class="button category_button">
							<a href="#">뉴스</a>
						</div>
						<div class="button category_button">
							<a href="#">운동 정보</a>
						</div>
						<div class="button category_button">
							<a href="#">식단 레시피</a>
						</div>
						<div class="button category_button">
							<a href="#">꿀팁</a>
						</div>
						<div class="admin_board_list_box">
							<div>
								<div class="admin_board_list">
									<div style="font-weight: bold;">board.board_title</div>
									<div>board.board_contentboard_contentboard_contentboard_contentboard_content</div>
									<div>board.view_cnt</div>
									<div>board.like_cnt</div>
								</div>
							</div>
							<div>
								<div class="admin_board_list">
									<div style="font-weight: bold;">board.board_title</div>
									<div>board.board_contentboard_contentboard_contentboard_contentboard_content</div>
									<div>board.view_cnt</div>
									<div>board.like_cnt</div>
								</div>
							</div>
							<div>
								<div class="admin_board_list">
									<div style="font-weight: bold;">board.board_title</div>
									<div>board.board_contentboard_contentboard_contentboard_contentboard_content</div>
									<div>board.view_cnt</div>
									<div>board.like_cnt</div>
								</div>
							</div>
						</div>
						<div class="admin_board_list_box" style="margin-bottom: 25px;">
							<div>
								<div class="admin_board_list">
									<div style="font-weight: bold;">board.board_title</div>
									<div>board.board_contentboard_contentboard_contentboard_contentboard_content</div>
									<div>board.view_cnt</div>
									<div>board.like_cnt</div>
								</div>
							</div>
							<div>
								<div class="admin_board_list">
									<div style="font-weight: bold;">board.board_title</div>
									<div>board.board_contentboard_contentboard_contentboard_contentboard_content</div>
									<div>board.view_cnt</div>
									<div>board.like_cnt</div>
								</div>
							</div>
							<div>
								<div class="admin_board_list">
									<div style="font-weight: bold;">board.board_title</div>
									<div>board.board_contentboard_contentboard_contentboard_contentboard_content</div>
									<div>board.view_cnt</div>
									<div>board.like_cnt</div>
								</div>
							</div>
						</div>
					<a href="/adminmypage/adminmypage_board" class="button more_view">더보기</a>
					</div>
				</div>
			</div>

			<!-- Sidebar -->
			<div class="sidebar">

				<section>
					<h3><a href="/adminmypage/adminmypage_list" style="color: #5a8100;">전체</a></h3>
					<h3><a href="/adminmypage/adminmypage_report">신고 접수</a></h3>
					<h3><a href="/adminmypage/adminmypage_trainer">트레이너 신청 내역</a></h3>
					<h3><a href="/adminmypage/adminmypage_board">관리자 게시물</a></h3>
					<h3><a href="/adminmypage/adminmypage_usersearch">유저 검색</a></h3>
					<h3><a href="/adminmypage/adminmypage_message">문의함</a></h3>
				</section>

			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

	<!-- Scripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
	<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
	<script th:src="@{/assets/js/browser.min.js}"></script>
	<script th:src="@{/assets/js/breakpoints.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>

	<script th:src="@{/assets/js/util_sub.js}"></script>
	<script th:src="@{/assets/js/main_sub.js}"></script>

	<script th:src="@{/assets/js/sidebar.js}"></script>
	<script th:src="@{/assets/js/profile.js}"></script>
</body>
</html>