<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/infoBoard.css}">
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
	<link rel="icon" href="/images/fithub-favicon.png" type="image/png">
	<style>
		.header_box {
			width: 100%;
			background: linear-gradient(to right, rgba(143, 167, 70, 0.25), rgba(143, 167, 70, 0.3)), url(/images/board2.jpg);
			background-size: cover;
			background-position: 0 47%;
		}
		.content .button{
			float: right;
			margin-top: 5px;
			margin-right: 3px;
			padding: 0 !important;
			height: 25px; width: 60px;
			line-height: 25px;
			background-color: #5a8100;
			box-shadow: none !important;
			border-radius: 5px;
			color: white !important;
			font-size: 13px;
			text-align: center;
		}

		table {
			background-color: transparent;
		}
		table tbody tr:nth-child(2n + 1) {
			background-color: #F7FAF5;
		}
		table p{
			margin-bottom: 0;
		}
		table th{
			font-size: 13px !important;
			padding:3px;
		}

		table td{
			padding: 5px;
			vertical-align: middle;
			text-align: center;
			font-size: 14px !important;
		}
		td a{
			vertical-align: middle;
		}
		.boardtitle {
			display: inline-block;
			width: 300px;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		hr{
			margin-top: 50px;
			margin-bottom: 30px;
		}
		.button.more_view{
			background: #FFFFFF;
			border: 1px solid #5a8100;
			border-radius: 4px;
			color: #5a8100 !important;
			box-shadow: 4px 4px 2px 0px rgb(203,211,177) !important;
			font-weight: 700 !important;
			height: 2.75em !important;
			line-height: 2.75em !important;
			padding:0 1.5em !important;
			width: 86px !important;

		}

		.button.more_view:hover{
			background: #5a8100;
			border: 1px solid #5a8100;
			border-radius: 4px;
			color: #F7FAF5 !important;
			box-shadow: 0 0 2px #5a8100 !important;

		}

		hr {
		  border: none;
		  border-top: 1px solid transparent; /* 투명한 선으로 만듭니다. */
		}
	</style>
</head>
<body class="is-preload">

<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile},${session.todaydate})}"></th:block>
<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">커뮤니티</p>
			<p id="subText">게시판</p>
		</header>
	</div>

	<div class="inner">

		<!-- Content -->
		<div class="content">
			<div class="cotent_header"> </div>

			<div class="commu_free">
				<h2>자유게시판</h2>
				<div style="display: flex; width: 100%;">
					<table style="border-bottom: 1px #304400; width: 100%;">
						<thead>
						<tr>
							<th width="8%">번호</th>
							<th>제목</th>
							<th width="15%">작성자</th>
							<th width="10%">조회수</th>
							<th width="10%">좋아요</th>
							<th width="30%">등록일자</th>
						</tr>
						</thead>
						<th:block th:if="${freeList != null and freeList.size()>0}">
							<th:block th:each="board, iterStat : ${freeList}" th:if="${iterStat.index < 5}">
								<tr valign="middle">
									<td class="boardnum">
										[[${board.boardNum}]]
									</td>
									<td>
										<a class="get long_text boardtitle" th:href="${board.boardNum}">
											[[${board.boardTitle}]]
										</a>
									</td>
									<td class="long_text">
										<a href="#">
											[[${board.userId}]]
										</a>
									</td>
									<td class="long_text">
										[[${board.viewCnt}]]
									</td>
									<td class="long_text">
										[[${board.likeCnt}]]
									</td>
									<td class="long_text">
										[[${board.regdate}]]
									</td>
								</tr>
							</th:block>
						</th:block>
						<th:block th:if="${freeList == null or freeList.size() == 0}">
							<tr>
								<td colspan="6" style="text-align: center; font-size: 14px; width: 100%;">등록된
									게시글이 없습니다.</td>
							</tr>
						</th:block>
					</table>
				</div>
				<a class="button more_view" th:href="${'/community/commu_free'}">더보기</a>
			</div>
			<hr>
			<div class="commu_food">
				<h2>식단</h2>
				<div style="display: flex; width: 100%;">
					<table style="border-bottom: 1px #304400; width: 100%;">
						<thead>
						<tr>
							<th width="8%">번호</th>
							<th>제목</th>
							<th width="15%">작성자</th>
							<th width="10%">조회수</th>
							<th width="10%">좋아요</th>
							<th width="30%">등록일자</th>
						</tr>
						</thead>
						<th:block th:if="${foodList != null and foodList.size()>0}">
							<th:block th:each="board, iterStat : ${foodList}" th:if="${iterStat.index < 5}">
								<tr valign="middle">
									<td class="boardnum">
										[[${board.boardNum}]]
									</td>
									<td>
										<a class="get long_text boardtitle" th:href="${board.boardNum}">
											[[${board.boardTitle}]]
										</a>
									</td>
									<td class="long_text">
										<a href="#">
											[[${board.userId}]]
										</a>
									</td>
									<td class="long_text">
										[[${board.viewCnt}]]
									</td>
									<td class="long_text">
										[[${board.likeCnt}]]
									</td>
									<td class="long_text">
										[[${board.regdate}]]
									</td>
								</tr>
							</th:block>
						</th:block>
						<th:block th:if="${foodList == null or foodList.size() == 0}">
							<tr>
								<td colspan="6" style="text-align: center; font-size: 14px; width: 100%;">등록된
									게시글이 없습니다.</td>
							</tr>
						</th:block>
					</table>
				</div>
				<a class="button more_view" th:href="${'/community/commu_food'}">더보기</a>
			</div>
			<hr>
			<div class="commu_exercise">
				<h2>운동</h2>
				<div style="display: flex; width: 100%;">
					<table style="border-bottom: 1px #304400; width: 100%;">
						<thead>
						<tr>
							<th width="8%">번호</th>
							<th>제목</th>
							<th width="15%">작성자</th>
							<th width="10%">조회수</th>
							<th width="10%">좋아요</th>
							<th width="30%">등록일자</th>
						</tr>
						</thead>
						<th:block th:if="${exerList != null and exerList.size()>0}">
							<th:block th:each="board, iterStat : ${exerList}" th:if="${iterStat.index < 5}">
								<tr valign="middle">
									<td class="boardnum">
										[[${board.boardNum}]]
									</td>
									<td>
										<a class="get long_text boardtitle" th:href="${board.boardNum}">
											[[${board.boardTitle}]]
										</a>
									</td>
									<td class="long_text">
										<a href="#">
											[[${board.userId}]]
										</a>
									</td>
									<td class="long_text">
										[[${board.viewCnt}]]
									</td>
									<td class="long_text">
										[[${board.likeCnt}]]
									</td>
									<td class="long_text">
										[[${board.regdate}]]
									</td>
								</tr>
							</th:block>
						</th:block>
						<th:block th:if="${exerList == null or exerList.size() == 0}">
							<tr>
								<td colspan="6" style="text-align: center; font-size: 14px; width: 100%;">등록된
									게시글이 없습니다.</td>
							</tr>
						</th:block>
					</table>
				</div>
				<a class="button more_view" th:href="${'/community/commu_exercise'}">더보기</a>
			</div>
			<hr>
			<div class="commu_gallery">
				<h2>갤러리</h2>
				<div style="display: flex; width: 100%;">
					<table style="border-bottom: 1px #304400; width: 100%;">
						<thead>
						<tr>
							<th width="8%">번호</th>
							<th>제목</th>
							<th width="15%">작성자</th>
							<th width="10%">조회수</th>
							<th width="10%">좋아요</th>
							<th width="30%">등록일자</th>
						</tr>
						</thead>
						<th:block th:if="${galleryList != null and galleryList.size()>0}">
							<th:block th:each="board, iterStat : ${galleryList}" th:if="${iterStat.index < 5}">
								<tr valign="middle">
									<td class="boardnum">
										[[${board.boardNum}]]
									</td>
									<td>
										<a class="get long_text boardtitle" th:href="${board.boardNum}">
											[[${board.boardTitle}]]
										</a>
									</td>
									<td class="long_text">
										<a href="#">
											[[${board.userId}]]
										</a>
									</td>
									<td class="long_text">
										[[${board.viewCnt}]]
									</td>
									<td class="long_text">
										[[${board.likeCnt}]]
									</td>
									<td class="long_text">
										[[${board.regdate}]]
									</td>
								</tr>
							</th:block>
						</th:block>
						<th:block th:if="${galleryList == null or galleryList.size() == 0}">
							<tr>
								<td colspan="6" style="text-align: center; font-size: 14px; width: 100%;">등록된
									게시글이 없습니다.</td>
							</tr>
						</th:block>
					</table>
				</div>
				<a class="button more_view" th:href="${'/community/commu_gallery'}">더보기</a>
			</div>
			<hr>
			<div class="commu_qna">
				<h2>고민 Q&A</h2>
				<div style="display: flex; width: 100%;">
					<table style="border-bottom: 1px #304400; width: 100%;">
						<thead>
						<tr>
							<th width="8%">번호</th>
							<th>제목</th>
							<th width="15%">작성자</th>
							<th width="10%">조회수</th>
							<th width="10%">좋아요</th>
							<th width="30%">등록일자</th>
						</tr>
						</thead>
						<th:block th:if="${qnaList != null and qnaList.size()>0}">
							<th:block th:each="board, iterStat : ${qnaList}" th:if="${iterStat.index < 5}">
								<tr valign="middle">
									<td class="boardnum">
										[[${board.boardNum}]]
									</td>
									<td>
										<a class="get long_text boardtitle" th:href="${board.boardNum}">
											[[${board.boardTitle}]]
										</a>
									</td>
									<td class="long_text">
										<a href="#">
											[[${board.userId}]]
										</a>
									</td>
									<td class="long_text">
										[[${board.viewCnt}]]
									</td>
									<td class="long_text">
										[[${board.likeCnt}]]
									</td>
									<td class="long_text">
										[[${board.regdate}]]
									</td>
								</tr>
							</th:block>
						</th:block>
						<th:block th:if="${qnaList == null or qnaList.size() == 0}">
							<tr>
								<td colspan="6" style="text-align: center; font-size: 14px; width: 100%;">등록된
									게시글이 없습니다.</td>
							</tr>
						</th:block>
					</table>
				</div>
				<a class="button more_view" th:href="${'/community/commu_qna'}">더보기</a>
			</div>
			<hr>
			<form name="pageForm" id="pageForm" th:action="@{/community/commu_list}">
				<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
				<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
				<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
				<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
			</form>
		</div>


		<!-- Sidebar -->
		<div class="sidebar">
			<section>
				<div class="boardRanking">
					<div class="boardRanking_ranking">
						<table style="width: 90%;" class="td_padding">
							<tr><td><a href="/community/commu_list" style="color: #5a8100; font-size: 20px;">전체</a></td></tr>
							<tr><td><a href="/community/commu_free">자유게시판</a></td></tr>
							<tr><td><a href="/community/commu_food">식단</a></td></tr>
							<tr><td><a href="/community/commu_exercise">운동</a></td></tr>
							<tr><td><a href="/community/commu_gallery">갤러리</a></td></tr>
							<tr><td><a href="/community/commu_qna">고민Q&A</a></td></tr>
						</table>
					</div>
				</div>
			</section>
		</div>

	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebarTap.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>
</body>
<script th:inline="javascript">

	const pageForm = $("#pageForm");

	$(".get").on("click",function(e){
		e.preventDefault();
		let boardNum = $(this).attr("href");
		let url=/*[[@{/community/commu_get}]]*/'';
		pageForm.append("<input type='hidden' name='boardNum' value='"+boardNum+"'>")
		pageForm.attr("action",url);
		pageForm.attr("method","get");
		pageForm.submit();
	})

</script>
</html>