<link xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="header(loginUser,user,trainer,admin,profile)">
    <style>
        .submenu {
   width: 150px;
   position: absolute;
   font-size: 14px;
   background: #ebede1;
   z-index: 5555;
   border-radius: 15px;
   padding:0;

 }

 .submenu li {
   list-style-type: none;
    color: black !important;
 }

 .submenu li:hover {
   background: rgb(203,211,177);
   transition: ease 1s;
   border-radius: 15px;
   padding:0;
 }

    </style>

    <!--<style>
        #header {
      background-color: #5a8100 !important;
    }

    #header nav > ul > li a {
      color: white !important;
    }

    #header h1 a {
      color: white !important;
    }

    #header .main ul li > a {
      color: white !important;

    }

    #footer {
      background-color: #304400;
    }-->
    <!--</style>-->

    <!--<th:block th:if="${session.loginUser == null}">
        <script>
            alert("로그인 후 이용 가능합니다!!!");
            location.replace("/user/login");
        </script>
    </th:block>-->

    <header id="header" class="alt">
        <h1 style="color: #fff;">
            <a href="/">
                Fit
                <span>Hub</span>
            </a>
        </h1>
        <nav class="links">
            <ul>
                <li class="menu-item"><a href="/info/info_list" style="color: white;">정보</a>
                    <ul class="submenu">
                        <li><a href="/info/info_list">전체</a></li>
                        <li><a href="/info/info_news">뉴스</a></li>
                        <li><a href="/info/info_food">식단</a></li>
                        <li><a href="/info/info_exercise">운동</a></li>
                        <li><a href="/info/info_tip">꿀팁</a></li>

                    </ul>
                </li>
                <li class="menu-item"><a href="/calorie/food_calorie_list" style="color: white;">칼로리</a>
                    <ul class="submenu">
                        <li><a href="/calorie/food_calorie_list">음식칼로리</a></li>
                        <li><a href="/calorie/exercise_calorie_list">운동칼로리</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="/community/commu_list" style="color: white;">커뮤니티</a>
                    <ul class="submenu">
                        <li><a href="/community/commu_free">자유게시판</a></li>
                        <li><a href="/community/commu_food">식단</a></li>
                        <li><a href="/community/commu_exercise">운동</a></li>
                        <li><a href="/community/commu_gallery">갤러리</a></li>
                        <li><a href="/community/commu_qna">고민 Q&A</a></li>

                    </ul>
                </li>
                <li class="menu-item"><a href="/matching/matching_list" style="color: white;">트레이너 매칭</a>
                    <ul class="submenu">
                        <li><a href="/matching/matching_list">트레이너매칭</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="/challenge/list" style="color: white;">챌린지</a>
                    <ul class="submenu">
                        <li><a href="/info/submenu1">챌린지</a></li>
                    </ul>
                </li>
                <li class="menu-item"><a href="/product/prod_list" style="color: white;">제품</a>
                    <ul class="submenu">
                        <li><a href="/product/prod_food">식품</a></li>
                        <li><a href="/product/prod_exercise">운동도구</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <script>
            const menuItems = document.querySelectorAll('.menu-item');

            menuItems.forEach(item => {
            const submenu = item.querySelector('.submenu');
            item.addEventListener('mouseenter', () => {
            submenu.style.display = 'block';
            });
            item.addEventListener('mouseleave', () => {
            submenu.style.display = 'none';
            });
            });
        </script>
        <nav class="main">
            <ul>
                <li id="login">
                    <th:block th:if="${session.loginUser == null}">
                        <a class="login" th:href="@{/user/login}" style="color: #fff;">Login</a>
                    </th:block>
                    <th:block th:if="${session.loginUser != null}">
                        <a class="login" th:href="@{/user/logout}" style="color: #fff;">logout</a>
                    </th:block>

                    <a class="login" href="/usermypage/user_myinfo" style="color: #fff;">유저</a>
                    <a class="login" href="/trainermypage/trainer_modify" style="color: #fff;">트레</a>
                    <a class="login" href="/adminmypage/adminmypage_list" style="color: #fff;">관리</a>
                </li>
                <li class="search">
                    <a class="fa-search" href="#search" style="color: #fff;">Search</a>
                    <form id="search" method="get" action="/searchpage/totalSearch">
                        <input type="text" name="keyword" placeholder="Search" />
                        <!--                        <input type="hidden" value="1" name="pagenum">-->
                        <!--                        <input type="hidden" value="12" name="amount">-->
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu" style="color: #fff;">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">
        <th:block th:if="${session.loginUser == null}">
            <div class="side-not-login">
                <p>로그인하세요</p>
                <a th:href="@{/user/login}">로그인</a>
            </div>
        </th:block>
        <th:block th:if="${session.loginUser != null}">
            <div class="side_info">
                <a href="/usermypage/user_myinfo">
                    <th:block th:if="${profile != null}">
                        <th:block th:with="sar=${profile.orgName.split('[.]')}">
                            <th:block th:with="ext=${sar[sar.length-1]}">
                                <th:block th:if="${ext == 'jpg' or ext == 'jpeg' or ext == 'png' or ext == 'gif' or ext == 'webp'}">
                                    <img style="width:102px; height:102px" th:src="@{/usermypage/thumbnail (sysName=${profile.sysName})}">
                                </th:block>
                            </th:block>
                        </th:block>
                    </th:block>
                    <th:block th:unless="${profile != null}">
                        <img style="width:102px; height:102px" th:src="@{/usermypage/thumbnail (sysName='profile_img.png')}">
                    </th:block>
                </a>
                <div id="my_info">
                    <div>
                        <a href="/usermypage/user_myinfo">내 정보</a>
                        <th:block th:if="${session.loginUser != null}">
                            <a class="login" th:href="@{/user/logout}">로그아웃</a>
                        </th:block>
                    </div>
                    <a href="/usermypage/user_myinfo">
                        <!--<span>등급 / 닉네임(ID)</span>-->
                        <th:block th:if="${user !=null && loginUser != null}">
                            <span th:text="${user.userNickname}"></span>(<span th:text="${user.userId}"></span>)
                        </th:block>
                    </a>
                </div>
                <hr>
                <div class="sidebar-link">
                    <!-- 상단에 위치할 링크들 -->
                    <div class="diary_lnk_img">
                        <a href="/usermypage/user_diary">
                            <img src="images/lnk-image/diary/diary_lnk_img.jpg" alt="diary">
                        </a>
                        <a href="/usermypage/user_diary">
                            다이어리
                        </a>
                    </div>

                    <div class="product_lnk_img">
                        <a href="/product/prod_list">
                            <img src="images/lnk-image/product/prod_lnk_img.jpg" alt="product">
                        </a>
                        <a href="/product/prod_list">
                            제품
                        </a>
                    </div>

                    <div class="bmi_lnk_img">
                        <a href="/sidebar/bmi">
                            <img src="images/lnk-image/BMI/bmi_lnk_img.jpg" alt="bmi">
                        </a>
                        <a href="/sidebar/bmi">
                            BMI
                        </a>
                    </div>

                    <div class="health_lnk_img">
                        <a href="/sidebar/healthCenter">
                            <img src="images/lnk-image/health/heal_lnk_img.jpg" alt="health">
                        </a>
                        <a href="/sidebar/healthCenter">
                            보건소
                        </a>
                    </div>

                    <div class="trainer_lnk_img">
                        <a href="/usermypage/user_applytrainer">
                            <img src="images/lnk-image/trainer/apply_lnk_img.jpg" alt="trainer">
                        </a>
                        <th:block th:if="${session.user != null}">
                            <a href="/usermypage/user_applytrainer">
                                트레이너 신청
                            </a>
                        </th:block>
                    </div>
                </div>
            </div>
        </th:block>
    </section>
</th:block>
