<th:block th:fragment="matchingModal()" xmlns:th="http://www.thymeleaf.org">
    <div class="modal_box">
        <div class="modal_contents">
            <button class="close">&times;</button>
            <h1 class="title">매칭 신청하기</h1>
            <div class="profile">
                <div class="application_notice">
                    <a href="#"></a>
                </div>
                <div class="application_buttons">

                </div>
            </div>
        </div>
    </div>
</th:block>

