<th:block th:fragment="matchingModal()" xmlns:th="http://www.thymeleaf.org">
    <div class="matching_modal_box">
        <div class="matching_modal_contents">
            <a href="#" class="matchingClose"><img src="/images/xbox.png" alt="close"></a>
            <h1 class="title">매칭 신청하기</h1>
            <div class="profile">
                <div class="application_notice">
                    <a href="#"></a>
                </div>
                <div class="application_buttons">

                </div>
            </div>
        </div>
    </div>
</th:block>

