<th:block th:fragment="profileModal" xmlns:th="http://www.thymeleaf.org">
    <div class="modal_box">
        <div class="modal_contents" id="profileModal">
            <div class="upper_area">
                <a href="#" class="close"><img src="/images/xbox.png" alt="close"></a>
                <a href="#" class="message"><img src="/images/messageMap.png" alt="userid"></a>
            </div>
            <h1 class="title">프로필</h1>
            <div class="profile">
                <div class="img_area"><a href="#"><img src="/images/profile_img.png" alt="userid"></a></div>
                <div class="desc">
                    <p class="name"><a></a></p>
                    <div class="application_buttons">
                    </div>
                    <div class="subscribe_buttons">

                    </div>
                </div>
            </div>
        </div>
        <div class="modal_contents" id="userMessageModal" style="display: none;">
            <div class="upper_area">
                <a href="#" class="back"><img src="/images/back.png" alt="close"></a>
            </div>
            <div class="message_user">
                <p class="profile_userId">받는 사람 :<a th:text="${receiveId}">받는 사람 ID</a></p>
                <p class="loginUser_userId">보내는 사람 :<a th:text="${sendId}">보내는 사람 ID</a></p>
            </div>
            <div class="content">
                <textarea placeholder="쪽지 내용을 입력하세요" class="contents" alt="contents"></textarea>
            </div>
            <div class="send">
                <button class="send-message" alt="send-message">보내기</button>
            </div>
        </div>
    </div>
</th:block>

