<th:block th:fragment="sidebar">
    <div class="sidebar" id="side_box">
        <section>
            <div class="rankBox">
                <table>
                    <tr>
                        <td colspan="2"><h3 class="side_ranking">인기 게시글 순위</h3></td>
                    </tr>
                    <tr th:each="boardTop5List, dataStat :${boardTop5List}">
                        <td th:text="${dataStat.index+1}"></td>
                        <td><a href="#">[[${boardTop5List.boardTitle}]]</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="rankBtn" type="button" value="게시물 보러가기" onclick="location.href='/info/info_list'">
                        </td>
                    </tr>
                </table>
            </div>
            <div class="rankBox">
                <table>
                    <tr>
                        <td colspan="2"><h3 class="side_ranking">트레이너 Top 5</h3></td>
                    </tr>
                    <tr th:each="trainerTop5List, dataStat: ${trainerTop5List}">
                        <td th:text="${dataStat.index + 1}">1</td>
                        <td class="open"><a class="cursorPointer">[[${trainerTop5List.trainerId}]]</a></td>
                    </tr>
                    <tr>
                        <td colspan="2"><input class="rankBtn" type="button" value="트레이너 보러가기"
                                               onclick="location.href='/matching/matching_list'"></td>
                    </tr>
                </table>
            </div>
        </section>
    </div>
</th:block>
