<th:block th:fragment="sidebar(loginUser)">
    <div class="sidebar">
        <section>
            <h3><a href="/trainermypage/trainer_modify">내 정보 수정</a></h3>
            <h3><a href="#">나의 다이어리</a></h3>
            <h3><a href="/trainermypage/trainer_challenge">나의 챌린지</a></h3>
            <h3><a href="/trainermypage/trainer_mysubscribeuser">구독 유저</a></h3>
            <h3><a href="/trainermypage/trainer_subbookmark">북마크</a></h3>
            <h3><a href="/trainermypage/trainer_boardlist">내 게시물</a></h3>
            <h3><a href="/trainermypage/trainer_messagelist">쪽지함</a></h3>
            <h3><a th:href="@{/trainermypage/trainer_myprofile (trainerId=${loginUser})}">트레이너 프로필</a></h3>
        </section>
    </div>
</th:block>