<th:block th:fragment="sidebar" xmlns:th="http://www.thymeleaf.org">
    <div class="sidebar">
        <section>
            <div class="boardRanking">
                <div class="boardRanking_ranking">
                    <table style="width: 90%;">
                        <tr>
                            <td><a href="/usermypage/user_myinfo">내 정보 수정</a></td>
                        </tr>
                        <tr>
                            <td><a href="#">나의 다이어리</a></td>
                        </tr>
                        <tr>
                            <td><a href="/usermypage/user_challenge">나의 챌린지</a></td>
                        </tr>
                        <tr>
                            <td><a href="/usermypage/user_subtrainer">구독한 트레이너</a></td>
                        </tr>
                        <tr>
                            <td><a href="/usermypage/user_subbookmark">북마크</a></td>
                        </tr>
                        <tr>
                            <td><a href="/usermypage/user_boardlist">내 게시물</a></td>
                        </tr>
                        <tr>
                            <td><a href="/usermypage/user_messagelist">쪽지함</a></td>
                        </tr>
                        <tr>
                            <td><a href="/usermypage/user_applytrainer">트레이너 전환 신청</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </section>
    </div>
</th:block>