<th:block th:fragment="userMassage()" xmlns:th="http://www.thymeleaf.org">
    <div class="modal_box">
        <div class="modal_contents">
            <div class="upper_area">
                <input type="text" class="profile_userId" alt="profile_userId">
                <input type="text" class="loginUser_userId" alt="loginUser_userId">
            </div>
            <div class="content">
                <textarea placeholder="쪽지 내용을 입력하세요" class="contents" alt="contents"></textarea>
                <button class="send-message" alt="send-message">쪽지 보내기</button>
            </div>
        </div>
    </div>
</th:block>

