<th:block th:fragment="challNoticeBoardModal()" xmlns:th="http://www.thymeleaf.org">
    <div class="noticeWrite_modal_box">
        <div class="noticeWrite_modal_contents">

            <div class="title-container">
                <button class="writeClose button btnColor">&times;</button>
                <h1 class="title">새 챌린지 등록</h1>
            </div>
            <div class="content">
                <!-- 게시글 리스트 띄우는 테이블 -->
                <form id="boardForm" method="post" name="boardForm" th:action="@{/challenge/noticeWrite}">

                    <table style="border-collapse: separate; margin-top:20px;">
                        <tr style="height:30px;">
                            <td style="text-align:center; width:150px; font-weight: bold;">챌린지 이름</td>
                            <td colspan="3">
                                <input type="text" id="challName" name="challName" size="50" maxlength="50" placeholder="챌린지 이름을 입력하세요">
                            </td>
                        </tr>
                        <tr style="height:30px;">
                            <td style="text-align:center; width:150px; font-weight: bold;">챌린지 카테고리</td>
                            <td>
                                <select id="challCategory" name="challCategory">
                                    <option value="challExer">운동</option>
                                    <option value="challFood">음식</option>
                                </select>
                            </td>
                            <td style="text-align:center; width:150px; font-weight: bold;">챌린지 기간</td>
                            <td>
                                <select id="challTerm" name="challTerm">
                                    <option value="7">7일</option>
                                    <option value="15">15일</option>
                                    <option value="30">30일</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:center; width:150px; font-weight: bold;">내 용</td>
                            <td colspan="3">
                                <textarea placeholder="챌린지 내용을 입력하세요" id="challContent" name="challContent" style="width: 100%; height:100px; resize:none; vertical-align: middle;"></textarea>
                            </td>
                        </tr>
                    </table>
                </form>
                <table class="btn_area">
                    <tr align="right" valign="middle">
                        <td>
                            <a class="button btnColor" href="javascript:writeSendit()">등록</a>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</th:block>

