<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/challengeModal.css}">
	<link rel="stylesheet" th:href="@{/assets/css/challNoticeBoardModal.css}">
	<link rel="stylesheet" th:href="@{/assets/css/index.css}">
	<link rel="stylesheet" th:href="@{/assets/css/common.css}">
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/ranking.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}"/>


</head>
<style>
	.header_box {
		width: 100%;
		background: linear-gradient(to right, rgba(143, 167, 70, 0.25), rgba(143, 167, 70, 0.3)), url(/images/test5.png);
		background-size: cover;
		background-position:  0 60%;
	}
	.wrapper.sidebar > .inner > .content{
		width: 75% !important;
	}
	#side_box{
		width: 25%;
	}
	.noticeBox{
            float: left;
            width: 23%;
            margin: 0 1% 3% 1%;
            border: 1px solid #dadada;
            box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
            border-radius: 10px;
            position: relative;
        }

	.noticeChangePage{
		padding: 5px 10px;
	}

	.noticeBox table td {
    	padding: 0.5px 0.5px;
	}
	.noticeBox table td:nth-child(1) {
		width: 28%;
	}
	table tbody tr:nth-child(2n + 1) {
		background-color: #ffffff;
	}
	input[type=button].btnColor{
		background: #FFFFFF;
		border: 1px solid #5a8100;
		border-radius: 4px;
		color: #5a8100 !important;
		box-shadow: 4px 4px 2px 0px rgb(203,211,177);

	}
	input[type=button].btnColor:hover{
		background: #5a8100;
		border: 1px solid #5a8100;
		border-radius: 4px;
		color: #F7FAF5 !important;
		box-shadow: 0 0 2px #5a8100;

	}

	.button.btnColor{
		background: #FFFFFF;
		border: 1px solid #5a8100;
		border-radius: 4px;
		color: #5a8100 !important;
		box-shadow: 4px 4px 2px 0px rgb(203,211,177);
	}
	.button.btnColor:hover{
		background: #5a8100;
		border: 1px solid #5a8100;
		border-radius: 4px;
		color: #F7FAF5 !important;
		box-shadow: 0 0 2px #5a8100;
	}

	.search_area{
		display: flex;
	}
</style>
<body class="is-preload">


<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile})}"></th:block>
<!--Modal-->
<th:block th:replace="~{layout/challengeModal::challengeModal()}"></th:block>
<th:block th:replace="~{challenge/challNoticeBoardModal::challNoticeBoardModal()}"></th:block>
<th:block th:replace="~{challenge/challNoticeGetModal::challNoticeGetModal()}"></th:block>
<th:block th:replace="~{layout/profileModal::profileModal}"></th:block>
<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">챌린지</p>
			<p id="subText">챌린지</p>
		</header>
	</div>

	<div class="inner">


		<!-- Content -->
		<div class="content">

			<h2>챌린지 공지</h2>
			<table class="list">
				<tr align="right" valign="middle">
					<td>
						<div class="search_area">
							<form id="challCategoryForm" th:action="@{/challenge/list}">
								<select name="challCategory" id="challCategory" style="width:130px; margin-right:10px;">
									<option value="challAll" th:selected="${challCategory == 'challAll'|| challCategory == null}">전체</option>
									<option value="challExer" th:selected="${challCategory == 'challExer'}">운동</option>
									<option value="challFood" th:selected="${challCategory == 'challFood'}">식단</option>
								</select>
								<select name="challTerm" id="challTerm" style="width:130px; margin-right:10px;">
									<option value="challengeAll" th:selected="${challTerm == 'challengeAll'||challTerm == null}">전체</option>
									<option value="7" th:selected="${challTerm == '7'}">7일</option>
									<option value="15" th:selected="${challTerm == '15'}">15일</option>
									<option value="30" th:selected="${challTerm == '30'}">30일</option>
								</select>
								<a href="#" class="button btnColor">검색</a>


								<input type="hidden" name="noticePagenum" th:value="${noticePageMaker.cri.pagenum}">
								<input type="hidden" name="noticeAmount" th:value="${noticePageMaker.cri.amount}">
								<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
								<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
								<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
								<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
							</form>
						</div>
					</td>
					<td>
						<div>현재 등록된 챌린지 개수 :[[${noticePageMaker.total}]]</div>
					</td>
				</tr>

				<tr>
					<td colspan="2">
						<th:block th:if="${noticeList != null and noticeList.size()>0}" th:each="list : ${noticeList}">
							<div class ="noticeBox">
								<table style="margin:0;">
									<tr>
										<td style="text-align: center;">제목:</td>
										<td><input readonly type="text" name="challName" class="" th:value="${list.challName}"></td>
									</tr>
									<tr>
										<td colspan="2"><input readonly type="text" name="challCategory" class="" th:value="${list.challCategory}"></td>
									</tr>
									<tr>
										<td>기간:</td>
										<td><input readonly type="text" name="challTerm" class="" th:value="${list.challTerm}"></td>
									</tr>
									<tr>
										<td colspan="2"><input type="button" class="getOpen btnColor" style="width:100%" value="신청하기"></td>
										<input type="hidden" name="challNum" class="challNum" th:value="${list.challNum}">
									</tr>
								</table>
							</div>
						</th:block>
						<th:block th:unless="${noticeList != null and noticeList.size()>0}">
							<div>
								<div style="text-align: center; font-size: 20px;">현재 등록된 챌린지가 없습니다.</div>
							</div>
						</th:block>
					</td>
				</tr>
			</table>
				<!-- 페이징 처리하는 테이블 -->
			<table class="pagination">
				<tr align="center" valign="middle">
					<td>
						<a class="noticeChangePage" th:if="${noticePageMaker.prev}" th:href="${noticePageMaker.startPage-1}">&lt;</a>
						<th:block th:each="i : ${#numbers.sequence(noticePageMaker.startPage,noticePageMaker.endPage)}">
							<span class="nowPage" th:text="${i}" th:if="${noticePageMaker.cri.pagenum == i}"></span>
							<a class="noticeChangePage" th:href="${i}" th:text="${i}" th:unless="${noticePageMaker.cri.pagenum == i}"></a>
						</th:block>
						<a class="noticeChangePage" th:if="${noticePageMaker.next}" th:href="${noticePageMaker.endPage+1}">&gt;</a>
					</td>
				</tr>
			</table>
			<table>
				<tr>
					<td>
						<div style="text-align: right;">
							<!--<th:block th:if="${session.admin != null}">-->
							<div class="writeOpen button btnColor" value="챌린지 등록하기">챌린지 등록하기</div>
							<!--</th:block>-->
						</div>
					</td>
				</tr>
			</table>
			<form name="noticePageForm" id="noticePageForm" th:action="@{/challenge/list}">
				<input type="hidden" name="noticePagenum" th:value="${noticePageMaker.cri.pagenum}">
				<input type="hidden" name="noticeAmount" th:value="${noticePageMaker.cri.amount}">
				<input type='hidden' name='challCategory' th:value=${challCategory}>
				<input type='hidden' name='challTerm' th:value=${challTerm}>
				<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
				<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
				<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
				<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
			</form>




			<h2>챌린지 인증</h2>
			<!-- 게시글 리스트 띄우는 테이블 -->
			<table class="list">
				<tr align="right" valign="middle">
					<td colspan="6">글 개수 : [[${pageMaker.total}]]</td>
				</tr>
				<tr align="center" valign="middle">
					<th width="8%">번호</th>
					<th></th>
					<th>제목</th>
					<th width="15%">작성자</th>
					<th width="17%">날짜</th>
					<th width="10%">조회수</th>
				</tr>
				<tr th:if="${list != null and list.size()>0}" th:each="board : ${list}">
					<td>[[${board.boardNum}]]</td>
					<td>
						<sup class="hot" th:if="${recent_reply[boardStat.index] == 'O'}">Hot</sup>
						<sup class="new" th:if="${newly_board[boardStat.index] == 'O'}">New</sup>
					</td>
					<td>
						<a class="get" th:href="${board.boardNum}">
							[[${board.boardTitle}]]
							<span class="reply_cnt" th:text="'['+${reply_cnt_list[boardStat.index]}+']'"></span>
						</a>
					</td>
					<td ><a class="open">[[${board.userId}]]</a></td>
					<td>
						[[${board.regdate}]]
						<th:block th:if="${board.regdate != board.updateDate}">
							(수정됨)
						</th:block>
					</td>
					<td>[[${board.viewCnt}]]</td>
				</tr>
				<th:block th:if="${list == null or list.size() == 0}">
					<tr>
						<td colspan="6" style="text-align: center; font-size: 20px;">등록된
							게시글이 없습니다.</td>
					</tr>
				</th:block>
			</table>
			<br>
			<!-- 페이징 처리하는 테이블 -->
			<table class="pagination">
				<tr align="center" valign="middle">
					<td>
						<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>
						<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
							<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>
							<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>
						</th:block>
						<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>
					</td>
				</tr>
			</table>
			<!-- 글쓰기 버튼 배치하는 테이블 -->
			<table>
				<tr align="right" valign="middle">
					<td>
						<div class="challengeOpen button btnColor">글 쓰기</div>
					</td>
				</tr>
			</table>
			<form id="searchForm" th:action="@{/challenge/list}">
				<div class="search_area flex">
					<select name="type" style="width: 20%; margin-right:10px;">
						<option value="" th:selected="${pageMaker.cri.type == null}">검색</option>
						<option value="T" th:selected="${pageMaker.cri.type == 'T'}">제목</option>
						<option value="C" th:selected="${pageMaker.cri.type == 'C'}">내용</option>
						<option value="W" th:selected="${pageMaker.cri.type == 'W'}">작성자</option>
						<option value="TC" th:selected="${pageMaker.cri.type == 'TC'}">제목 또는 내용</option>
						<option value="TW" th:selected="${pageMaker.cri.type == 'TW'}">제목 또는 작성자</option>
						<option value="TCW" th:selected="${pageMaker.cri.type == 'TCW'}">제목 또는 내용 또는 작성자</option>
					</select>
					<input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" style="margin-right:10px;">
					<a href="#" class="button btnColor primary">검색</a>
				</div>
				<input type="hidden" value="1" name="pagenum">
				<input type="hidden" value="10" name="amount">
				<input type="hidden" name="noticePagenum" th:value="${noticePageMaker.cri.pagenum}">
				<input type="hidden" name="noticeAmount" th:value="${noticePageMaker.cri.amount}">
				<input type='hidden' name='challCategory' th:value=${challCategory}>
				<input type='hidden' name='challTerm' th:value=${challTerm}>
				<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
				<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
			</form>
		</div>

		<form name="pageForm" id="pageForm" th:action="@{/challenge/list}">
			<input type="hidden" name="noticePagenum" th:value="${noticePageMaker.cri.pagenum}">
			<input type="hidden" name="noticeAmount" th:value="${noticePageMaker.cri.amount}">
			<input type='hidden' name='challCategory' th:value=${challCategory}>
			<input type='hidden' name='challTerm' th:value=${challTerm}>
			<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
			<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
			<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
			<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
		</form>

		<form name="writeForm" id="writeForm" th:action="@{/challenge/write}">

		</form>

		<!-- Sidebar -->
		<th:block th:replace="~{layout/rank_sidebar::sidebar}"></th:block>

	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>

<script th:src="@{/assets/js/challengeModal.js}"></script>
<script th:src="@{/assets/js/challNoticeBoardModal.js}"></script>

<script th:inline="javascript">
	const searchForm = $("#searchForm");
	const pageForm = $("#pageForm");
	const noticePageForm = $("#noticePageForm");


	$(".noticeChangePage").on("click",function(e){
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		let noticePagenum = $(this).attr("href");
		noticePageForm.find("input[name='noticePagenum']").val(noticePagenum);
		noticePageForm.submit();
	});

	$(".changePage").on("click",function(e){
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		let pagenum = $(this).attr("href");
		pageForm.find("input[name='pagenum']").val(pagenum);
		pageForm.submit();
	});
	$(".get").on("click",function(e){
		e.preventDefault();
		let boardnum = $(this).attr("href");
		let url=/*[[@{/challenge/get}]]*/'';
		pageForm.append("<input type='hidden' name='boardNum' value='"+boardnum+"'>")
		pageForm.attr("action",url);
		pageForm.attr("method","get");
		pageForm.submit();
	})

	$("#searchForm a").on("click",sendit);
	function sendit(){
		if(!searchForm.find("option:selected").val()){
			alert("검색 기준을 선택하세요!");
			return false;
		}
		if(!$("input[name='keyword']").val()){
			alert("키워드를 입력하세요!");
			return false;
		}
		searchForm.submit();
	}


const challCategoryForm = $("#challCategoryForm");
$("#challCategoryForm a").on("click",challCategory);
function challCategory(){

	challCategoryForm.submit();
}

$(".open").on("click", function (e) {
        e.preventDefault();
        var userId = $(this).text();

        sendUserIdToModal(userId);
        modalBox.classList.add("active");
    });


</script>
</body>
</html>