<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/ranking.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}"/>

</head>
<style>
	.thumbnail {
		width: 300px;
	}
  
	.header_box {
		width: 100%;
		background: linear-gradient(to right, rgba(143, 167, 70, 0.35), rgba(143, 167, 70, 0.3)), url(/images/challenge.jpg);
		background-size: cover;
		background-position:  137px 46%;
	}

</style>
<body class="is-preload">


<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile})}"></th:block>

<!-- Modal -->
<th:block th:replace="~{layout/profileModal::profileModal}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">챌린지</p>
			<p id="subText">인증 글 작성</p>
		</header>
	</div>

	<div class="inner">


		<!-- Content -->
		<div class="content">
		<form id="boardForm" method="post" name="boardForm" th:action="@{/challenge/write}" enctype="multipart/form-data">
			<input type="hidden" th:value="${cri.pagenum}" name="pagenum">
			<input type="hidden" th:value="${cri.amount}" name="amount">
			<input type="hidden" th:value="${cri.type}" name="type">
			<input type="hidden" th:value="${cri.keyword}" name="keyword">

			<table class="none_color_table" style="text-align: center;">
				<tr>
					<td style="width: 15%;">제목</td>
					<td colspan="3">
						<input type="text" name="boardTitle" size="50" maxlength="50" placeholder="제목을 입력하세요">
					</td>
				</tr>
				<tr>
					<td>작성자</td>
					<td>
						<input type="text" name="userId" size="50" maxlength="50" th:value="${session.loginUser}" readonly>
					</td>
					<td style="width: 15%;">챌린지 번호</td>
					<td><input type="text" name="challNum" size="50" maxlength="50" th:value="${list.challNum}" readonly></td>
				</tr>
				<tr>
					<td>챌린지 시작</td>
					<td><input type="text" name="startDate" size="50" maxlength="50" th:value="${list.subRegdate}" readonly></td>

					<td>챌린지 종료</td>
					<td><input type="text" name="finishDate" size="50" maxlength="50" th:value="${list.finishDate}" readonly></td>

				</tr>

				<tr>
					<td style="text-align:center;">내 용</td>
					<td colspan="3">
						<textarea placeholder="내용을 입력하세요" style="width: 100%; height:290px; resize: none;" name="boardContent"></textarea>
					</td>
				</tr>
				<tr class="r0 at">
					<th style="vertical-align: top; padding-top: 11px;">파일 첨부1</th>
					<td colspan="3" class="file0_cont">
						<div style="float:left;">
							<input type="file" name="files" id="file0" style="display:none">
							<span id="file0name">선택된 파일 없음</span>
						</div>
						<div style="float:right;">
							<a class="button btnColor small" href="javascript:upload('file0')">파일 선택</a>
							<a class="button btnColor small" href="javascript:cancelFile('file0')">첨부 삭제</a>
						</div>
					</td>
				</tr>
			</table>
			<div style="display: flex; justify-content: flex-end;">
				<a style="margin-right: 10px;" class="button btnColor" href="javascript:sendit()">등록</a>
				<a class="button btnColor" th:href="${'/challenge/list'+cri.listLink}">취소</a>
			</div>
		</form>
	</div>

		<!-- Sidebar -->
		<th:block th:replace="~{layout/rank_sidebar::sidebar}"></th:block>

	</div>
</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

	<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>


<script th:src="@{/assets/js/sidebar.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>


<script th:inline="javascript">
	let i = 0;
	function upload(name){
		$("#"+name).click();
	}
	//$(선택자).change(함수) : 해당 선택자의 요소에 변화가 일어난다면 넘겨주는 함수 호출
	$("[type='file']").change(function(e){
		//e : 파일이 업로드된 상황 자체를 담고있는 객체
		//e.target : 파일이 업로드가 된 input[type=file] 객체(태그객체)
		//e.target.files : 파일태그에 업로드를 한 파일 객체들의 배열
		const file = e.target.files[0];
		const fileTag = e.target;
		
		if(file == undefined){
			//파일이 업로드 되었다가 없어진 경우
			cancelFile(fileTag.id);
		}
		else{
			//파일이 없었다가 업로드 한 경우
			//#file0name
			$("#"+fileTag.id+"name").text(file.name);
			//업로드 된 파일의 확장자명
			let ext = file.name.split(".").pop();
			if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){
				$("."+fileTag.id+"_cont .thumbnail").remove();
				const reader = new FileReader();
				
				reader.onload = function(ie){
					const img = document.createElement("img");
					img.setAttribute("src",ie.target.result)
					img.setAttribute("class","thumbnail");
					document.querySelector("."+fileTag.id+"_cont").appendChild(img);
				}
				reader.readAsDataURL(file);
			}
			else{
				const temp = $("."+fileTag.id+"_cont .thumbnail");
				if(temp != null){
					temp.remove();
				}
			}
			//가장 마지막 파일 선택 버튼을 눌렀을 때
			if(fileTag.id.split("e")[1] == i){
				const cloneElement = $(".r"+i).clone(true);
				i++;
				cloneElement.appendTo("#boardForm tbody")
				const lastElement = $("#boardForm tbody").children().last();
				
				lastElement.attr("class","r"+i+" at");
				lastElement.children("th").text("파일 첨부"+(i+1));
				lastElement.children("td").attr("class","file"+i+"_cont");
				
				lastElement.find("input[type='file']").attr("name","files");
				lastElement.find("input[type='file']").attr("id","file"+i);
				lastElement.find("input[type='file']").val("");
				
				lastElement.find("span").attr("id","file"+i+"name");
				lastElement.find("span").text("선택된 파일 없음");
				
				lastElement.find("a")[0].href = "javascript:upload('file"+i+"')";
				lastElement.find("a")[1].href = "javascript:cancelFile('file"+i+"')"
			}
			
		}
	})

	function cancelFile(name){
		//가장 마지막 첨부 삭제 버튼을 누른 경우
		if(name.split("e")[1] == i){ return; }
		//현재 업로드된 파일이 여러개일 때
		if(i != 0){
			//tr지우기
			let temp = Number(name.split("e")[1]);
			//해당 행 지우기
			$(".r"+temp).remove();
			//지워진 다음 행 부터 숫자 바꿔주기
			for(let j=temp+1;j<=i;j++){
				const el = $("#boardForm tbody").find(".r"+j);
				el.attr("class","r"+(j-1)+" at");
				
				el.children('th').text("파일 첨부"+j);
				
				el.children('td').attr("class","file"+(j-1)+"_cont");
				
				const fileTag = el.find("input[type='file']");
				fileTag.attr("name","file"+(j-1));
				fileTag.attr("id","file"+(j-1));
				
				el.find("span").attr("id","file"+(j-1)+"name");
				
				el.find("a")[0].href = "javascript:upload('file"+(j-1)+"')"
				el.find("a")[1].href = "javascript:cancelFile('file"+(j-1)+"')"
				
			}
			i--;
		}
	}
	
	function sendit(){
		const boardForm = document.boardForm;
		
		const boardtitle = boardForm.boardTitle;
		if(boardtitle.value == ""){
			alert("제목을 입력하세요!");
			boardtitle.focus();
			return false;
		}
		
		const boardcontents = boardForm.boardContent;
		if(boardcontents.value == ""){
			alert("내용을 입력하세요!");
			boardcontents.focus();
			return false;
		}
		
		boardForm.submit();
	}

	$(".open").on("click", function (e) {
        e.preventDefault();
        var userId = $(this).text();

        sendUserIdToModal(userId);
        modalBox.classList.add("active");
    });
</script>
</body>
</html>














