<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>회원가입</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}">
	<link rel="icon" href="/images/fithub-favicon.png" type="image/png">
</head>
<style>
	.header_box {
		width: 100%;
		background: linear-gradient(to right, rgba(143, 167, 70, 0.25), rgba(143, 167, 70, 0.3)), url(/images/join.jpg);
		background-size: cover;
		background-position: 0 66%;
	}

	a {
		border-bottom: none;
	}

	.content {
		margin: 0 auto;
	}

	table tr td:nth(1) {
		width: 30%;
	}

	.pwCheck {
    	display: block;
	}

	.pwCheck {
		padding: 10px 15px;
		margin: 10px 0 0 40px;
		border: 1px solid #5a8100;
		border-radius: 10px;
		background: #fff;
		font-size: 90%;
		font-weight: bold;
		width: 530px;
	}

	#page1 .pwCheck {
		display: none;
	}

	.pwCheck span {
		display: block;
		margin-left: 10.45px;
	}

	.pwCheck span::before {
		content: '';
	}

	.pwCheck .pct, .pwCheck .pcf {
		margin-left: 0px;
	}

	.pwCheck .pct::before {
		content: '✔';
		position: relative;
		left: -5px;
	}

	.pwCheck .pcf::before {
		content: '✖';
		position: relative;
		left: -5px;
	}

	.pct {
		color: rgb(0, 200, 80);
	}

	.pcf {
		color: red;
	}

	.gender_box {
		display: flex;
		margin-left: 150px;
	}

	.agree-txt{
	    margin-right: 15px;
    	line-height: 3;
	}

	.agree-contents{
		display: flex;
		justify-content: space-between;
	}

	.agree-container{
	    width: 70%;
		margin: 0 auto;
		border: 1px solid #e6e6e6;;
		padding: 30px 10px 10px 30px;
	}

</style>
<body class="is-preload">

	<!-- Header -->
	<th:block th:replace="~{layout/login_header::login_header()}"></th:block>

	<!-- Main -->
	<section id="main" class="wrapper sidebar left">

		<div class="header_box">
			<header class="test12">
				<p id="mainText"></p>
				<p id="subText">회원가입</p>
			</header>
		</div>

		<div class="inner">

			<!-- Content -->
			<div class="content">
				<form name="joinForm">
					<table class="none_color_table" style="text-align: center; width: 70%; margin: 0 auto;" id="joinTable">

						<thead>
							<tr>
								<td id="result" colspan="2">&nbsp;</td>
							</tr>
							<tr>
								<td id="nicknameResult" colspan="2">&nbsp;</td>
							</tr>
							<tr style="margin-top: 30px;">
								<td style="width: 25%;"><label for="userId">아이디</label></td>
								<td style="display: flex;">
									<input placeholder="5자 이상 12자 이하로 입력하세요" style="width: 75%; margin-right: 10px;" type="text" name="userId" id="userId">
									<div class="button btnColor" onclick="checkId()">중복검사</div>
								</td>
							</tr>
							<tr>
								<td><label for="userPw">비밀번호</label></td>
								<td><input type="password" name="userPw" id="userPw" onkeyup="pwcheck()"></td>
							</tr>
							<tr>
								<td><label for="userPwRe">비밀번호 확인</label></td>
								<td><input type="password" name="userPwRe" id="userPwRe" onkeyup="pwcheck()"></td>
							</tr>
							<tr id="page1">
								<th colspan="2">
									<div class="pwCheck">
										<span>영어 대문자, 소문자, 숫자, 특수문자(~,?,!,@,-)를 모두 하나 이상 포함해야 해요 😃</span>
										<span>최소 8자 이상의 비밀번호가 보안에 안전해요 😄</span>
										<span>같은 문자가 연속해서 사용되지 않았어요 😆</span>
										<span>사용할 수 없는 문자가 포함되지 않았어요 🙂</span>
										<span>비밀번호 확인이 완료되었어요! 😊</span>
									</div>
								</th>
							</tr>
							<tr>
								<td><label for="userNickname">닉네임</label></td>
								<td style="display: flex;">
									<input style="width: 75%; margin-right: 10px;" type="text" name="userNickname" id="userNickname">
									<div class="button btnColor" onclick="checkNickname()">중복검사</div>
								</td>
							</tr>
							<tr>
								<td><label for="userName">이름</label></td>
								<td><input type="text" name="userName" id="userName" placeholder="한글만 입력하세요"></td>
							</tr>
							<tr class="gender_area">
								<td style="font-weight: bold;">성별</td>
								<td>
									<div class="gender_box">
										<input type="radio" id="userGender1" name="userGender" value="남성"><label style="margin:10px 20px 0 0;" for="userGender1">남성</label>
										<input type="radio" id="userGender2" name="userGender" value="여성"><label style="margin:10px 0 0 0;" for="userGender2">여성</label>
									</div>
								</td>
							</tr>
							<tr>
								<td><label for="userBirth">생년월일</label></td>
								<td><input type="date" name="userBirth" id="userBirth"></td>
							</tr>
							<tr>
								<td><label for="userTel">전화번호</label></td>
								<td><input type="tel" name="userTel" id="userTel" placeholder="-를 제외하고 입력해주세요"></td>
							</tr>
							<tr>
								<td><label for="userMail">이메일</label></td>
								<td><input type="email" name="userMail" id="userMail" placeholder="apple@naver.com"></td>
							</tr>
							<tr>
								<td colspan="2">
									<div style="float: right;" class="button btnColor" onclick="nextPage();">다음</div>
								</td>
							</tr>
						</thead>

						<tbody style="display: none">
							<tr>
								<td style="width: 25%;"><label for="weight">몸무게 (kg)</label></td>
								<td><input type="text" name="userWeight" id="weight" placeholder="kg은 제외하고 입력하세요"></td>
							</tr>
							<tr>
								<td><label for="height">키 (cm)</label></td>
								<td><input type="text" name="userHeight" id="height" placeholder="cm는 제외하고 입력하세요"></td>
							</tr>
							<tr>
								<td><label for="weightGoal">목표 체중 (kg)</label></td>
								<td><input type="text" name="weightGoal" id="weightGoal" placeholder="kg은 제외하고 입력하세요"></td>
							</tr>
							<tr>
								<td><label for="caloriesGoal">목표 칼로리 (kcal)</label></td>
								<td><input type="text" name="caloriesGoal" id="caloriesGoal" placeholder="kcal는 제외하고 입력하세요"></td>
							</tr>
							<tr>
								<td colspan="2"><hr></td>
							</tr>
							<tr>
								<td colspan="2">
									<div class="agree-container pt50">
										<p class="agree-tit" style="float:left; font-weight: bold; font-size: 22px;">
											이용약관 동의<em class="retext">*</em>
										</p>

										<div class="agree-contents" style="clear: both;">
											<span class="agree-txt all">전체 동의합니다.</span>
											<p class="agree-chk">
												<span class="agree-chkbox">
													<input type="checkbox" name="cc" id="c1" onclick="chkAll(this);">
													<label for="c1"></label>
												</span>
											</p>
										</div>

										<div class="agree-contents">
											<span class="agree-txt">
												본인은 만 14세 이상 입니다.<em>(필수)</em>
											</span>
											<p class="agree-chk">
												<span class="agree-chkbox">
													<input type="checkbox" name="cc" id="c4">
													<label for="c4"></label>
												</span>
											</p>
										</div>

										<div class="agree-contents">
											<span class="agree-txt">
												이용약관 동의<em>(필수)</em>
												<a href="/user/useAgree" class="txt" style="text-decoration: none; color: #000;" onmouseover="this.style.textDecoration='underline'; this.style.color='#5a8100'" onmouseout="this.style.textDecoration='none'; this.style.color='#000'">< 내용보기&nbsp;></a>
											</span>
											<p class="agree-see agree-chk">
												<span class="agree-chkbox">
													<input type="checkbox" name="cc" id="c2">
													<label for="c2"></label>
												</span>
											</p>
										</div>

										<div class="agree-contents">
											<span class="agree-txt">
												개인정보처리방침<em>(필수)</em>
												<a href="/user/policyAgree" class="txt" style="text-decoration: none; color: #000;" onmouseover="this.style.textDecoration='underline'; this.style.color='#5a8100'" onmouseout="this.style.textDecoration='none'; this.style.color='#000'">< 내용보기&nbsp;></a>
											</span>
											<p class="agree-see agree-chk">
												<span class="agree-chkbox">
													<input type="checkbox" name="cc" id="c3">
													<label for="c3"></label>
												</span>
											</p>
										</div>

										<div class="agree-contents">
											<span class="agree-txt">
												위치정보 이용약관 동의<em>(선택)</em>
											</span>
											<p class="agree-chk">
												<span class="agree-chkbox">
													<input type="checkbox" name="cc" id="c5">
													<label for="c5"></label>
												</span>
											</p>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td colspan="2">
									<div style="float: right;" class="button btnColor" onclick="sendit();">가입 완료</div>
									<div style="float: right; margin-right: 8px;" class="button btnColor" onclick="PrevPage();">이전</div>
								</td>
							</tr>
						</tbody>
					</table>
				</form>
			</div>
		</div>
	</section>

	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>
<script th:src="@{/assets/js/user.js}"></script>
<script>

	var thead = document.querySelector('#joinTable thead');
	var tbody = document.querySelector('#joinTable tbody');

	function nextPage() {
		thead.style.display = 'none';
		tbody.style.display = '';
	}

	function PrevPage() {
		thead.style.display = '';
		tbody.style.display = 'none';
	}
</script>
</body>
</html>