<!DOCTYPE HTML>
<!--
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Untitled</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}"/>
	<link rel="stylesheet" th:href="@{/assets/css/login-header.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/join.css}"/>
	<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>
<style>
	#header {
  background-color: #5a8100 !important;
}

#header nav > ul > li a {
  color: white !important;
}

#header h1 a {
  color: white !important;
}

#header .main ul li > a {
  color: white !important;

}

#footer {
  background-color: #304400;
}
</style>
<body class="is-preload">

<!-- Wrapper -->

<!-- Header -->
<header id="header" class="alt">
	<h1>
		<a href="/">
			Fit
			<span>Hub</span>
		</a>
	</h1>
	<nav class="links">
		<ul>
			<li><a href="/info/info_list" style="color: #fff;">정보</a></li>
			<li><a href="#"style="color: #fff;">칼로리</a></li>
			<li><a href="#"style="color: #fff;">커뮤니티</a></li>
			<li><a href="#"style="color: #fff;">트레이너 매칭</a></li>
			<li><a href="#"style="color: #fff;">챌린지</a></li>
			<li><a href="#"style="color: #fff;">제품</a></li>
			<li><a href="/usermypage/user_diary"style="color: #fff;">다이어리(test)</a></li>
		</ul>
	</nav>
	<nav class="main">
		<ul>
			<li id="login">

				<th:block th:if="${loginUser == null}">
					<a class="login" href="/user/login" style="color: #fff;">Login</a>
				</th:block>
				<!-- <th:block th:if="${loginUser != null}">
                    <a class="login" th:href="@{/user/logout}">logout</a>
                </th:block> -->

				<a class="login" href="/usermypage/user_modify">유저</a>
				<a class="login" href="/trainermypage/trainer_modify">트레</a>
				<a class="login" href="/adminmypage/adminmypage_list">관리</a>
			</li>
			<li class="search">
				<a class="fa-search" href="#search" style="color: #fff;">Search</a>
				<form id="search" method="get" action="#">
					<input type="text" name="query" placeholder="Search" />
				</form>
			</li>
			<li class="menu">
				<a class="fa-bars" href="#menu" style="color: #fff;">Menu</a>
			</li>
		</ul>
	</nav>
</header>

<!-- Menu -->
<section id="menu">
	<div class="side_info">
		<img src="images/profile_img.png" class="prof_img" width="102px" height="102px">
		<div id="my_info">
			<div>
				<a href="#">내 정보</a>
				<th:block th:if="${loginUser == null}">
					<a class="login" href="/user/login">로그인</a>
				</th:block>
				<th:block th:if="${loginUser != null}">
					<a class="login" th:href="@{/user/logout}">로그아웃</a>
				</th:block>
			</div>
			<span>등급 / 닉네임(ID)</span>
		</div>
		<div class="goal-graph">
			<div class="progress-bar">
				<p class="number">
					<span>1</span>
					<span>2</span>
					<span>3</span>
					<span>4</span>
					<span>5</span>
					<span>6</span>
					<span>7</span>
				</p>
			</div>
		</div>
		<div class="point-container">
			<div>나의 포인트</div>
			<span>0p</span>
		</div>
		<div id="tab-menu">
			<div class="tab today-tab">오늘</div>
			<div class="tab chall-tab">도전</div>
			<div class="tab sub-tab">구독</div>
			<div class="page-tab diary-tab">
				<a href="#">일기</a>
			</div>
			<div class="page-tab shop-tab">
				<a href="#">쇼핑</a>
			</div>
		</div>
		<div id="tab-menu-container">
			<div class="tab-view today-view">
				<strong>나의 목표</strong>
				<p>목표체중</p>
				<p>목표칼로리</p>
				<hr>
				<strong>잔여칼로리: 현재칼로리/목표칼로리</strong>
				<p>섭취량</p>
				<p>소비량</p>
				<div id="meal-options">
					<div class="brack-fst">아침</div>
					<div class="lunch">점심</div>
					<div class="dinner">저녁</div>
					<div class="snack">간식</div>
				</div>
				<div id="tan-dan-ji-box">
					<div class="today-breakfast">
						<p>칼로리:아침 칼로리</p>
						<p>탄수화물</p>
						<p>단백질</p>
						<p>지방</p>
					</div>
					<div class="today-lunch">
						<p>칼로리:점심 칼로리</p>
						<p>탄수화물</p>
						<p>단백질</p>
						<p>지방</p>
					</div>
					<div class="today-dinner">
						<p>칼로리:저녁 칼로리</p>
						<p>탄수화물</p>
						<p>단백질</p>
						<p>지방</p>
					</div>
					<div class="today-snack">
						<p>칼로리:간식 칼로리</p>
						<p>탄수화물</p>
						<p>단백질</p>
						<p>지방</p>
					</div>
				</div>
			</div>
			<div class="tab-view chall-view">
				<div class="my-chall">
					<strong>나의 챌린지</strong><br>
					<span class="active-tab">진행중</span>
					<span class="finish-tab">종료</span>
					<div id="chall-list">
						<div class="active-chall-listView">
							<p>진행중인 챌린지 list</p>
						</div>
						<div class="finish-chall-listView">
							<p>종료된 챌린지 list</p>
						</div>
					</div>
				</div>


			</div>
			<div class="tab-view sub-view">
				<div class="sub-view-container">
					<strong>나의 트레이너</strong>
					<div class="my-sub">
						<p>구독한 트레이너 list</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="another-page">
		<div class="bmi">
			<a href="#">BMI</a>
		</div>
		<div class="health-center">
			<a href="#">보건소</a>
		</div>
		<div class="trainer-apply">
			<a href="#">트레이너 신청</a>
		</div>
	</div>
</section>
<div id="wrap">
	<form name="joinForm" method="post" action="/user/join"
		  onsubmit="return sendit()">
		<h2 style="text-align: center;">회원가입</h2>
		<table>
			<tr id="page1">
				<td id="result" colspan="2">&nbsp;</td>
			</tr>
			<tr id="page1">
				<th><label for="userid">아이디</label></th>
				<td>
					<input type="text" name="userid" id="userid">
					<input type="button" value="중복검사" onclick="checkId()">
				</td>
			</tr>
			<tr id="page1">
				<th><label for="userNickname">닉네임</label></th>
				<td><input type="text" name="userNickname" id="userNickname"></td>
			</tr>
			<tr id="page1">
				<th><label for="userpw">비밀번호</label></th>
				<td><input type="password" name="userpw" id="userpw" onkeyup="pwcheck()"></td>
			</tr>
			<tr id="page1">
				<th><label for="userpw_re">비밀번호 확인</label></th>
				<td><input type="password" name="userpw_re" id="userpw_re" onkeyup="pwcheck()"></td>
			</tr>
			<tr id="page1">
				<th colspan="2">
					<div class="pw_check">
						<span>영어 대문자, 소문자, 숫자, 특수문자(~,?,!,@,-)를 모두 하나 이상 포함해야 해요 😃</span>
						<span>최소 8자 이상의 비밀번호가 보안에 안전해요 😄</span>
						<span>같은 문자가 연속해서 사용되지 않았어요 😆</span>
						<span>사용할 수 없는 문자가 포함되지 않았어요 🙂</span>
					</div>
				</th>
			</tr>
			<tr id="page1">
				<th><label for="userName">이름</label></th>
				<td><input type="text" name="userName" id="userName"></td>
			</tr>
			<tr class="gender_area" id="page1">
				<th>성별</th>
				<td>
					<div>
						<ul>
							<li class="radio_item">
								<input type="radio" id="userGender1" name="userGender" value="M"><label for="userGender1">남자</label>
							</li>
							<li class="radio_item">
								<input type="radio" id="userGender2" name="userGender" value="W"><label for="userGender2">여자</label>
							</li>
						</ul>
					</div>
				</td>
			</tr>
			<tr id="page1">
				<th><label for="userBirth">생년월일</label></th>
				<td><input type="date" name="userBirth" id="userBirth"></td>
			</tr>
			<tr id="page1">
				<th><label for="userTel">전화번호</label></th>
				<td><input type="tel" name="userTel" id="userTel" placeholder="전화번호를 입력하세요"></td>
			</tr>
			<tr id="page1">
				<th><label for="userEmail">이메일</label></th>
				<td><input type="email" name="usereMail" id="useremail" placeholder="이메일을 입력하세요"></td>
			</tr>
			<tr id="page1">
				<th colspan="2">
					<input class="next-button" type="button" value="다음" onclick="goToNextPage();">
				</th>
			</tr>
			<tr id="page2">
				<th colspan="2">
					<input class="prev-button" type="button" value="이전" onclick="goToPrevPage();">
				</th>
			</tr>
			<tr id="page2">
				<th><label for="weight">몸무게 (kg)</label></th>
				<td><input type="text" name="userWeight" id="weight"></td>
			</tr>
			<tr id="page2">
				<th><label for="height">키 (cm)</label></th>
				<td><input type="text" name="userHeight" id="height"></td>
			</tr>
			<tr id="page2">
				<th><label for="goalWeight">목표 체중 (kg)</label></th>
				<td><input type="text" name="weightGoal" id="goalWeight"></td>
			</tr>
			<tr id="page2">
				<th><label for="goalCalories">목표 칼로리 (kcal)</label></th>
				<td><input type="text" name="caloriesGoal" id="goalCalories"></td>
			</tr>
			<tr id="page2">
				<th colspan="2"><input class="submit" type="button" value="가입 완료" onclick="sendit();"></th>
			</tr>
		</table>
	</form>
</div>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
		<ul class="menu">
			<li><a href="#">Terms<span> of Use</span></a></li>
			<li><a href="/adminmypage/adminmypage_list">Privacy<span> Policy</span></a></li>
			<li><a href="#">Legal<span> Information</span></a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.dropotron.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/browser.min.js"></script>
<script src="assets/js/breakpoints.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>


<script src="assets/js/util_sub.js"></script>
<script src="assets/js/main_sub.js"></script>

<script src="assets/js/sidebar.js"></script>
<script th:src="@{/assets/js/user.js}"></script>




</body>


