<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>개인정보이용방침</title>
</head>
<body>
<h1>개인정보이용방침</h1>
<hr>
<p>
    제 1조 (수집하는 개인정보의 항목 및 수집 방법)
    <br>
    1.1 서비스 제공자는 다음과 같은 개인정보를 수집할 수 있습니다.
    <br>
    - 이용자의 식별 정보(이름, 아이디 등)
    <br>
    - 이용자의 연락 정보(이메일 주소, 전화번호 등)
    <br>
    1.2 개인정보 수집은 다음과 같은 방법으로 이루어집니다.
    <br>
    - 서비스 가입 시 이용자가 직접 제공
    <br>
    - 이용자의 서비스 이용 과정에서 자동 수집
</p>
<p>
    제 2조 (개인정보의 수집 및 이용 목적)
    <br>
    2.1 서비스 제공자는 다음과 같은 목적으로 개인정보를 수집 및 이용할 수 있습니다.
    <br>
    - 서비스 제공 및 운영
    <br>
    - 이용자에게 최적화된 서비스 제공
    <br>
    - 이용자와의 원활한 의사 소통 경로 확보
</p>
<p>
    제 3조 (개인정보의 보유 및 이용 기간)
    <br>
    3.1 서비스 제공자는 이용자의 개인정보를 수집 및 이용목적이 달성된 후에는 지체 없이 파기합니다.
    <br>
    3.2 다만, 관련 법령에 따라 일정 기간 동안 개인정보를 보관할 필요가 있는 경우에는 해당 기간 동안 보관합니다.
</p>
<!-- 기타 내용 추가 -->
</body>
</html>