<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko">
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="/assets/css/index.css" />
		<noscript><link rel="stylesheet" href="/assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

	<!-- Header -->
	<th:block th:replace="~{layout/header::header(${session.loginUser})}"></th:block>
	<!-- Main -->
	<section id="main" class="wrapper sidebar left">
		<div class="inner">

			<header class="major">
				<h2>정보</h2>
			</header>

			<!-- Content -->
			<div class="content">
				<div class="cotent_header"><h2>꿀팁</h2></div>
				<div class="button" style="margin-bottom: 30px;">글 작성</div>
				<table>
					<tr>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
					<tr>
						<td>aaaa</td>
						<td>bbbb</td>
						<td>cccc</td>
					</tr>
				</table>

			</div>


			<!-- Sidebar -->
			<div class="sidebar">

				<section>
					<h3><a href="/info/info_list">전체</a></h3>
					<h3><a href="/info/info_news">뉴스</a></h3>
					<h3><a href="/info/info_food">식단</a></h3>
					<h3><a href="/info/info_exercise">운동</a></h3>
					<h3><a href="/info/info_tip" style="color: #5a8100;">꿀팁</a></h3>
				</section>

			</div>

		</div>
	</section>

			<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
					<ul class="menu">
						<li><a href="#">Terms<span> of Use</span></a></li>
						<li><a href="#">Privacy<span> Policy</span></a></li>
						<li><a href="#">Legal<span> Information</span></a></li>
					</ul>
				</div>
			</footer>

			<!-- Scripts -->
			<script src="/assets/js/jquery.min.js"></script>
			<script src="/assets/js/jquery.dropotron.min.js"></script>
			<script src="/assets/js/jquery.scrollex.min.js"></script>
			<script src="/assets/js/browser.min.js"></script>
			<script src="/assets/js/breakpoints.min.js"></script>
			<script src="/assets/js/util.js"></script>
			<script src="/assets/js/main.js"></script>

			<script src="/assets/js/util_sub.js"></script>
			<script src="/assets/js/main_sub.js"></script>
	</body>
</html>