<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko"  xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/infoBoard.css}">
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
	<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
	<!-- summernote -->
	<script th:src="@{/assets/js/summernote/summernote-lite.js}"></script>
	<script th:src="@{/assets/js/summernote/lang/summernote-ko-KR.js}"></script>
	<link rel="stylesheet" th:href="@{/assets/css/summernote/summernote-lite.css}">
	<style>
		.info_category {
			margin-bottom: 30px;
		}
		.info_category > h3{
			margin: 0;
		}
		.info_category > h3:after{
			border-bottom: none;
		}
		.info_category > .button{
			border-radius: 10px;
			height: 33px;
			line-height: 33px;
			background-color: rgb(203,211,177);
			color: #5a8100 !important;
			box-shadow: inset 0 0 0 1.5px #5a8100;
		}
		.info_category .active {
			background-color: #5a8100; /* 변경할 배경색 */
			color: white !important; /* 변경할 텍스트색 */
		}
		.write_table th {
			text-align: center;
			vertical-align: middle;
			width: 90px;
		}
		a {
			border-bottom:none;
		}
		.th:.${'r'+fileStat.index}{
			text-align: center;
			vertical-align: middle;
		}

		.write_table {
			border: 1.5px solid #5a8100;
			border-radius: 10px !important;
			background-color: transparent;
			padding: 15px 15px 10px 5px;
		}

		table tbody tr:nth-child(2n + 1) {
			background-color: transparent;
		}
		.button_table {
			vertical-align: middle;
			border: none;
			height: 2em;
			line-height: 2em;
		}
		.button_table tr > td{
			border: none;
		}
		.button_table tr > td > .button{
			border: 1.5px solid #5a8100;
			border-radius: 10px;
			height: 35px;
			line-height: 35px;
			background-color: rgb(203,211,177);
			color: #5a8100 !important;
			box-shadow: none;
		}
		.button_table tr > td > .button:hover{
			background-color: #5a8100;
			color: white !important;
		}
		.write_table .button{
			padding: 0;
			border-radius: 10px;
			height: 30px;
			width: 85px;
			vertical-align: middle;
			line-height: 30px;
			background-color: rgb(203,211,177);
			color: #5a8100 !important;
			box-shadow: none;
		}
		.at > a{
			display: block;
			width: 100%;
			line-height: 100%;
			text-align: center;
		}
		.note-editable > p{
			margin-bottom: 0px;
		}
	</style>
</head>
<body class="is-preload">

<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="inner">

		<header class="test12">
			<p id="mainText">정보</p>
			<p id="subText">게시글 수정</p>
		</header>

		<!-- Content -->
		<div class="content">

			<form id="boardForm" method="post" name="boardForm" th:action="@{/info/info_modify}" enctype="multipart/form-data">
				<!-- 날아온 네개의 파라미터를 받아 놓음 -->
				<input type="hidden" th:value="${cri.pagenum}" name="pagenum">
				<input type="hidden" th:value="${cri.amount}" name="amount">
				<input type="hidden" th:value="${cri.type}" name="type">
				<input type="hidden" th:value="${cri.keyword}" name="keyword">
				<input type="hidden" th:value="${board.boardNum}" name="boardNum">
				<input type="hidden" th:value="${board.boardCategory}" name="boardCategory">


				<div class="info_category">
					<h3>카테고리 선택</h3>
					<div style="margin-right: 10px;" th:class="${(board.boardCategory == 'infoNews' ? 'active' : '') + ' button'}" onclick="selectCategory('infoNews')">뉴스</div>
					<div style="margin-right: 10px;" th:class="${(board.boardCategory == 'infoFood' ? 'active' : '') + ' button'}" onclick="selectCategory('infoFood')">식단</div>
					<div style="margin-right: 10px;" th:class="${(board.boardCategory == 'infoExer' ? 'active' : '') + ' button'}" onclick="selectCategory('infoExer')">운동</div>
					<div th:class="${(board.boardCategory == 'infoTip' ? 'active' : '') + ' button'}" onclick="selectCategory('infoTip')">꿀팁</div>
				</div>

				<!-- 글작성 테이블 -->
				<table class="write_table">
					<tr style="height:30px;">
						<th>제목</th>
						<td>
							<input type="text" name="boardTitle" size="50" maxlength="50" th:value="${board.boardTitle}">
						</td>
					</tr>
					<tr style="height:30px;">
						<th>작성자</th>
						<td>
							<!-- 로그인유저 작성자에 박아 놓기 -->
							<input type="text" name="userId" size="50" maxlength="50" th:value="${session.loginUser}" readonly>
						</td>
					</tr>
					<tr style="height:500px;">
						<th>내 용</th>
						<td>
							<textarea id="summernote" name="boardContent" style="width:100%;height:350px;resize:none;" >[[${board.boardContent}]]</textarea>
						</td>
					</tr>
					<tr th:class="${'r'+fileStat.index}" th:if="${files2 != null and files2.size() > 0}" th:each="file : ${files2}">
						<th>파일 첨부[[${fileStat.index+1}]]</th>
						<td th:class="${'file'+fileStat.index+'_cont'}">
							<div style="float:left;">
								<input type="file" name="files2" th:id="${'file'+fileStat.index}" style="display:none">
								<span th:id="${'file'+fileStat.index+'name'}" th:text="${file.orgname}"></span>
							</div>
							<div style="float:right;">
								<!-- <a href="javascript:upload('file5','DateTIMEUUID.png')"> -->
								<a class="button" th:href="'javascript:upload(\'file'+${fileStat.index}+'\',\''+${file.systemname}+'\')'">파일 선택</a>
								<a class="button" th:href="'javascript:cancelFile(\'file'+${fileStat.index}+'\',\''+${file.systemname}+'\')'">첨부 삭제</a>
							</div>
							<input type="hidden" name="orgname" th:value="${file.orgname}">
							<th:block th:with="sar=${file.orgname.split('[.]')}">
								<th:block th:with="ext=${sar[sar.length-1]}">
									<img th:if="${ext == 'jpg' or ext == 'jpeg' or ext == 'png' or ext == 'gif' or ext == 'webp'}" th:src="@{/info/thumbnail (systemname=${file.systemname})}" class="thumbnail">
								</th:block>
							</th:block>
						</td>
					</tr>
					<tr th:class="${'r'+files2.size()}">
						<th style="vertical-align: middle">파일 첨부[[${files2.size()+1}]]</th>
						<td th:class="${'file'+files2.size()+'_cont'}">
							<div style="float:left;">
								<input type="file" name="files2" th:id="${'file'+files2.size()}" style="display:none">
								<span th:id="${'file'+files2.size()+'name'}">선택된 파일 없음</span>
							</div>
							<div style="float:right;">
								<!-- <a href="javascript:upload('file9','')"> -->
								<a class="button" th:href="'javascript:upload(\'file'+${files2.size()}+'\',\'\')'">파일 선택</a>
								<!-- <a href="javascript:cancelFile('file9','')"> -->
								<a class="button" th:href="'javascript:cancelFile(\'file'+${files2.size()}+'\',\'\')'">첨부 삭제</a>
							</div>
						</td>
					</tr>
					<input type="hidden" value="" name="updateCnt" id="updateCnt">
				</table>
			</form>
			<!-- 등록, 목록 버튼 테이블 -->
			<table class="button_table">
				<tr align="right" valign="middle">
					<td>
						<a class="button" href="javascript:document.boardForm.submit()">수정</a>
					</td>
					<td>
						<a class="button" th:href="${'/info/info_list'+cri.listLink}">목록</a> <!-- cri.listLink를 붙여 목록으로 돌아가기 -->
					</td>
				</tr>
			</table>
		</div>

		<!-- Sidebar -->
		<div class="sidebar">
			<section>
				<div class="boardRanking">
					<div class="boardRanking_ranking">
						<table style="width: 90%;">
							<tr><td><a href="/info/info_list">전체</a></td></tr>
							<tr><td><a href="/info/info_news">뉴스</a></td></tr>
							<tr><td><a href="/info/info_food">식단</a></td></tr>
							<tr><td><a href="/info/info_exercise">운동</a></td></tr>
							<tr><td><a href="/info/info_tip">꿀팁</a></td></tr>
						</table>
					</div>
				</div>
			</section>
		</div>

	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>

</body>
<script>
	<!-- summernote	-->
	$('#summernote').summernote({
		// 에디터 높이
		height: 370,
		// 에디터 한글 설정
		lang: "ko-KR",
		// 에디터에 커서 이동 (input창의 autofocus라고 생각)
		focus : true,
		toolbar: [
			// 글꼴 설정
			['fontname', ['fontname']],
			// 글자 크기 설정
			['fontsize', ['fontsize']],
			// 굵기, 기울임꼴, 밑줄,취소 선, 서식지우기
			['style', ['bold', 'italic', 'underline','strikethrough', 'clear']],
			// 글자색
			['color', ['forecolor','color']],
			// 표만들기
			['table', ['table']],
			// 글머리 기호, 번호매기기, 문단정렬
			['para', ['ul', 'ol', 'paragraph']],
			// 줄간격
			['height', ['height']],
		],
		// 추가한 글꼴
		fontNames: ['Arial', 'Arial Black', 'Comic Sans MS', 'Courier New','맑은 고딕','궁서','굴림체','굴림','돋음체','바탕체'],
		// 추가한 폰트사이즈
		fontSizes: ['8','9','10','11','12','14','16','18','20','22','24','28','30','36','50','72']
	});
</script>
<script>
	let i = /*[[${files2.size()}]]*/'';
	let orgSize = i;

	let updateCheck = false;
	let uploadCheck = false;
	const updateCnt = $("#updateCnt");

	let num = 0;

	const orgname = document.getElementsByName("orgname");
	const org_thumbnail = {};
	for(let j=0;j<orgname.length;j++){
		org_thumbnail[orgname[j].value] = document.querySelector(".file"+j+"_cont .thumbnail")
	}
	let sysname = "";
	console.log(orgname);
	console.log(org_thumbnail);

	function cancelFile(name,systemname){
		updateCnt.val(updateCnt.val()+"\\"+systemname)
		let num = name.split("e")[1];
		if(num == i){
			return;
		}
		if(i != 0){
			//tr지우기
			let temp = Number(name.split("e")[1]);
			//해당 행 지우기
			$(".r"+temp).remove();
			//지워진 다음 행 부터 숫자 바꿔주기
			for(let j=temp+1;j<=i;j++){
				const el = $("#boardForm tbody").find(".r"+j);
				el.attr("class","r"+(j-1)+" at");

				el.children('th').text("파일 첨부"+j);

				el.children('td').attr("class","file"+(j-1)+"_cont");

				const fileTag = el.find("input[type='file']");
				fileTag.attr("name","files");
				fileTag.attr("id","file"+(j-1));

				el.find("span").attr("id","file"+(j-1)+"name");

				el.find("a")[0].href = "javascript:upload('file"+(j-1)+"')"
				//el.find("a")[1].href = "javascript:cancelFile('file"+(j-1)+"','"+el.find("span").text()+"')"
				el.find("a")[1].href = decodeURI(el.find("a")[1].href.replace("'file"+j+"'","'file"+(j-1)+"'"));

			}
			i--;
		}
	}
	function upload(name,systemname){
		let temp = $("#"+name+"name").text();
		num = Number(name.split("e")[1]);
		if(temp == '선택된 파일 없음'){
			$("#"+name).click();
		}
		else{
			updateCnt.val(updateCnt.val()+"\\"+systemname)
			sysname = systemname;
			$("#"+name).click();
		}
	}
	$("[type='file']").change(function(e){
		const file = e.target.files[0];
		const fileTag = e.target;

		if(file == undefined){
			if(!$("."+fileTag.id+"_cont [name='orgname']").val()){
				//비어있던 곳에 파일이 업로드 되었다가 취소한 경우
				cancelFile(fileTag.id);
			}
			else{
				let n = orgname[num].value;
				let ext = n.split(".").pop();
				updateCnt.val(updateCnt.val().replaceAll("\\"+sysname,""));
				console.log(num);
				$("#file"+num+"name").text(n);
				if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){
					$("."+fileTag.id+"_cont .thumbnail").remove();
					document.querySelector("."+fileTag.id+"_cont").appendChild(org_thumbnail[n]);
				}
				else{
					if(document.querySelector("."+fileTag.id+"_cont .thumbnail")){
						$("."+fileTag.id+"_cont .thumbnail").remove();
					}
				}
				sysname = "";
			}
		}
		else{
			uploadCheck = true;
			//파일이 없었다가 업로드 한 경우
			//#file0name
			$("#"+fileTag.id+"name").text(file.name);
			//업로드 된 파일의 확장자명
			let ext = file.name.split(".").pop();
			if(ext == 'jpeg' || ext == 'jpg' || ext == 'png' || ext == 'gif' || ext == 'webp'){
				$("."+fileTag.id+"_cont .thumbnail").remove();
				const reader = new FileReader();

				reader.onload = function(ie){
					const img = document.createElement("img");
					img.setAttribute("src",ie.target.result)
					img.setAttribute("class","thumbnail");
					document.querySelector("."+fileTag.id+"_cont").appendChild(img);
				}
				reader.readAsDataURL(file);
			}
			else{
				const temp = $("."+fileTag.id+"_cont .thumbnail");
				if(temp != null){
					temp.remove();
				}
			}
			//가장 마지막 파일 선택 버튼을 눌렀을 때
			if(num == i){
				const cloneElement = $(".r"+i).clone(true);
				i++;
				cloneElement.appendTo("#boardForm tbody")
				const lastElement = $("#boardForm tbody").children().last();

				lastElement.attr("class","r"+i+" at");
				lastElement.children("th").text("파일 첨부"+(i+1));
				lastElement.children("td").attr("class","file"+i+"_cont");

				lastElement.find("input[type='file']").attr("name","files2");
				lastElement.find("input[type='file']").attr("id","file"+i);
				lastElement.find("input[type='file']").val("");

				lastElement.find("span").attr("id","file"+i+"name");
				lastElement.find("span").text("선택된 파일 없음");

				lastElement.find("a")[0].href = "javascript:upload('file"+i+"','')";
				lastElement.find("a")[1].href = "javascript:cancelFile('file"+i+"','선택된 파일 없음')"
			}

		}
	})


	function selectCategory(boardCategory) {
		var selectedButton = document.querySelector('.button.active');

		if (selectedButton) {
			if (selectedButton.getAttribute('onclick') === `selectCategory('${boardCategory}')`) {
				selectedButton.classList.remove('active');
				return ;
			} else {
				alert("카테고리를 하나만 선택하세요.");
				return false;
			}
		}
		var clickedButton = document.querySelector(`[onclick="selectCategory('${boardCategory}')"]`);
		clickedButton.classList.toggle('active');

		console.log("선택된 카테고리:", boardCategory);

		document.boardForm.boardCategory.value = boardCategory;
	}


</script>
</html>