<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}"/>
	<link rel="stylesheet" th:href="@{/assets/css/main_index.css}"/>
	<link rel="icon" href="/images/fithub-favicon.png" type="image/png">
	<link rel="stylesheet" th:href="@{/assets/css/new.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/swiper.min.css}" />
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<script src="https://unpkg.com/typeit@8.3.3/dist/index.umd.js"></script>
	<script src="https://unpkg.com/scroll-out/dist/scroll-out.min.js"></script>
</head>
<style>
	/*.imgearea{*/
	/*	background: url(/images/diary3.jpg) no-repeat;*/
	/*}*/
</style>
<body class="is-preload">
<!-- Wrapper -->
<div id="logo_box" style="opacity: 1;">
	<span id="title"></span>
</div>
<div class="wrap">

	<!-- Header -->
	<th:block th:replace="~{layout/index_header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile},${session.todaydate})}"></th:block>


	<!-- Main -->
	<!-- Banner -->
	<section id="banner">
		<article>
			<img src="images/test.png" alt="" />
		</article>
		<article>
			<img src="images/test4.jpg" alt="" />
		</article>
		<article>
			<img src="images/test5.png"  alt="" />
		</article>
	</section>

	<!-- Two -->
	<section data-scroll id="two" class="wrapper content-pad">
		<div class="inner">
			<div class="section_box">
				<section class="two_content1">
					<div class="slide_wrapper">
						<ul class="slides">
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
						</ul>
					</div>
				</section>


				<section class="two_content2">
					<div class="two_box2">인기 게시물</div>
				</section>
			</div>
		</div>
	</section>

	<!-- One -->
	<div data-scroll class="one_div"><h2></h2></div>

	<section data-scroll id="one" class="wrapper major-pad">
		<div class="inner">
			<section class="section_box">
				<div class="content one_box1">
					<div class="one_box1_inner1">
						<div>다이어리 상세보기 전 내용</div>
						<button class="button small one_button1" >상세보기</button>
					</div>
					<div class="one_box1_inner2" style="opacity: 0;">
						<div>다이어리 상세보기 내용</div>
						<button class="button small one_button2" >취소</button>
					</div>
				</div>
				<div class="one_box2">
					<h2 class="one_write">다이어리</h2>
					<p></p>
					<a href="/usermypage/user_diary" class="button small" >more</a>
					<div data-scroll class="one_img"><img src="#" alt="이미지">이미지</div>
				</div>
			</section>
		</div>
	</section>



	<!-- five -->
	<section data-scroll id="five" class="wrapper split">
		<div class="inner">
			<section>
				<div class="three_title"><h2>트레이너 랭킹</h2></div>
				<div class="swiper slide_one">
					<div class="swiper-wrapper">
						<div class="swiper-slide three_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide three_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide three_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide three_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide three_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
						</div>

					</div>
					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>

				</div>

			</section>
		</div>
	</section>


	<!-- Four -->
	<section data-scroll id="four" class="wrapper split">
		<div class="inner">
			<section>
				<div class="three_title"><h2>챌린지</h2></div>
				<div class="swiper slide_two">
					<div class="swiper-wrapper">
						<div class="swiper-slide four_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide four_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide four_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide four_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
						<div class="swiper-slide four_swiper_slide">
							<div></div>
							<div></div>
							<div></div>
							<div></div>
							<div></div>
						</div>
					</div>
					<div class="swiper-scrollbar"></div>
				</div>
			</section>
		</div>
	</section>


	<!-- Three -->
	<div class="inner" >
		<section data-scroll id="three" class="wrapper style2">
			<div class="three_div">
				<ul class="three_ul">
					<li class="three_ul_a1 fontSize_24px">뉴스</li>
					<li class="three_ul_a2">꿀팁</li>
					<li class="three_ul_a3">정보</li>
					<li class="three_ul_a4">커뮤니티</li>
					<li class="three_ul_a5">제품추천</li>
				</ul>
			</div>
			<section class="three_section">
				<div class="three_section_div" style="max-height: 1400px;">
					<div class="three_section_div_box"> 박스</div>
					<table>
						<tr>
							<td class="three_section_td">
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
								<div class="three_section_td_list">1</div>
							</td>
						</tr>
					</table>
					<div id="1" class="three_section_div_2 button small">더보기</div>
				</div>
			</section>

		</section>
	</div>


	<!-- Footer -->
	<th:block th:replace="~{layout/footer::footer}"></th:block>

</div>
	<!-- Scripts -->
	<script th:src="@{/assets/js/jquery.min.js}"></script>
	<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
	<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
	<script th:src="@{/assets/js/browser.min.js}"></script>
	<script th:src="@{/assets/js/breakpoints.min.js}"></script>
	<script th:src="@{/assets/js/util.js}"></script>
	<script th:src="@{/assets/js/main.js}"></script>


	<script th:src="@{/assets/js/util_sub.js}"></script>
	<script th:src="@{/assets/js/main_sub.js}"></script>


	<script th:src="@{/assets/js/sidebarTap.js}"></script>

	<script th:src="@{/assets/js/new.js}"></script>
	<script>
		$("#infoController").click(function(){
			location.href = '/info/info_list';
		});

		$("#matchingController").click(function(){
			location.href = '/matching/matching_list';
		});

		$("#challengeController").click(function(){
			location.href = '/challenge/list';
		});
	</script>
</body>
</html>