<!DOCTYPE HTML>
<!--
	Future Imperfect by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko">
	<head>
		<title>Untitled</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/index.css" />
		<link rel="stylesheet" href="assets/css/sidebar.css"/>
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper -->

				<!-- Header -->
		<header id="header" class="alt">
			<h1><a href="/" style="color: #fff;">Fit Hub</a></h1>
			<nav class="links">
				<ul>
					<li><a href="/info/info_list"style="color: #fff;">정보</a></li>
					<li><a href="/calorie/food_calorie_list"style="color: #fff;">칼로리</a></li>
					<li><a href="#"style="color: #fff;">커뮤니티</a></li>
					<li><a href="/matching/matching_list"style="color: #fff;">트레이너 매칭</a></li>
					<li><a href="#"style="color: #fff;">챌린지</a></li>
					<li><a href="#"style="color: #fff;">제품</a></li>
					<li><a href="/usermypage/user_diary"style="color: #fff;">다이어리(test)</a></li>
				</ul>
			</nav>
			<nav class="main">
				<ul>
					<li id="login">

						<th:block th:if="${loginUser == null}">
							<a class="login" href="/user/login" style="color: #fff">Login</a>
						</th:block>
						<th:block th:if="${loginUser != null}">
							<a class="login" th:href="@{/user/logout}" style="color: #fff">logout</a>
						</th:block>

						<a class="login" href="/usermypage/user_myinfo" style="color: #fff">유저</a>
						<a class="login" href="/trainermypage/trainer_modify" style="color: #fff">트레</a>
						<a class="login" href="/adminmypage/adminmypage_list" style="color: #fff">관리</a>
					</li>
					<li class="search">
						<a class="fa-search" href="#search" style="color: #fff">Search</a>
						<form id="search" method="get" action="#">
							<input type="text" name="query" placeholder="Search" />
						</form>
					</li>
					<li class="menu">
						<a class="fa-bars" href="#menu" style="color: #fff">Menu</a>
					</li>
				</ul>
			</nav>
		</header>

				<!-- Menu -->
					<section id="menu">
						<div class="side-not-login">
							<p>로그인하세요</p>
							<a href="/user/login">로그인</a>
						</div>
						<div class="side_info">
							<a href="/usermypage/user_myinfo">
								<img src="images/profile_img.png" class="prof_img" width="102px" height="102px">
							</a>
							<div id="my_info">
								<div>
									<a href="/usermypage/user_myinfo">내 정보</a>
									<th:block th:if="${loginUser == null}">
										<a class="login" href="/user/login">로그인</a>
									</th:block>
									<th:block th:if="${loginUser != null}">
										<a class="login" th:href="@{/user/logout}">로그아웃</a>
									</th:block>
								</div>
								<a href="/usermypage/user_myinfo"><span>등급 / 닉네임(ID)</span></a>
							</div>
							<div class="bar-container">
								<progress class="progress-bar" value="0" max="7"></progress>
								<input type="button" value="출석" class="att-btn">
							</div>
							<div class="point-container">
								<div>나의 포인트</div>
								<span>0p</span>
							</div>
							<div id="tab-menu">
								<div class="tab today-tab">오늘</div>
								<div class="tab chall-tab">도전</div>
								<div class="tab sub-tab">구독</div>
								<div class="page-tab diary-tab">
									<a href="/usermypage/user_diary">일기</a>
								</div>
								<div class="page-tab shop-tab">
									<a href="#">쇼핑</a>
								</div>
							</div>
							<div id="tab-menu-container">
								<div class="tab-view today-view">
									<strong>나의 목표</strong>
									<p>목표무게: <!--<span th:text="${user.weightGoal}"></span>--></p>
									<p>목표칼로리: <!--<span th:text="${user.caloriesGoal}"></span>--></p>
									<hr>
									<strong>잔여칼로리: 현재칼로리/목표칼로리 <!--<span th:text="${user.caloriesGoal}"></span>--></strong>
									<p>섭취량</p>
									<p>소비량</p>
									<div id="meal-options">
										<div class="brack-fst">아침</div>
										<div class="lunch">점심</div>
										<div class="dinner">저녁</div>
										<div class="snack">간식</div>
									</div>
									<div id="tan-dan-ji-box">
										<div class="today-breakfast">
											<p>칼로리:아침 칼로리</p>
											<p>탄수화물</p>
											<p>단백질</p>
											<p>지방</p>
										</div>
										<div class="today-lunch">
											<p>칼로리:점심 칼로리</p>
											<p>탄수화물</p>
											<p>단백질</p>
											<p>지방</p>
										</div>
										<div class="today-dinner">
											<p>칼로리:저녁 칼로리</p>
											<p>탄수화물</p>
											<p>단백질</p>
											<p>지방</p>
										</div>
										<div class="today-snack">
											<p>칼로리:간식 칼로리</p>
											<p>탄수화물</p>
											<p>단백질</p>
											<p>지방</p>
										</div>
									</div>
								</div>
								<div class="tab-view chall-view">
									<div class="my-chall">
										<strong>나의 챌린지</strong><br>
										<span class="active-tab">진행중</span>
										<span class="finish-tab">종료</span>
										<div id="chall-list">
											<div class="active-chall-listView">
												<p>진행중인 챌린지 list</p>
											</div>
											<div class="finish-chall-listView">
												<p>종료된 챌린지 list</p>
											</div>
										</div>
									</div>


								</div>
								<div class="tab-view sub-view">
									<div class="sub-view-container">
										<strong>나의 트레이너</strong>
										<div class="my-sub">
											<p>구독한 트레이너 list</p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="another-page">
							<div class="bmi">
								<a href="#">BMI</a>
							</div>
							<div class="health-center">
								<a href="#">보건소</a>
							</div>
							<div class="trainer-apply">
								<a href="#">트레이너 신청</a>
							</div>
						</div>
					</section>
				<!-- Main -->
		<!-- Banner -->
		<section id="banner">
			<article>
				<img src="images/slide01.jpg" alt="" />
				<div class="inner">
					<h2><a href="#">메인 이미지1</a></h2>
				</div>
			</article>
			<article>
				<img src="images/slide02.jpg" alt="" />
				<div class="inner">
					<h2><a href="#">메인 이미지2</a></h2>
				</div>
			</article>
			<article>
				<img src="images/slide03.jpg"  alt="" />
				<div class="inner">
					<h2><a href="#">메인 이미지3</a></h2>
				</div>
			</article>
		</section>

	<!-- One -->
		<section id="one" class="wrapper major-pad">
			<div class="inner">
				<section class="spotlight">
					<div class="content">
						<h2>다이어리</h2>
						<p>다이어리 설명</p>
					</div>
					<a href="/usermypage/user_diary" class="image"><img src="images/diary_img.png" alt="" /></a>
				</section>
			</div>
		</section>

		<section id="func-btn">
			<div class="select-btn">
				<span><input type="button" value="버튼1"></span>
				<span><input type="button" value="버튼2"></span>
				<span><input type="button" value="버튼3"></span>
				<span><input type="button" value="버튼4"></span>
				<span><input type="button" value="버튼5"></span>
				<span><input type="button" value="버튼6"></span>
			</div>
		</section>

		<!-- Two -->
		<section id="two" class="wrapper content-pad">
			<div class="inner">
				<div class="features">
					<section class="content">
						<span class="icon-wrapper major"><span class="icon solid fa-pencil-alt"></span></span>
						<h3>꿀팁 베스트1등</h3>
						<p>꿀팁 베스트1등</p>
					</section>
					<section class="content">
						<span class="icon-wrapper major"><span class="icon solid fa-paper-plane"></span></span>
						<h3>음식 검색 1등</h3>
						<p>음식 검색 1등</p>
					</section>
					<section class="content">
						<span class="icon-wrapper major"><span class="icon solid fa-cloud"></span></span>
						<h3>운동 검색 1등</h3>
						<p>운동 검색 1등</p>
					</section>
				</div>
			</div>
		</section>

		<!-- Three -->
		<section id="three" class="wrapper style2">
			<div class="inner">
				<h2>게시글 베스트</h2>
				<div class="posts">
					<section class="post">
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h3>게시글 1등</h3>
							<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h3>게시글 2등</h3>
							<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic03.jpg" alt="" /></span>
						<div class="content">
							<h3>게시글 3등</h3>
							<p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</section>
		<section id="three" class="wrapper style3">
			<div class="inner">
				<h2>트레이너 랭킹</h2>
				<div class="posts">
					<section class="post">
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h3>트레이너 1등</h3>
							<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h3>트레이너 2등</h3>
							<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic03.jpg" alt="" /></span>
						<div class="content">
							<h3>트레이너 3등</h3>
							<p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</section>
		<section id="three" class="wrapper style4">
			<div class="inner">
				<h2>챌린지 베스트</h2>
				<div class="posts">
					<section class="post">
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h3>챌린지 1등</h3>
							<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h3>챌린지 2등</h3>
							<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic03.jpg" alt="" /></span>
						<div class="content">
							<h3>챌린지 3등</h3>
							<p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</section>
		<section id="three" class="wrapper style5">
			<div class="inner">
				<h2>오늘 정보</h2>
				<div class="posts">
					<section class="post">
						<span class="image"><img src="images/pic01.jpg" alt="" /></span>
						<div class="content">
							<h3>꿀팁</h3>
							<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
					<section class="post">
						<span class="image"><img src="images/pic02.jpg" alt="" /></span>
						<div class="content">
							<h3>뉴스</h3>
							<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
							<ul class="actions">
								<li><a href="#" class="button">More</a></li>
							</ul>
						</div>
					</section>
				</div>
			</div>
		</section>

	<!-- Footer -->
		<footer id="footer">
			<div class="inner">
				<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
				<ul class="menu">
					<li><a href="#">Terms<span> of Use</span></a></li>
					<li><a href="/adminmypage/adminmypage_list">Privacy<span> Policy</span></a></li>
					<li><a href="#">Legal<span> Information</span></a></li>
				</ul>
			</div>
		</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>


			<script src="assets/js/util_sub.js"></script>
			<script src="assets/js/main_sub.js"></script>

			<script src="assets/js/sidebar.js"></script>




	</body>
</html>