<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Untitled</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}"/>
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">

<!-- Header -->
<th:block th:replace="~{layout/index_header::header(${session.loginUser},${session.user})}"></th:block>
<!-- Main -->
<!-- Banner -->
<section id="banner">
	<article>
		<img src="images/test.png" alt="" />
	</article>
	<article>
		<img src="images/test4.jpg" alt="" />
	</article>
	<article>
		<img src="images/test5.png"  alt="" />
	</article>
</section>

<!-- One -->
<section id="one" class="wrapper major-pad">
	<div class="inner">
		<section class="spotlight">
			<div class="content">
				<h2>다이어리</h2>
				<p>다이어리 설명</p>
			</div>
			<a href="#" class="image"><img src="images/diary_img.png" alt="" /></a>
		</section>
	</div>
</section>

<!--<section id="func-btn">-->
<!--	<div class="select-btn">-->
<!--		<span><input type="button" value="버튼1"></span>-->
<!--		<span><input type="button" value="버튼2"></span>-->
<!--		<span><input type="button" value="버튼3"></span>-->
<!--		<span><input type="button" value="버튼4"></span>-->
<!--		<span><input type="button" value="버튼5"></span>-->
<!--		<span><input type="button" value="버튼6"></span>-->
<!--	</div>-->
<!--</section>-->

<!-- Two -->
<section id="two" class="wrapper content-pad">
	<div class="inner">
		<div class="features">
			<section class="content">
				<span class="icon-wrapper major"><span class="icon solid fa-pencil-alt"></span></span>
				<h3>꿀팁 베스트1등</h3>
				<p>꿀팁 베스트1등</p>
			</section>
			<section class="content">
				<span class="icon-wrapper major"><span class="icon solid fa-paper-plane"></span></span>
				<h3>음식 검색 1등</h3>
				<p>음식 검색 1등</p>
			</section>
			<section class="content">
				<span class="icon-wrapper major"><span class="icon solid fa-cloud"></span></span>
				<h3>운동 검색 1등</h3>
				<p>운동 검색 1등</p>
			</section>
		</div>
	</div>
</section>

<!-- Three -->
<section id="three" class="wrapper style2">
	<div class="inner">
		<h2>게시글 베스트</h2>
		<div class="posts">
			<section class="post">
				<span class="image"><img src="images/pic01.jpg" alt="" /></span>
				<div class="content">
					<h3>게시글 1등</h3>
					<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<h3>게시글 2등</h3>
					<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic03.jpg" alt="" /></span>
				<div class="content">
					<h3>게시글 3등</h3>
					<p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>
<section id="three" class="wrapper style3">
	<div class="inner">
		<h2>트레이너 랭킹</h2>
		<div class="posts">
			<section class="post">
				<span class="image"><img src="images/pic01.jpg" alt="" /></span>
				<div class="content">
					<h3>트레이너 1등</h3>
					<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<h3>트레이너 2등</h3>
					<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic03.jpg" alt="" /></span>
				<div class="content">
					<h3>트레이너 3등</h3>
					<p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>
<section id="three" class="wrapper style4">
	<div class="inner">
		<h2>챌린지 베스트</h2>
		<div class="posts">
			<section class="post">
				<span class="image"><img src="images/pic01.jpg" alt="" /></span>
				<div class="content">
					<h3>챌린지 1등</h3>
					<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<h3>챌린지 2등</h3>
					<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic03.jpg" alt="" /></span>
				<div class="content">
					<h3>챌린지 3등</h3>
					<p>Quis interdum. Lorem quis lacus justo. Sed libero condimentum vehicula sem vel, mattis amet mauris. Nullam lacinia sit amet felis vel vestibulum. Morbi aliquam aenean.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>
<section id="three" class="wrapper style5">
	<div class="inner">
		<h2>오늘 정보</h2>
		<div class="posts">
			<section class="post">
				<span class="image"><img src="images/pic01.jpg" alt="" /></span>
				<div class="content">
					<h3>꿀팁</h3>
					<p>Aenean ultricies magna non sapien rhoncus, ac ullamcorper lorem convallis. Quisque at venenatis nisi, amet finibus mauris. Sed sodales ultricies eros, sit amet sodales sapien.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
			<section class="post">
				<span class="image"><img src="images/pic02.jpg" alt="" /></span>
				<div class="content">
					<h3>뉴스</h3>
					<p>Ultrices nec metus. Aenean ultricies magna et sapien rhoncus ac ullamcorper lorem convallis. Quisque at venenatis nisi amet finibus mauris. Sed sodales ultricies magna etiam.</p>
					<ul class="actions">
						<li><a href="#" class="button">More</a></li>
					</ul>
				</div>
			</section>
		</div>
	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>


<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>


<script src="https://code.jquery.com/jquery-3.6.0.min.js">

</script>





</body>
</html>