<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fit Hub</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" th:href="@{/assets/css/index.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/sidebar.css}"/>
    <link rel="stylesheet" th:href="@{/assets/css/profileModal.css}"/>
    <noscript>
        <link rel="stylesheet" th:href="@{/assets/css/noscript.css}"/>
    </noscript>
</head>
<style>
    table {
        border-collapse: separate;
    }

    table tbody tr:nth-child(2n + 1) {
        background-color: #F7FAF5 !important;
    }

    .top_img_box {
        width: 100%;
        height: 310px;
        overflow: hidden;
        margin-bottom: 50px;
    }

    .top_img_box > img {
        width: 100%;
        height: auto;
        transform: translateY(-10%);
    }

    #main {
        padding: 0;
    }

    .wrapper {
        padding: 0;
        margin-bottom: 100px;
    }

    #header {
        background-color: #5a8100;
    }

    #header nav > ul > li a {
        color: white;
    }

    #header h1 a {
        color: white;
    }

    #header .main ul li > a {
        color: white;
    }

    #footer {
        background-color: #304400;
    }

    .search_content_box {
        width: 100%;
    }

    .search_content_box:last-child {
        height: 100%;
    }

    .actions {
        float: right;
    }

    .search_box {
        width: 100%;
    }

    .content {
        width: 30%;
    }

    ol, ul {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .admin_board_list {
        width: 240px;
        height: 120px;
        background-color: transparent;
        color: #444 !important;
        box-shadow: inset 0 0 0 1px #444;
        margin-top: 20px;
        text-align: center;
        padding: 10px;
        overflow: hidden;
        white-space: normal;
        text-overflow: ellipsis;
        cursor: pointer;
    }

    .admin_board_list > div {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
    }

    tr {
        background-color: white;
    }

    .category_button {
        margin-right: 10px;
    }

    a {
        border-bottom: none;
    }

    .admin_board_list_box {
        display: flex;
        justify-content: space-between;
    }

    .long_text {
        width: 180px;
        max-width: 180px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .more_view {
        float: right;
    }

    .sidebar .ranking {
        margin-bottom: 69px;
    }

    .ranking table tr td {
        text-align: center;
        background: #FFFFFF;
        overflow: hidden;
        text-overflow: ellipsis
    }
    .ranking table tr td{
        text-overflow: ellipsis; white-space: nowrap; max-width: 160px;
    }


    .major {
        display: flex;
        justify-content: space-between;
    }

    #gnb {
        /*display: flex;*/
        /*justify-content: center;*/
        width: 70%;
        margin-top: 80px;
    }

    input[type=button] {
        box-shadow: inset 0 0 0 2px #5a810086;
    }

    .btn_area.btn_category {
        display: flex;
        justify-content: space-between;
    }

    .btn_area input[type=button] {
        border-radius: 8px;
        height: 45px;
        line-height: 45px;
    }

    .btn_area input[type=button]:hover {
        /*background: #fafbf7 ;*/
        background: #ebede1;
        box-shadow: none;
        transition: 0.5s ease-out;
        /*border-top-left-radius: 20px;*/
        /*border-top-right-radius: px;*/
    }


    .sidebar {
        /*margin-top: 100px;*/
    }

    input[type=button].viewNow {
        background: #ebede1;
    }

</style>
<body class="is-preload">

<!--	<th:block th:if="${session.loginUser == null}">-->
<!--		<script>-->
<!--			alert("로그인 후 접근 가능합니다!!!");-->
<!--			location.replace("/");-->
<!--		</script>-->
<!--	</th:block>-->

<!-- Header -->
<!--<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user})}"></th:block>-->
<th:block
        th:replace="~{layout/index_header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

<!-- Modal -->
<th:block th:replace="~{layout/profileModal::profileModal()}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">
    <div class="top_img_box">
        <img src="/images/admintop2.png" alt="">
    </div>

    <div class="inner">

        <header class="major">
            <div>
                <h2>통합 검색 ([[${boardAllCnt}]])</h2>
                <p>모든 게시글에서 검색된 결과</p>
            </div>
            <div id="gnb">
                <div class="btn_area" style="margin-bottom: 20px;">
                    <input class="viewNow" type="button" th:value="'전체&nbsp;('+${boardAllCnt}+')'">
                </div>
                <div class="btn_area btn_category">
                    <input type="button" th:value="'뉴스&nbsp;('+${boardCntArr}+')'">
                    <input type="button" value="'식단&nbsp;(0)">
                    <input type="button" value="운동&nbsp;(0)">
                    <input type="button" value="꿀팁&nbsp;(0)">
                    <input type="button" value="커뮤니티&nbsp;(0)">
                    <input type="button" value="트레이너 매칭&nbsp;(0)">
                    <input type="button" value="챌린지&nbsp;(0)">
                </div>
            </div>
        </header>


        <!-- Content -->
        <div class="content">
            <div class="search_box">
                <h2 th:text="'뉴스&nbsp;('+${boardCntArr[0]}+')'">뉴스</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">작성자</td>
                            <td class="long_text">조회수</td>
                            <td class="long_text">좋아요</td>
                            <td class="long_text">등록일자</td>
                        </tr>
                        </thead>
                        <!--                        <tr th:if="${newsSearchList != null and newsSearchList.size() >0}" th:each="board : ${newsSearchList}" th:limit="5">-->
                        <tr th:each="board, boardStat : ${newsSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.userId}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.viewCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.likeCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.regdate}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${newsSearchList == null or newsSearchList.size() == 0}">
                            <tr>
                                <td colspan="6" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${newsSearchList != null and newsSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                    <!--                    <th:block th:if="${newsSearchList != null and newsSearchList.size() > 5}">-->
                    <!--                        <a href="#" class="button more_view">더보기</a>-->
                    <!--                    </th:block>-->
                </div>
            </div>

            <div class="search_box">
                <h2>식단</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">작성자</td>
                            <td class="long_text">조회수</td>
                            <td class="long_text">좋아요</td>
                            <td class="long_text">등록일자</td>
                        </tr>
                        </thead>

                        <tr th:each="board, boardStat : ${foodSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.userId}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.viewCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.likeCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.regdate}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${foodSearchList == null or foodSearchList.size() == 0}">
                            <tr>
                                <td colspan="6" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${foodSearchList != null and foodSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div class="search_box">
                <h2>운동</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">작성자</td>
                            <td class="long_text">조회수</td>
                            <td class="long_text">좋아요</td>
                            <td class="long_text">등록일자</td>
                        </tr>
                        </thead>
                        <tr th:each="board, boardStat : ${exerSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.userId}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.viewCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.likeCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.regdate}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${exerSearchList == null or exerSearchList.size() == 0}">
                            <tr>
                                <td colspan="6" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${exerSearchList != null and exerSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div class="search_box">
                <h2>꿀팁</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">작성자</td>
                            <td class="long_text">조회수</td>
                            <td class="long_text">좋아요</td>
                            <td class="long_text">등록일자</td>
                        </tr>
                        </thead>
                        <tr th:each="board, boardStat : ${tipSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.userId}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.viewCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.likeCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.regdate}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${tipSearchList == null or tipSearchList.size() == 0}">
                            <tr>
                                <td colspan="6" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${tipSearchList != null and tipSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div class="search_box">
                <h2>커뮤니티</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">작성자</td>
                            <td class="long_text">조회수</td>
                            <td class="long_text">좋아요</td>
                            <td class="long_text">등록일자</td>
                        </tr>
                        </thead>
                        <tr th:each="board, boardStat : ${commuSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.userId}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.viewCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.likeCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.regdate}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${commuSearchList == null or commuSearchList.size() == 0}">
                            <tr>
                                <td colspan="6" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${commuSearchList != null and commuSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div class="search_box">
                <h2>트레이너 매칭</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">작성자</td>
                            <td class="long_text">조회수</td>
                            <td class="long_text">좋아요</td>
                            <td class="long_text">등록일자</td>
                        </tr>
                        </thead>
                        <tr th:each="board, boardStat : ${matchingSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.userId}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.viewCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.likeCnt}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.regdate}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${matchingSearchList == null or matchingSearchList.size() == 0}">
                            <tr>
                                <td colspan="6" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${matchingSearchList != null and matchingSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
            <div class="search_box">
                <h2>챌린지 공지 / 챌린지 인증</h2>
                <div class="search_content_box">
                    <table style="text-align: center;">
                        <thead>
                        <tr style="font-weight: bold;">
                            <td class="long_text">게시글 번호</td>
                            <td class="long_text">제목</td>
                            <td class="long_text">카테고리</td>
                        </tr>
                        </thead>
                        <tr th:each="board, boardStat : ${challSearchList}" th:if="${boardStat.index < 5}">
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardNum}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.boardTitle}]]
                                </a>
                            </td>
                            <td class="long_text">
                                <a href="#">
                                    [[${board.challCategory}]]
                                </a>
                            </td>
                        </tr>
                        <th:block th:if="${challSearchList == null or challSearchList.size() == 0}">
                            <tr>
                                <td colspan="4" style="text-align: center;">등록된
                                    게시글이 없습니다.
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:if="${challSearchList != null and challSearchList.size() > 5}">
                            <tr>
                                <td colspan="5" style="text-align: center;">
                                </td>
                                <td>
                                    <a href="#" class="button more_view">더보기</a>
                                </td>
                            </tr>
                        </th:block>
                    </table>
                </div>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="sidebar">

            <section>
                <h3 class="side_ranking">인기 게시글 순위</h3>
                <div class="ranking">
                    <div class="boardRanking_ranking">
                        <table style="width: 90%;">
                            <tr th:each="boardTop5List, dataStat :${boardTop5List}">
                                <td th:text="${dataStat.index+1}"></td>
                                <td>[[${boardTop5List.boardTitle}]]</td>
                            </tr>
                        </table>

                    </div>
                </div>
                <h3 class="side_ranking">트레이너 구독 순위</h3>
                <div class="ranking">
                    <div class="boardRanking_ranking">
                        <table style="width: 90%;">
                            <tr th:each="trainerTop5List, dataStat: ${trainerTop5List}">
                                <td th:text="${dataStat.index + 1}">1</td>
                                <td>[[${trainerTop5List.trainerId}]]</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </section>

        </div>
        <!--        <form name="pageForm" id="pageForm" th:action="@{/totalSearch}">-->
        <!--            <input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">-->
        <!--            <input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">-->
        <!--            <input type="hidden" name="type" th:value="${pageMaker.cri.type}">-->
        <!--            <input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">-->
        <!--        </form>-->
    </div>
</section>


<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>
</body>
</html>