<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />

</head>
<style>
	.button {
		background-color: #8FA746 !important;
	}

	.long_text {
		word-break: break-all;
		white-space: normal;
		width: 180px;
		max-width: 180px;
		overflow: hidden;
	}
</style>
<body class="is-preload">

<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin})}"></th:block>

<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">마이페이지</p>
			<p id="subText">쪽지함</p>
		</header>
	</div>

	<div class="inner">

		<!-- Content -->
		<div class="content">

			<!-- 게시글 리스트 띄우는 테이블 -->
			<form name="mainForm" id="mainForm" method="post" th:action="@{/usermypage/u_t_matching}">
				<table class="list" style="text-align: center;">
					<tr>
						<td colspan="6">
							<div style="float: left;">
								<div id="messageAll" class="button cate not_cate message" style="margin-right: 10px;">전체보기</div>
								<div id="messageSend" class="button cate not_cate message" style="margin-right: 10px;">보낸쪽지함</div>
								<div id="messageReceive" class="button cate not_cate message" style="margin-right: 10px;">받은쪽지함</div>
								<div id="u_t_matching" class="button cate now_cate message" style="margin-right: 10px;">매칭쪽지함</div>
							</div>
							<div style="float: right;">
								쪽지 개수 : [[${pageMaker.total}]]
							</div>
						</td>
					</tr>
					<tr class="special-row">
						<td class="long_text" >번호</td>
						<td class="long_text" ></td>
						<td class="long_text" >보낸사람</td>
						<td class="long_text" >받는사람</td>
						<td class="long_text" >수락여부</td>
						<td class="long_text" >날짜</td>
					</tr>
					<tr th:if="${list != null and list.size()>0}" th:each="message : ${list}">
						<td>
							<input type="text" name="matchingNum" th:value="${message.matchingNum}" readonly>
						</td>
						<td>
							<sup class="new" th:if="${newly_Message[messageStat.index] == 'O'}">New</sup>
						</td>
						<td>
							<input type="text" name="userId" th:value="${message.userId}" readonly>
						</td>
						<td>
							<input type="text" name="trainerId" th:value="${message.trainerId}" readonly>
						</td>
						<td>
							<div class="SC_box">
								<th:block th:if="${message.userCheck} == 'O' and ${message.trainerCheck} == '확인중'">
									<div>
										확인중입니다.
									</div>
									<div>
										<a href="#" class="cancel">취소</a>
									</div>
								</th:block>
								<th:block th:if="${message.userCheck} == 'O' and ${message.trainerCheck} == 'O'">
									<div>
										매칭되었습니다.
									</div>
								</th:block>
								<th:block th:if="${message.userCheck} == 'X'">
									<div>
										취소하였습니다.
									</div>
								</th:block>
								<th:block th:if="${message.trainerCheck} == 'X'">
									<div>
										거절되었습니다
									</div>
								</th:block>
							</div>
						</td>
						<td>
							<input type="text" name="matchingDate" th:value="${message.matchingDate}" readonly>
						</td>

					</tr>
					<th:block th:if="${list == null or list.size() == 0}">
						<tr>
							<td colspan="6" style="text-align: center; font-size: 20px;">매칭 쪽지가 없습니다.</td>
						</tr>
					</th:block>
				</table>
			</form>
			<br>	<!-- 페이징 처리하는 테이블 -->
			<table class="pagination">
				<tr align="center" valign="middle">
					<td>
						<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>
						<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
							<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>
							<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>
						</th:block>
						<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>
					</td>
				</tr>
			</table>
			<!-- 글쓰기 버튼 배치하는 테이블 -->

			<form id="searchForm" th:action="@{/usermypage/u_t_matching}">
				<div class="search_area flex">
					<select name="type" style="width: 20%; margin-right:10px;">
						<option value="" th:selected="${pageMaker.cri.type == null}">검색</option>
						<option value="I" th:selected="${pageMaker.cri.type == 'I'}">트레이너 아이디</option>
					</select>
					<input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" style="margin-right:10px;">
					<a href="#" class="button">검색</a>
				</div>
				<input type="hidden" value="1" name="pagenum">
				<input type="hidden" value="10" name="amount">
			</form>
		</div>

		<form name="pageForm" id="pageForm" th:action="@{/usermypage/u_t_matching}">
			<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
			<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
			<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
			<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
			<input type="hidden" name="message" th:value="${param.message}">
		</form>

		<form name="messageForm" id="messageForm" th:action="@{/usermypage/user_messagelist}">

		</form>


		<!-- Sidebar -->
		<div class="sidebar">
			<section>
				<div class="boardRanking">
					<div class="boardRanking_ranking">
						<table style="width: 90%;">
							<tr><td><a href="/usermypage/user_myinfo">내 정보 수정</a></td></tr>
<!--							<tr><td><a href="/usermypage/user_diary">나의 다이어리</a></td></tr>-->
							<tr><td><a href="/usermypage/user_challenge">나의 챌린지</a></td></tr>
							<tr><td><a href="/usermypage/user_subtrainer">구독한 트레이너</a></td></tr>
							<tr><td><a href="/usermypage/user_subbookmark">북마크</a></td></tr>
							<tr><td><a href="/usermypage/user_boardlist">내 게시물</a></td></tr>
							<tr><td><a href="/usermypage/user_messagelist" style="color: #5a8100; font-size: 20px;">쪽지함</a></td></tr>
							<tr><td><a href="/usermypage/user_myprofile">나의 프로필</a></td></tr>
							<tr><td><a href="/usermypage/user_applytrainer">트레이너 전환 신청</a></td></tr>
						</table>
					</div>
				</div>
			</section>
		</div>
	</div>

</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebar.js}"></script>

<script th:inline="javascript">
	const searchForm = $("#searchForm");
	const pageForm = $("#pageForm");

	$(".changePage").on("click",function(e){
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		if(pageForm.find("input[name='message']").val() == "" || pageForm.find("input[name='message']").val() == null){
			pageForm.find("input[name='message']").val("messageAll");
		}
		let pagenum = $(this).attr("href");
		pageForm.find("input[name='pagenum']").val(pagenum);
		pageForm.submit();
	});
	$(".get").on("click",function(e){
		e.preventDefault();
		let boardnum = $(this).attr("href");
		let url=/*[[@{/board/get}]]*/'';
		pageForm.append("<input type='hidden' name='boardnum' value='"+boardnum+"'>")
		pageForm.attr("action",url);
		pageForm.attr("method","get");
		pageForm.submit();
	})

	$("#searchForm a").on("click",sendit);
	function sendit(){
		if(!searchForm.find("option:selected").val()){
			alert("검색 기준을 선택하세요!");
			return false;
		}
		if(!document.getElementById("keyword").value){
			alert("키워드를 입력하세요!");
			return false;
		}
		searchForm.submit();
	}

	const cate = document.querySelectorAll('.cate');
	let nowCate = document.querySelector('.now_cate');

	cate.forEach(function(btn) {
		btn.addEventListener('click', function() {
			if (btn.classList.contains('now_cate')) {
			 return;
			}

			btn.classList.remove('not_cate');
			btn.classList.add('now_cate');

			nowCate.classList.remove('now_cate');
			nowCate.classList.add('not_cate');

			nowCate = btn;
		});
	});

	const messageForm = $("#messageForm");
	$(".message").on("click",function(e){
		e.preventDefault();
		let category = $(this).attr("id");
		if(category == "u_t_matching"){
			let url=/*[[@{/usermypage/u_t_matching}]]*/'';
			messageForm.attr("action",url);
		}
		messageForm.append("<input type='hidden' name='message' value='"+category+"'>");
		messageForm.attr("method","get");
		messageForm.submit();
	});


	const mainForm = $("#mainForm");
	const success = document.querySelector('.success');
	const cancel = document.querySelector('.cancel');

	$("#mainForm a").on("click",function(e){
		e.preventDefault();

		let userCheck =$(this).attr("class");
		mainForm.append("<input type='hidden' name='userCheck' value='X'>");
		mainForm.submit();
	});
</script>
</body>
</html>