<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Untitled</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" th:href="@{/assets/css/main.css}" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
</head>
<body class="is-preload">

<!-- Header -->
<header id="header">
	<h1><a href="/">Fit Hub</a></h1>
	<nav id="nav">
		<ul>
			<li><a href="/">홈</a></li>
			<li><a href="/info/info_list">정보</a></li>
			<li><a href="#">칼로리</a></li>
			<li><a href="#">커뮤니티</a></li>
			<li><a href="#">트레이너 매칭</a></li>
			<li><a href="#">챌린지</a></li>
			<li><a href="#">제품</a></li>
			<li><a href="#" class="button">Sign Up</a></li>
		</ul>
	</nav>
</header>

<!-- Main -->
<section id="main" class="wrapper sidebar left">
	<div class="inner">

		<header class="major">
			<h2>마이페이지</h2>
		</header>

		<!-- Content -->
		<div class="content">


			<table>
				<tr>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
				</tr>
				<tr>
					<td>aaaa</td>
					<td>bbbb</td>
					<td>cccc</td>
				</tr>


			</table>


		</div>


		<!-- Sidebar -->
		<div class="sidebar">

			<section>
				<h3><a href="/usermypage/user_modify">내 정보 수정</a></h3>
				<h3><a href="#">나의 다이어리</a></h3>
				<h3><a href="/usermypage/user_challenge">나의 챌린지</a></h3>
				<h3><a href="/usermypage/user_subtrainer">구독한 트레이너</a></h3>
				<h3><a href="/usermypage/user_subbookmark">북마크</a></h3>
				<h3><a href="/usermypage/user_boardlist">내 게시물</a></h3>
				<h3><a href="/usermypage/user_message">쪽지함</a></h3>
				<h3><a href="/usermypage/user_applytrainer">트레이너 전환 신청</a></h3>
			</section>

		</div>

	</div>
</section>

<!-- Footer -->
<footer id="footer">
	<div class="inner">
		<p class="copyright">&copy; Untitled Corp. All rights reserved. Lorem ipsum dolor sit amet feugiat tempus aliquam.</p>
		<ul class="menu">
			<li><a href="#">Terms<span> of Use</span></a></li>
			<li><a href="#">Privacy<span> Policy</span></a></li>
			<li><a href="#">Legal<span> Information</span></a></li>
		</ul>
	</div>
</footer>

<!-- Scripts -->
<script th:src="@{/assets/js/jquery.min.js}"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>

<script th:src="@{/assets/js/util.js}"></script>
<script th:src="@{/assets/js/main.js}"></script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

</body>
</html>