<!DOCTYPE HTML>
<!--
	Slate by Pixelarity
	pixelarity.com | hello@pixelarity.com
	License: pixelarity.com/license
-->
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Fit Hub</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<noscript><link rel="stylesheet" th:href="@{/assets/css/noscript.css}" /></noscript>
	<link rel="stylesheet" th:href="@{/assets/css/index.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/sidebar.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/common.css}" />
	<link rel="stylesheet" th:href="@{/assets/css/profileModal.css}"/>
	<link rel="icon" href="/images/fithub-favicon.png" type="image/png">
</head>
<style>
	.header_box {
		width: 100%;
		background: linear-gradient(to right, rgba(143, 167, 70, 0.25), rgba(143, 167, 70, 0.3)), url(/images/board2.jpg);
		background-size: cover;
		background-position: 0 47%;
	}
	.flex{
		display: flex;
		justify-content: space-between;
	}

	.write {
		margin-left: 10px;
	}
	.long_text {
		word-break: break-all;
		white-space: normal;
		width: 180px;
		max-width: 180px;
		overflow: hidden;
	}
</style>
<body class="is-preload">


<!-- Header -->
<th:block th:replace="~{layout/header::header(${session.loginUser},${session.user},${session.trainer},${session.admin},${session.profile},${session.todaydate})}"></th:block>

<!-- Modal -->
<th:block th:replace="~{layout/profileModal::profileModal}"></th:block>
<!-- Main -->
<section id="main" class="wrapper sidebar left">

	<div class="header_box">
		<header class="test12">
			<p id="mainText">마이페이지</p>
			<p id="subText">내 게시물</p>
		</header>
	</div>

	<div class="inner">

		<!-- Content -->
		<div class="content">

			<!-- 게시글 리스트 띄우는 테이블 -->
			<table class="list" style="text-align: center; margin-top: 20px;">
				<tr align="right" valign="middle" style="background-color: #fff;">
					<td colspan="6" style="padding-right: 0;">글 개수 : [[${pageMaker.total}]]
						<a class="write button btnColor small" th:href="${'/community/commu_write'+pageMaker.cri.listLink}">글쓰기</a>
					</td>
				</tr>
				<tr class="special-row" style="background-color: #fff;">
					<td style="width: 8%" class="long_text">번호</td>
					<td style="width: 8%" class="long_text"></td>
					<td class="long_text">제목</td>
					<td style="width: 15%" class="long_text">작성자</td>
					<td style="width: 25%" class="long_text">날짜</td>
					<td style="width: 10%" class="long_text">조회수</td>
				</tr>
				<tr th:if="${list != null and list.size()>0}" th:each="board : ${list}">
					<td>[[${board.boardNum}]]</td>
					<td>
						<sup class="hot" th:if="${recent_reply[boardStat.index] == 'O'}">Hot</sup>
						<sup class="new" th:if="${newly_board[boardStat.index] == 'O'}">New</sup>
					</td>
					<td>
						<a class="get" th:href="${board.boardNum}">
							[[${board.boardTitle}]]
							<span class="reply_cnt" th:text="'['+${reply_cnt_list[boardStat.index]}+']'"></span>
						</a>
					</td>
					<td><a class="open">[[${board.userId}]]</a></td>
					<td>
						[[${board.regdate}]]
					</td>
					<td>[[${board.viewCnt}]]</td>
				</tr>
				<th:block th:if="${list == null or list.size() == 0}">
					<tr>
						<td colspan="6" style="text-align: center; font-size: 20px;">등록된
							게시글이 없습니다.</td>
					</tr>
				</th:block>
			</table>
			<br>	<!-- 페이징 처리하는 테이블 -->
			<table class="pagination none_color_table">
				<tr align="center" valign="middle">
					<td>
						<a class="changePage" th:if="${pageMaker.prev}" th:href="${pageMaker.startPage-1}">&lt;</a>
						<th:block th:each="i : ${#numbers.sequence(pageMaker.startPage,pageMaker.endPage)}">
							<span class="nowPage" th:text="${i}" th:if="${pageMaker.cri.pagenum == i}"></span>
							<a class="changePage" th:href="${i}" th:text="${i}" th:unless="${pageMaker.cri.pagenum == i}"></a>
						</th:block>
						<a class="changePage" th:if="${pageMaker.next}" th:href="${pageMaker.endPage+1}">&gt;</a>
					</td>
				</tr>
			</table>
			<!-- 글쓰기 버튼 배치하는 테이블 -->
			<form id="searchForm" th:action="@{/usermypage/user_boardlist}">
				<div class="search_area flex">
					<select name="type" style="width: 20%; margin-right:10px;">
						<option value="" th:selected="${pageMaker.cri.type == null}">검색</option>
						<option value="T" th:selected="${pageMaker.cri.type == 'T'}">제목</option>
						<option value="C" th:selected="${pageMaker.cri.type == 'C'}">내용</option>
						<option value="TC" th:selected="${pageMaker.cri.type == 'TC'}">제목 또는 내용</option>
					</select>
					<input type="text" name="keyword" id="keyword" th:value="${pageMaker.cri.keyword}" style="margin-right:10px;">
					<a href="#" class="button btnColor">검색</a>
				</div>
				<input type="hidden" value="1" name="pagenum">
				<input type="hidden" value="10" name="amount">
			</form>
		</div>

		<form name="pageForm" id="pageForm" th:action="@{/usermypage/user_boardlist}">
			<input type="hidden" name="pagenum" th:value="${pageMaker.cri.pagenum}">
			<input type="hidden" name="amount" th:value="${pageMaker.cri.amount}">
			<input type="hidden" name="type" th:value="${pageMaker.cri.type}">
			<input type="hidden" name="keyword" th:value="${pageMaker.cri.keyword}">
		</form>

		<!-- Sidebar -->
		<div class="sidebar">
			<section>
				<div class="boardRanking">
					<div class="boardRanking_ranking">
						<table style="width: 90%;">
							<tr><td><a href="/usermypage/user_myinfo">내 정보 수정</a></td></tr>
<!--							<tr><td><a href="/usermypage/user_diary">나의 다이어리</a></td></tr>-->
							<tr><td><a href="/usermypage/user_challenge">나의 챌린지</a></td></tr>
							<tr><td><a href="/usermypage/user_subtrainer">구독한 트레이너</a></td></tr>
							<tr><td><a href="/usermypage/user_subbookmark">북마크</a></td></tr>
							<tr><td><a href="/usermypage/user_boardlist" style="color: #5a8100; font-size: 20px;">내 게시물</a></td></tr>
							<tr><td><a href="/usermypage/user_messagelist">쪽지함</a></td></tr>
							<tr><td><a href="/usermypage/user_applytrainer">트레이너 전환 신청</a></td></tr>
						</table>
					</div>
				</div>
			</section>
		</div>

	</div>
</section>

<!-- Footer -->
<th:block th:replace="~{layout/footer::footer}"></th:block>

<!-- Scripts -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script th:src="@{/assets/js/jquery.dropotron.min.js}"></script>
<script th:src="@{/assets/js/jquery.scrollex.min.js}"></script>
<script th:src="@{/assets/js/browser.min.js}"></script>
<script th:src="@{/assets/js/breakpoints.min.js}"></script>
<script th:src="@{/assets/js/util_sub.js}"></script>
<script th:src="@{/assets/js/main_sub.js}"></script>

<script th:src="@{/assets/js/sidebarTap.js}"></script>
<script th:src="@{/assets/js/profile.js}"></script>

<script th:inline="javascript">
	const searchForm = $("#searchForm");
	const pageForm = $("#pageForm");

	$(".changePage").on("click",function(e){
		//e(이벤트)의 기본 작동 막기
		e.preventDefault();
		let pagenum = $(this).attr("href");
		pageForm.find("input[name='pagenum']").val(pagenum);
		pageForm.submit();
	});
	$(".get").on("click",function(e){
		e.preventDefault();
		let boardnum = $(this).attr("href");
		let url=/*[[@{/board/get}]]*/'';
		pageForm.append("<input type='hidden' name='boardnum' value='"+boardnum+"'>")
		pageForm.attr("action",url);
		pageForm.attr("method","get");
		pageForm.submit();
	})

	$("#searchForm a").on("click",sendit);
	function sendit(){
		if(!searchForm.find("option:selected").val()){
			alert("검색 기준을 선택하세요!");
			return false;
		}
		if(!document.getElementById("keyword").value){
			alert("키워드를 입력하세요!");
			return false;
		}
		searchForm.submit();
	}


	$(".open").on("click", function (e) {
        e.preventDefault();
        var userId = $(this).text();

        sendUserIdToModal(userId);
        modalBox.classList.add("active");
    });

</script>
</body>
</html>