<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.mapper.AdminMyPageMapper">
    <sql id="cri">
        <if test="keyword != '' and type != ''">
            <trim prefixOverrides="or" prefix="(" suffix=") and">
                <foreach collection="typeArr" item="type">
                    or
                    <choose>
                        <when test="type == 'T'.toString()">
                            (boardtitle like('%${keyword}%'))
                        </when>
                        <when test="type == 'C'.toString()">
                            (boardcontents like('%${keyword}%'))
                        </when>
                        <when test="type == 'W'.toString()">
                            (userid like('%${keyword}%'))
                        </when>
                    </choose>
                </foreach>
            </trim>
        </if>
    </sql>

<!--Report-->
    <select id="getReportList">
        SELECT * FROM report
        WHERE report_yn = 'n'
        ORDER BY report_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getReportListByUser">
        SELECT * FROM report
        WHERE report_yn = 'n'
        AND user_id IN (SELECT user_id FROM user WHERE user_category = 'U')
        order by report_num desc limit #{startrow},#{amount}
    </select>

    <select id="getReportListByTrainer">
        SELECT * FROM report
        WHERE report_yn = 'n'
        AND user_id IN (SELECT trainer_id FROM trainer)
        order by report_num desc
        limit #{startrow},#{amount}
    </select>

    <select id="getReportTotal">
        SELECT COUNT(*) FROM report
        WHERE report_yn = 'n'
        AND report_num > 0;
    </select>

    <select id="getReportTotalByUser">
        SELECT COUNT(*)
        FROM report
        INNER JOIN user ON report.user_id = user.user_id
        WHERE report_yn = 'n'
        AND user.user_category = 'U'
        AND report.report_num > 0;
    </select>

    <select id="getReportTotalByTrainer">
        SELECT COUNT(*)
        FROM report
        INNER JOIN trainer ON report.user_id = trainer.trainer_id
        WHERE report.report_num > 0;
    </select>

    <select id="getDoneReportList">
        SELECT * FROM report
        WHERE report_yn = 'y'
        ORDER BY report_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getDoneReportTotal">
        SELECT COUNT(*) FROM report
        WHERE report_yn = 'y'
        AND report_num > 0;
    </select>

<!--SignUp-->
    <select id="getSignUpList">
        select * from trainer_signup order by signup_num desc limit #{startrow},#{amount}
    </select>

    <select id="getSignUpTotal">
        select count(*) from trainer_signup where signup_num > 0
    </select>

<!--Board-->
    <select id="getBoardList">
        SELECT * FROM board
        WHERE board_category IN ('infoNews', 'infoExer', 'infoFood', 'tip')
        AND user_id IN (SELECT admin_id FROM admin)
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminExerBoardList">
        SELECT * FROM board
        WHERE board_category = 'infoExer'
        AND user_id IN (SELECT admin_id FROM admin)
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminNewsBoardList">
        SELECT * FROM board
        WHERE board_category = 'infoNews'
        AND user_id IN (SELECT admin_id FROM admin)
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminTipBoardList">
        SELECT * FROM board
        WHERE board_category = 'tip'
        AND user_id IN (SELECT admin_id FROM admin)
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminRecipeBoardList">
        SELECT * FROM board
        WHERE board_category = 'infoFood'
        AND user_id IN (SELECT admin_id FROM admin)
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category IN ('infoNews', 'infoExer', 'infoFood', 'tip')
        AND user_id IN (SELECT admin_id FROM admin)
    </select>

    <select id="getExerBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'infoExer'
        AND user_id IN (SELECT admin_id FROM admin)
    </select>

    <select id="getNewsBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'infoNews'
        AND user_id IN (SELECT admin_id FROM admin)
    </select>

    <select id="getTipBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'tip'
        AND user_id IN (SELECT admin_id FROM admin)
    </select>

    <select id="getRecipeBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'infoFood'
        AND user_id IN (SELECT admin_id FROM admin)
    </select>

<!--UserSearch-->
    <select id="getTrainer">
        SELECT * FROM trainer
        WHERE trainer_id = #{keyword}
    </select>

    <select id="getUser">
        SELECT * FROM user
        WHERE user_id = #{keyword}
        AND user_category = 'U'
    </select>

    <select id="getUserList">
        SELECT * FROM user
        WHERE user_category = 'U'
        limit #{startrow},#{amount}
    </select>

    <select id="getTrainerList">
        SELECT * FROM trainer
        limit #{startrow},#{amount}
    </select>

    <select id="getUserTotal">
        SELECT COUNT(*) FROM user
        WHERE user_category = 'U'
    </select>

    <select id="getTrainerTotal">
        SELECT COUNT(*) FROM trainer
    </select>

<!--Message-->
    <select id="getMessageList">
        SELECT * FROM message
        WHERE receive_id LIKE '%admin%'
        AND category = 'meGeneral'
        limit #{startrow},#{amount}
    </select>

    <select id="getMessageTotal">
        SELECT COUNT(*) FROM message
        WHERE receive_id LIKE '%admin%'
        AND category = 'meGeneral'
    </select>

    <select id="getMessageByUser">
        SELECT * FROM message
        WHERE send_id IN (SELECT user_id FROM user WHERE user_category = 'U')
        AND receive_id LIKE '%admin%'
        AND category = 'meGeneral'
        ORDER BY message_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getMessageByTrainer">
        SELECT * FROM message
        WHERE send_id IN (SELECT trainer_id FROM trainer)
        AND receive_id LIKE '%admin%'
        AND category = 'meGeneral'
        ORDER BY message_num desc
        limit #{startrow},#{amount}
    </select>

    <select id="getMessageTotalByUser">
        SELECT COUNT(*)
        FROM message
        INNER JOIN user ON message.send_id = user.user_id
        WHERE message.message_num > 0
        AND message.receive_id LIKE '%admin'
        AND category = 'meGeneral'
    </select>

    <select id="getMessageTotalByTrainer">
        SELECT COUNT(*)
        FROM message
        INNER JOIN trainer ON message.send_id = trainer.trainer_id
        WHERE message.message_num > 0
        AND message.receive_id LIKE '%admin'
        AND category = 'meGeneral'
    </select>

<!--Modal-->
    <select id="getUserByIdBoolean">
        SELECT COUNT(*)
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="getTrainerByIdBoolean">
        SELECT COUNT(*)
        FROM trainer
        WHERE trainer_id = #{userId}
    </select>

    <select id="getUserById">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="getTrainerById">
        SELECT *
        FROM trainer
        WHERE trainer_id = #{userId}
    </select>

    <select id="getReportDTO">
        SELECT *
        FROM report
        WHERE report_num = #{reportNum}
    </select>

    <update id="updateReportYn">
        UPDATE report
        SET report_yn = 'y'
        WHERE report_num = #{reportNum}
    </update>

    <update id="updateReportedUser">
        UPDATE user
        SET user_reportedcnt = user_reportedcnt+1
        WHERE user_id = #{reportedUser}
    </update>

    <update id="updateReportedTrainer">
        UPDATE trainer
        SET trainer_reportedcnt = trainer_reportedcnt+1
        WHERE trainer_id = #{reportedUser}
    </update>

    <insert id="insertMessageReportedUser">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '본인의 게시글이 신고를 받아 삭제 처리되었습니다. 서비스 이용에 주의 바랍니다.', 'admin', #{reportedUser})
    </insert>

    <select id="selectBoard">
        SELECT COUNT(*)
        FROM board
        WHERE board_num = #{boardNum}
        AND board_category IN ('tip', 'comFree', 'comExer', 'comFood', 'comPhoto', 'comQna')
    </select>

    <select id="selectReview">
        SELECT COUNT(*)
        FROM review
        WHERE review_num = #{boardNum}
    </select>

    <select id="selectMessage">
        SELECT COUNT(*)
        FROM message
        WHERE message_num = #{boardNum}
        AND category = 'meGeneral'
    </select>

    <select id="selectChallCert">
        SELECT COUNT(*)
        FROM chall_cert_board
        WHERE board_num = #{boardNum}
    </select>

    <delete id="deleteReportedBoard">
        DELETE FROM board
        WHERE board_num = #{boardNum}
        AND board_category = #{boardCategory}
    </delete>

    <delete id="deleteReportedReview">
        DELETE FROM review
        WHERE review_num = #{boardNum}
    </delete>

    <delete id="deleteReportedMessage">
        DELETE FROM message
        WHERE message_num = #{boardNum}
        AND category = #{boardCategory}
    </delete>

    <delete id="deleteReportedChallCert">
        DELETE FROM chall_cert_board
        WHERE board_num = #{boardNum}
    </delete>

    <insert id="insertMessageDoneReport">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '접수하신 신고가 처리되었습니다.', 'admin', #{userId})
    </insert>

    <insert id="insertMessageCancelReport">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '접수하신 신고가 철회되었습니다.', 'admin', #{userId})
    </insert>

    <select id="getSignUpDTO">
        SELECT *
        FROM trainer_signup
        WHERE signup_num = #{signupNum}
    </select>

    <select id="getSignUpFile">
        SELECT *
        FROM profile
        WHERE user_id = #{userId}
        AND profile_category = 'C';
    </select>

    <update id="updateUserCategory">
        UPDATE user
        SET user_category = 'T'
        WHERE user_id = #{userId}
    </update>

    <insert id="insertTrainer">
        INSERT INTO trainer (
            trainer_id, trainer_name, trainer_nickname, trainer_pw, trainer_tel
          , trainer_mail, trainer_zipcode, trainer_addr, trainer_addrdetail, trainer_addretc
          , trainer_height, trainer_weight, trainer_gender, trainer_birth, trainer_part
          , trainer_career, trainer_intro, trainer_joindate, trainer_reportedcnt)
        VALUES (
            #{userDTO.userId}, #{userDTO.userName}, #{userDTO.userNickname}, #{userDTO.userPw}, #{userDTO.userTel}
          , #{userDTO.userMail}, #{signUpDTO.trainerZipcode}, #{signUpDTO.trainerAddr}, #{signUpDTO.trainerAddrdetail}, #{signUpDTO.trainerAddretc}
          , #{userDTO.userHeight}, #{userDTO.userWeight}, #{userDTO.userGender}, #{userDTO.userBirth}, #{signUpDTO.trainerPart}
          , #{signUpDTO.trainerCareer}, #{signUpDTO.trainerContent}, #{userDTO.userJoindate}, #{userDTO.userReportedcnt})
    </insert>

    <insert id="insertMessageConfirmSignUp">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '트레이너 신청이 승인되었습니다.', 'admin', #{userId})
    </insert>

    <insert id="insertMessageCancelSignUp">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '트레이너 신청이 거절되었습니다.', 'admin', #{userId})
    </insert>

    <delete id="deleteSignUp">
        DELETE FROM trainer_signup
        WHERE signup_num = #{signupNum}
    </delete>

    <select id="getMessage">
        SELECT * FROM message
        WHERE message_num = #{messageNum}
    </select>

    <insert id="returnMessage">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', #{messageContent}, 'admin', #{receiveId})
    </insert>

    <update id="updateMessageCategory">
        UPDATE message
        SET category = 'Done'
        WHERE message_num = #{messageNum}
    </update>
</mapper>
