<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.mapper.AdminMyPageMapper">
    <sql id="cri">
        <if test="keyword != '' and type != ''">
            <trim prefixOverrides="or" prefix="(" suffix=") and">
                <foreach collection="typeArr" item="type">
                    or
                    <choose>
                        <when test="type == 'T'.toString()">
                            (boardtitle like('%${keyword}%'))
                        </when>
                        <when test="type == 'C'.toString()">
                            (boardcontents like('%${keyword}%'))
                        </when>
                        <when test="type == 'W'.toString()">
                            (userid like('%${keyword}%'))
                        </when>
                    </choose>
                </foreach>
            </trim>
        </if>
    </sql>

<!--Report-->
    <select id="getReportList">
        SELECT * FROM report
        WHERE report_yn = 'n'
        ORDER BY report_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getReportListByUser">
        SELECT * FROM report
        WHERE report_yn = 'n'
        AND user_id IN (SELECT user_id FROM user WHERE user_category = 'U')
        order by report_num desc limit #{startrow},#{amount}
    </select>

    <select id="getReportListByTrainer">
        SELECT * FROM report
        WHERE report_yn = 'n'
        AND user_id IN (SELECT trainer_id FROM trainer)
        order by report_num desc
        limit #{startrow},#{amount}
    </select>

    <select id="getReportTotal">
        SELECT COUNT(*) FROM report
        WHERE report_yn = 'n'
        AND report_num > 0;
    </select>

    <select id="getReportTotalByUser">
        SELECT COUNT(*)
        FROM report
        INNER JOIN user ON report.user_id = user.user_id
        WHERE report_yn = 'n'
        AND user.user_category = 'U'
        AND report.report_num > 0;
    </select>

    <select id="getReportTotalByTrainer">
        SELECT COUNT(*)
        FROM report
        INNER JOIN trainer ON report.user_id = trainer.trainer_id
        WHERE report.report_num > 0;
    </select>

    <select id="getDoneReportList">
        SELECT * FROM report
        WHERE report_yn = 'y'
        ORDER BY report_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getDoneReportTotal">
        SELECT COUNT(*) FROM report
        WHERE report_yn = 'y'
        AND report_num > 0;
    </select>

<!--SignUp-->
    <select id="getSignUpList">
        select * from trainer_signup order by signup_num desc limit #{startrow},#{amount}
    </select>

    <select id="getSignUpTotal">
        select count(*) from trainer_signup where signup_num > 0
    </select>

<!--Board-->
    <select id="getBoardList">
        SELECT * FROM board
        WHERE board_category IN ('infoNews', 'infoExer', 'infoFood', 'tip')
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminExerBoardList">
        SELECT * FROM board
        WHERE board_category = 'infoExer'
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminNewsBoardList">
        SELECT * FROM board
        WHERE board_category = 'infoNews'
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminTipBoardList">
        SELECT * FROM board
        WHERE board_category = 'tip'
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getAdminRecipeBoardList">
        SELECT * FROM board
        WHERE board_category = 'infoFood'
        ORDER BY board_num DESC
        LIMIT #{startrow}, #{amount}
    </select>

    <select id="getBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category IN ('infoNews', 'infoExer', 'infoFood', 'tip')
    </select>

    <select id="getExerBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'infoExer'
    </select>

    <select id="getNewsBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'infoNews'
    </select>

    <select id="getTipBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'tip'
    </select>

    <select id="getRecipeBoardTotal">
        SELECT COUNT(*) FROM board
        WHERE board_num > 0
        AND board_category = 'infoFood'
    </select>

<!--UserSearch-->
    <select id="getTrainer">
        SELECT * FROM trainer
        WHERE trainer_id = #{keyword}
    </select>

    <select id="getUser">
        SELECT * FROM user
        WHERE user_id = #{keyword}
        AND user_category = 'U'
    </select>

    <select id="getUserList">
        SELECT * FROM user
        limit #{startrow},#{amount}
    </select>

    <select id="getTrainerList">
        SELECT * FROM trainer
        limit #{startrow},#{amount}
    </select>

    <select id="getUserTotal">
        SELECT COUNT(*) FROM user
    </select>

    <select id="getTrainerTotal">
        SELECT COUNT(*) FROM trainer
    </select>

<!--Message-->
    <select id="getMessageList">
        SELECT * FROM message
        WHERE receive_id LIKE '%admin%'
        limit #{startrow},#{amount}
    </select>

    <select id="getMessageTotal">
        SELECT COUNT(*) FROM message
        WHERE receive_id LIKE '%admin%'
    </select>

    <select id="getMessageByUser">
        SELECT * FROM message
        WHERE send_id IN (SELECT user_id FROM user)
        AND receive_id LIKE '%admin%'
        ORDER BY message_num desc
        limit #{startrow},#{amount}
    </select>

    <select id="getMessageByTrainer">
        SELECT * FROM message
        WHERE send_id IN (SELECT trainer_id FROM trainer)
        AND receive_id LIKE '%admin%'
        ORDER BY message_num desc
        limit #{startrow},#{amount}
    </select>

    <select id="getMessageTotalByUser">
        SELECT COUNT(*)
        FROM message
        INNER JOIN user ON message.send_id = user.user_id
        WHERE message.message_num > 0
        AND message.receive_id LIKE '%admin';
    </select>

    <select id="getMessageTotalByTrainer">
        SELECT COUNT(*)
        FROM message
        INNER JOIN trainer ON message.send_id = trainer.trainer_id
        WHERE message.message_num > 0
        AND message.receive_id LIKE '%admin';
    </select>

<!--Modal-->
    <select id="getUserByIdBoolean">
        SELECT COUNT(*)
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="getTrainerByIdBoolean">
        SELECT COUNT(*)
        FROM trainer
        WHERE trainer_id = #{userId}
    </select>

    <select id="getUserById">
        SELECT *
        FROM user
        WHERE user_id = #{userId}
    </select>

    <select id="getTrainerById">
        SELECT *
        FROM trainer
        WHERE trainer_id = #{userId}
    </select>

    <select id="getReportDTO">
        SELECT *
        FROM report
        WHERE report_num = #{reportNum}
    </select>

    <update id="updateReportYn">
        UPDATE report
        SET report_yn = 'y'
        WHERE report_num = #{reportNum}
    </update>

    <update id="updateReportedUser">
        UPDATE user
        SET user_reportedcnt = user_reportedcnt+1
        WHERE user_id = #{reportedUser}
    </update>

    <update id="updateReportedTrainer">
        UPDATE trainer
        SET trainer_reportedcnt = trainer_reportedcnt+1
        WHERE trainer_id = #{reportedUser}
    </update>

    <insert id="insertMessageReportedUser">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '본인의 게시글이 신고를 받아 삭제 처리되었습니다. 서비스 이용에 주의 바랍니다.', 'admin', #{reportedUser})
    </insert>

    <select id="selectBoard">
        SELECT COUNT(*)
        FROM board
        WHERE board_num = #{boardNum}
        AND board_category IN ('tip', 'comFree', 'comExer', 'comFood', 'comPhoto', 'comQna')
    </select>

    <select id="selectReview">
        SELECT COUNT(*)
        FROM review
        WHERE review_num = #{boardNum}
    </select>

    <select id="selectMessage">
        SELECT COUNT(*)
        FROM message
        WHERE message_num = #{boardNum}
        AND category = 'meGeneral'
    </select>

    <select id="selectChallCert">
        SELECT COUNT(*)
        FROM chall_cert_board
        WHERE board_num = #{boardNum}
    </select>

    <delete id="deleteReportedBoard">
        DELETE FROM board
        WHERE board_num = #{boardNum}
        AND board_category = #{boardCategory}
    </delete>

    <delete id="deleteReportedReview">
        DELETE FROM review
        WHERE review_num = #{boardNum}
    </delete>

    <delete id="deleteReportedMessage">
        DELETE FROM message
        WHERE message_num = #{boardNum}
        AND category = #{boardCategory}
    </delete>

    <delete id="deleteReportedChallCert">
        DELETE FROM chall_cert_board
        WHERE board_num = #{boardNum}
    </delete>

    <insert id="insertMessageDoneReport">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '접수하신 신고가 처리되었습니다.', 'admin', #{userId})
    </insert>

    <insert id="insertMessageCancelReport">
        INSERT INTO message (category, message_content, send_id, receive_id)
        VALUES ('meGeneral', '접수하신 신고가 철회되었습니다.', 'admin', #{userId})
    </insert>

    <select id="getSignUpDTO">
        SELECT *
        FROM trainer_signup
        WHERE signup_num = #{signupNum}
    </select>

    <select id="getSignUpFile">
        SELECT *
        FROM profile
        WHERE user_id = #{userId}
        AND profile_category = 'C';
    </select>
</mapper>
