<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.mapper.BoardMapper">
	<sql id="cri">
		<if test="keyword != '' and type != ''">
			<trim prefixOverrides="or" prefix="(" suffix=") and">
				<foreach collection="typeArr" item="type">
					or
					<choose>
						<when test="type == 'T'.toString()">
							(board_title like('%${keyword}%'))
						</when>
						<when test="type == 'C'.toString()">
							(board_content like('%${keyword}%'))
						</when>
						<when test="type == 'W'.toString()">
							(user_id like('%${keyword}%'))
						</when>
					</choose>
				</foreach>
			</trim>
		</if>
	</sql>

	<insert id="insertBoard">
		insert into board (board_category,board_title,board_content,user_id)
		values(#{boardCategory},#{boardTitle},#{boardContent},#{userId})
	</insert>

	<update id="updateReadCount">
		update board set view_cnt = view_cnt+1 where board_num = #{boardNum}
	</update>

	<update id="updateBoard">
		update board set board_category=#{boardCategory}, board_title=#{boardTitle}, board_content=#{boardContent},update_date=now()
		where board_num=#{boardNum}
	</update>

	<delete id="deleteBoard">
		delete from board where board_num=#{boardNum}
	</delete>

	<select id="getList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category=#{boardCategory} order by board_num desc limit #{startrow},#{amount}
		]]>

	</select>

	<select id="getInfoNewsList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='infoNews' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getInfoExerList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='infoExer' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getInfoFoodList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='infoFood' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getInfoTipList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='infoTip' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getCommuFreeList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='commuFree' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getCommuExerList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='commuExer' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getCommuFoodList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='commuFood' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getCommuGalleryList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='commuGallery' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>

	<select id="getCommuQnaList">
		select * from board where
		<include refid="cri"/>
		<![CDATA[
			0 < board_num and board_category='commuQna' order by board_num desc limit #{startrow},#{amount}
		]]>
	</select>


	<select id="getTotal">
		select count(*) from board where
		<include refid="cri"/> board_num > 0
	</select>
	<select id="getLastNum">
		select max(board_num) from board where user_id=#{userId}
	</select>

	<select id="findByNum">
		select * from board where board_num=#{boardNum}
	</select>


	<select id="getMyList">
		select * from board where user_id=#{userId}
		order by board_num desc limit #{cri.startrow},#{cri.amount}
	</select>

<!--	통합검색 -->

<!--	<select id="getAllList">-->
<!--		select * from board where (board_title like('%${keyword}%')) or (board_content like('%${keyword}%')) or (user_id like('%${keyword}%'))-->
<!--		order by board_num desc-->
<!--	</select>-->

	<select id="getAllSearchCnt">
		select count(*) from board where (board_title like('%${keyword}%')) or (board_content like('%${keyword}%')) or (user_id like('%${keyword}%'))
	</select>

	<select id="getinfoSearchList">
		select *
		from board
		where (board_category in ('infoNews','infoExer','infoFood'))
		  and ((board_title like ('%${keyword}%')) or (board_content like ('%${keyword}%')) or
			   (user_id like ('%${keyword}%')))
		order by like_cnt desc, board_num asc ;
	</select>

	<select id="getcriinfoList">
        select *
        from board
        where (board_category in ('infoNews','infoExer','infoFood')
          and ((board_title like ('%${crikey.getKeyword()}%')) or (board_content like ('%${crikey.keyword}%')) or
               (user_id like ('%${crikey.keyword}%')))
        order by like_cnt desc, board_num asc;
    </select>


	<select id="getTipSearchList">
			select *
			from board
			where board_category = 'infoTip'
			  and ((board_title like ('%${keyword}%')) or (board_content like ('%${keyword}%')) or
				   (user_id like ('%${keyword}%')))
			order by like_cnt desc, board_num asc
		</select>
        <select id="getCommuSearchList">
            select *
            from board
            where board_category like ('%commu%')
              and ((board_title like ('%${keyword}%')) or (board_content like ('%${keyword}%')) or
                   (user_id like ('%${keyword}%')))
            order by like_cnt desc, board_num asc
        </select>

        <select id="getBoardTop5List">
			select *
			from board
			order by like_cnt desc, view_cnt desc, update_date desc limit 5;

		</select>


	<!-- Main_index -->
	<select id="getNewsTop1">
		SELECT * FROM board
		WHERE board_category = 'infoNews'
		ORDER BY view_cnt DESC
			LIMIT 1;
	</select>
	<select id="getExerTop1">
		SELECT * FROM board
		WHERE board_category = 'infoExer'
		ORDER BY view_cnt DESC
			LIMIT 1;
	</select>
	<select id="getFoodTop1">
		SELECT * FROM board
		WHERE board_category = 'infoFood'
		ORDER BY view_cnt DESC
			LIMIT 1;
	</select>


</mapper>







