<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.mapper.CalorieMapper">

    <select id="findByFoodName">
        SELECT * FROM food WHERE food_name LIKE CONCAT('%', #{keyword}, '%') LIMIT 30;
    </select>

    <select id="getTop30FoodsByViewCnt">
        SELECT * FROM food ORDER BY view_cnt DESC, food_num ASC LIMIT 30;
    </select>
    <select id="getViewF">
        select * from food where food_num=#{foodNum};
    </select>

    <select id="FindFoodNameModal">
        SELECT * FROM food WHERE food_name LIKE CONCAT('%', #{keyword}, '%') ORDER BY view_cnt DESC, food_num ASC LIMIT 20;
    </select>

    <select id="FindExecNameModal">
        SELECT * FROM exercise WHERE exec_name LIKE CONCAT('%', #{keyword}, '%') ORDER BY view_cnt DESC, exec_num ASC LIMIT 20;
    </select>

    <select id="findByFoodNum">
        SELECT * FROM food where food_num = #{foodnum};
    </select>

    <update id="updateViewCountF">
        update food set view_cnt = view_cnt + 1 where food_num = #{foodNum}
    </update>



    <select id="findByExecName">
        SELECT * FROM exercise WHERE exec_name LIKE CONCAT('%', #{keyword}, '%') LIMIT 30;
    </select>

    <select id="getTop30ExecsByViewCnt">
        SELECT * FROM exercise ORDER BY view_cnt DESC, exec_num ASC LIMIT 30;
    </select>
    <select id="getViewE">
        select * from exercise where exec_num=#{execNum};
    </select>
    <select id="findByExecNum">
        select * from exercise where exec_num=#{ExecNum}
    </select>
    <update id="updateViewCountE">
        update exercise set view_cnt = view_cnt+1 where exec_num = #{execNum}
    </update>
</mapper>