<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.mapper.TrainerMapper">

    <select id="findById">
        select * from trainer where trainer_id=#{trainerId}
    </select>

    <update id="updateUser">
        update trainer set
        trainer_nickname=#{trainerNickname},trainer_pw=#{trainerPw}, trainer_tel=#{trainerTel}, trainer_mail=#{trainerMail},
        trainer_zipcode=#{trainerZipcode},trainer_addr=#{trainerAddr},trainer_addrdetail=#{trainerAddrdetail},trainer_addretc=#{trainerAddretc},
        trainer_height=#{trainerHeight},trainer_weight=#{trainerWeight},trainer_part=#{trainerPart},trainer_career=#{trainerCareer},
        trainer_intro=#{trainerIntro}
        where trainer_id=#{trainerId}
    </update>

    <select id="getTrainerInfo">
        select * from trainer where trainer_id=#{trainerId};
    </select>

    <select id="getTrainerTop1">
        SELECT trainer.*, COUNT(subscribe.trainer_id) AS subscription_count
        FROM trainer
        LEFT JOIN subscribe ON trainer.trainer_id = subscribe.trainer_id
        GROUP BY trainer.trainer_id
        ORDER BY subscription_count DESC
        LIMIT 3
    </select>
</mapper>

