<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.demo.mapper.TrainerMatchingMapper">
    <sql id="cri">
        <if test="keyword != '' and type != ''">
            <trim prefixOverrides="or" prefix="(" suffix=") and">
                <foreach collection="typeArr" item="type">
                    or
                    <choose>
                        <when test="type == 'T'.toString()">
                            (boardtitle like('%${keyword}%'))
                        </when>
                        <when test="type == 'C'.toString()">
                            (boardcontents like('%${keyword}%'))
                        </when>
                        <when test="type == 'W'.toString()">
                            (userid like('%${keyword}%'))
                        </when>
                    </choose>
                </foreach>
            </trim>
        </if>
    </sql>

    <insert id="insertBoard">
        insert into trainer_matching_board (board_title, trainer_id, expiration_time, avail_consult_weeks, avail_consult_time, trainer_zipcode, trainer_addr, trainer_addrdetail, board_content)
        values (#{boardTitle}, #{trainerId}, #{expirationTime}, #{availConsultWeeks}, #{availConsultTime}, #{trainerZipcode}, #{trainerAddr}, #{trainerAddrdetail}, #{boardContent})
    </insert>
    <select id="getList">
        select * from trainer_matching_board where
<!--        <include refid="cri"></include>-->
        <![CDATA[
			0 < board_num order by board_num desc limit #{startrow},#{amount}
		]]>
    </select>

    <select id="getLastNum">
        select max(board_num) from trainer_matching_board where trainer_id=#{trainerId}
    </select>

    <select id="boardView">
        select * from trainer_matching_board where board_num=#{boardNum}
    </select>

    <update id="updateViewCount">
        update trainer_matching_board set view_cnt = view_cnt + 1 where board_num=#{boardNum}
    </update>

    <!-- Modal -->
    <select id="getUserByIdBoolean">
        SELECT COUNT(*)
        FROM user
        WHERE user_nickname = #{trainerNickname}
    </select>

    <select id="getTrainerByIdBoolean">
        SELECT COUNT(*)
        FROM trainer
        WHERE trainer_nickname = #{trainerNickname}
    </select>

    <select id="getUserById">
        SELECT *
        FROM user
        WHERE user_nickname = #{trainerNickname}
    </select>

    <select id="getTrainerById">
        SELECT *
        FROM trainer
        WHERE trainer_nickname = #{trainerNickname}
    </select>
    <select id="getBoardBytrainerId">
        SELECT *
        FROM trainer_matching_board
        WHERE trainer_id = #{trainerId}
    </select>
    <insert id="saveMatching">
        insert into u_t_matching (user_id, trainer_id)
        values (#{userId}, #{trainerId})
    </insert>
    <select id="getutBytrainerId">
        SELECT *
        FROM u_t_matching
        WHERE trainer_id = #{trainerId}
    </select>

<!--    통합검색-->
    <select id="getMachingSearchList">
        SELECT * FROM trainer_matching_board where ((board_title like('%${keyword}%')) or (board_content like('%${keyword}%')) or (trainer_id like('%${keyword}%')))
        order by board_num asc;
    </select>
</mapper>